
@{
}

<style>
    .table-title {
        color: #fff;
        background: #4b5366;
        /*     padding: 16px 25px;
            margin: -20px -25px 10px; */
        border-radius: 3px 3px 0 0;
    }

        .table-title h2 {
            margin: 5px 0 0;
            font-size: 24px;
        }

</style>

<br />

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card card-outline ">
                <div class="card-header table-title">
                    <div class="card-title">
                        <h2>Reel List <b></b></h2>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table table-striped table-bordered table-responsive text-nowrap">
                        <table id="listTable" class="dt-column-search table table-bordered table-responsive dataTable" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Reel Code</th>
                                    <th>Item Code</th>
                                    <th>Qty</th>
                                    <th>Status</th>
                                    <th>Actual Height</th>
                                    <th>Created Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <link href="~/css/datatables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/sweetalert2.min.css">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/datatables.min.js"></script>
    <script src="~/js/sweetalert2.all.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            loadList();
        });

        function loadList() {
            // console.log('start');
            $.ajax({
                url: "/Reel/GetReelist/",
                type: "GET",
                dataType: 'JSON',
                // data: JSON.stringify(jsonInput),
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {
                    Swal.fire({
                        text: 'Please Wait',
                        width: '300px',

                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        showConfirmButton: false,
                    });
                    Swal.showLoading()
                },
                success: function (result) {
                    // console.log(result);
                    swal.close()
                    if (result.success == true) {
                        $('#listTable').DataTable( {
                            data: result.data,
                            paging: true,
                            pageLength: 50,
                            lengthMenu: [50, 100, 250, 500, 1000],
                            columns: [
                                { data: 'reelCode' },
                                { data: 'itemCode' },
                                { data: 'qty' },
                                { data: 'status' },
                                { data: 'actualHeight' },
                                { data: 'createdDate' },
                                {
                                    data: null,
                                    render: function (data, type, row, meta) {
                                        return '<div style="display:flex;"><button class="btn btn-success d-grid" style="margin-right:10px;" onclick="updateStatusForm(\'' + row.reel_Id + '\', \'' + row.reelCode + '\', \'' + row.status + '\')"><span><i class="bi bi-pencil-square""></i>  Update Status</span></button>' +
                                                '<div style="display:flex;"><button class="btn btn-warning d-grid" style="margin-right:10px;" onclick="updateQtyForm(\'' + row.reel_Id + '\', \'' + row.reelCode + '\', \'' + row.qty + '\')"><span><i class="bi bi-pencil-square""></i>  Update Qty</span></button>';
                                                // '<button class="btn btn-danger deactivate-account" onclick="deleteReel(\'' + row.reel_Id + '\', \'' + row.reelCode + '\')"><span><i class="bi bi-trash""></i>  Delete</span></button></div>';
                                    }
                                }
                            ],
                        });



                    }
                    else {
                        swal.fire({
                            icon: 'error',
                            title: "Wait",
                            text: result.errMessage
                        });
                    }
                },
                error: function (error) {
                    swal.fire({
                        icon: 'error',
                        title: "Wait",
                        text: error.val
                    });
                }
            });
        }

        function updateStatusForm(id, binCode, status) {
            // $("#txtId").val(id);
            // $("#txtCode").val(binCode);
            // $("#txtColNo").val(colNo);
            // $("#txtRowNo").val(rowNo);
            // if (isAct == "true") {
            //     document.getElementById("chkIsActive").checked = true;
            // }
            // else {
            //     document.getElementById("chkIsActive").checked = false;
            // }
            $("#myModal").modal("show");
        }

        function updateQtyForm(id, binCode, qty) {
            // $("#txtId").val(id);
            // $("#txtCode").val(binCode);
            // $("#txtColNo").val(colNo);
            // $("#txtRowNo").val(rowNo);
            // if (isAct == "true") {
            //     document.getElementById("chkIsActive").checked = true;
            // }
            // else {
            //     document.getElementById("chkIsActive").checked = false;
            // }
            $("#myModal").modal("show");
        }

        function cancelForm() {
            $("#myModal").modal("toggle");
        }

        function deleteReel(id, binCode) {

            swal.fire({
                title: "Are you sure want to delete?",
                text: "You will not be able to recover this record!",
                inputAttributes: {
                    autocapitalize: 'off'
                },
                showCancelButton: true,
                confirmButtonText: 'ok',
                cancelButtonText: 'cancel',
                allowOutsideClick: false
              }).then(function(r) {
                if (r.isConfirmed == true) {

                    var data = {
                        Bin_Id: id,
                        BinCode: binCode,
                        ColNo: 0,
                        RowNo: 0,
                        IsActive: false
                    }

                    $.ajax({
                        url: '/Bin/DeleteBin',
                        type: 'DELETE',
                        data: JSON.stringify(data),
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        beforeSend: function () {
                            Swal.fire({
                                text: 'Please Wait',
                                width: '300px',

                                allowEscapeKey: false,
                                allowOutsideClick: false,
                                showConfirmButton: false,
                            });
                            Swal.showLoading()
                        },
                        success: function (result) {
                            if (result.success == true) {
                                $("#myModal").modal("toggle");
                                swal.fire({
                                    icon: 'success',
                                    title: "Success Deleted",
                                    text: "",
                                    didClose: () => {
                                      window.location.reload();
                                    }
                                });
                            }
                            else {
                                swal.fire({
                                    icon: 'error',
                                    title: "Wait",
                                    text: result.errMessage
                                });
                            }
                        },
                        error: function (error) {
                            console.log(error);
                            swal.fire({
                                icon: 'error',
                                title: "Wait",
                                text: error.val
                            });
                        }
                    });

                } else {
                    return;
                }
              });

        }

    </script>
}
