
@{
}

<style type="text/css">
    body {
        color: #566787;
        background: #f5f5f5;
        /* font-family: 'Varela Round', sans-serif; */
        /* font-size: 13px; */
    }

    .status {
        font-size: 30px;
        margin: 2px 2px 0 0;
        display: inline-block;
        vertical-align: middle;
        line-height: 10px;
    }

    .table-title {
        color: #fff;
        background: #4b5366;
        /*     padding: 16px 25px;
                            margin: -20px -25px 10px; */
        border-radius: 3px 3px 0 0;
    }

        .table-title h2 {
            margin: 5px 0 0;
            font-size: 24px;
        }

    .containerDtl {
        height: 100%;
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
        background-color: white;
        padding: 30px;
    }

    .containerDtlHistory {
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
        background-color: white;
        padding: 30px;
    }

        .containerDtlHistory p {
            margin-bottom: 0;
        }

        .containerDtlHistory input {
            /* padding: 10px 0; */
            margin-bottom: 10px;
        }

    .progressBar {
        margin-bottom: 30px;
        overflow: hidden;
        color: lightgray;
    }

        .progressBar li {
            list-style-type: none;
            font-size: 15px;
            width: 20%;
            float: left;
            font-weight: 400;
            text-align: center;
            position: relative;
            z-index: 1;
        }

        .progressBar .active {
            color: #673ab7;
        }

        .progressBar li::before {
            width: 50px;
            height: 50px;
            line-height: 50px;
            display: block;
            font-size: 20px;
            color: #fff;
            background: lightgrey;
            border-radius: 50%;
            margin: 0 auto 10px auto;
            padding: 2px;
        }

        .progressBar li::after {
            content: "";
            width: 100%;
            height: 2px;
            background: lightgrey;
            position: absolute;
            left: 50px;
            top: 25px;
            z-index: -1;
        }

        .progressBar li.active::before {
            background: #673ab7;
        }

        .progressBar li.next::after {
            background: #673ab7;
        }

        .progressBar #step1::before {
            content: "1";
            font-family: Arial;
        }

        .progressBar #step2::before {
            content: "2";
            font-family: Arial;
        }

        .progressBar #step3::before {
            content: "3";
            font-family: Arial;
        }

        .progressBar #step4::before {
            content: "4";
            font-family: Arial;
        }

        .progressBar #stepLast::before {
            content: "5";
            font-family: Arial;
        }

        .progressBar #stepLast::after {
            width: 0;
        }

    .form-group {
        display: none;
    }

        .form-group.form-active {
            display: block;
            margin: 30px 0;
        }

    .form-group-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 10px;
    }

    .form-title {
        color: #673ab7;
        text-align: center;
        font-size: 28px;
        margin: 20px 0;
    }

    .error-message {
        color: red;
        /* font-size: 0.875rem; */
    }

    .hidden {
        display: none;
    }

    @@media (min-width: 1380px) {
        .progressBar li::after {
            left: 100px;
        }
    }
</style>


<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <div class="card card-outline ">
                <div class="card-header table-title">
                    <div class="card-title">
                        <h2>NEW Auto Loader Task <b></b></h2>
                    </div>
                    <div class="card-tools">
                        <button type="button" class="btn btn-danger" onclick="restartStep()">
                            NEW LOADER
                        </button>
                        <button type="button" class="btn btn-success" onclick="endTask()">
                            END TASK
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-3" style="padding-right:0px;">
                        <div class="card-body" style="background: #f2f2f2; width:100%; height:100%;padding-right:0px;">
                            <div class="container containerDtlHistory" style="min-height:50px;">
                                <p>Auto Loader ID : </p>
                                <input class="form-control" type="text" id="txtHLoader" disabled>
                                <p>Lock Status : </p>
                                <input class="form-control" type="text" id="txtHLoaderLock" disabled>
                                <p>Gripper Status : </p>
                                <input class="form-control" type="text" id="txtHGripper" disabled>
                                <p>Column : </p>
                                <input class="form-control" type="text" id="txtHCol" disabled>
                            </div>
                            <br />
                            <div class="container containerDtlHistory" style="min-height:50px;">
                                <p>Empty Tray : </p>
                                <input class="form-control" type="text" id="txtHEmpty" disabled>
                                <p>Reel : </p>
                                <input class="form-control" type="text" id="txtHReel" disabled>
                                <p>Item : </p>
                                <input class="form-control" type="text" id="txtHItem" disabled>
                                <p>Act. Height : </p>
                                <input class="form-control" type="text" id="txtHActH" disabled>
                                <p>To Slot : </p>
                                <input class="form-control" type="text" id="txtHSlot" disabled>
                                <p>Slot Take : </p>
                                <input class="form-control" type="text" id="txtHSlotTake" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-9" style="padding-left:0px;">
                        <div class="card-body" style="background: #f2f2f2; height:100%;">
                            <div class="container containerDtl" style="">
                                <ul class="progressBar">
                                    <li class="active" id="step1">
                                        Loader
                                    </li>
                                    <li id="step2">
                                        Lock / Gripper
                                    </li>
                                    <li id="step3">
                                        Empty Tray
                                    </li>
                                    <li id="step4">
                                        Put Away
                                    </li>
                                    <li id="stepLast">
                                        Finalize
                                    </li>
                                </ul>

                                <div class="form-group" id="sec1">
                                    <div class="row">
                                        <h2 class="form-title">Step 1 :: Scan Loader </h2>
                                        <div class=" " id="pnl1_body">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6" style="text-align: center;">
                                                    <img src="~/assets/img/barcode.gif" style="width:50%;" />
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="input-group">
                                                        <input class="form-control" type="text" placeholder="Scan or Insert Loader ID ... " id="txtScanLoader">
                                                        <span class="input-group-text" onclick="clearLoaderScanCode()">X</span>
                                                    </div>
                                                    <br />
                                                    <p id="pLoader1">
                                                        Loader :
                                                        <span class="error-message" id="err1"> </span>
                                                    </p>

                                                    <button class="btn btn-success" style="width:100%;" onclick="next1()"> Next </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" id="sec2">
                                    <div class="row">
                                        <h2 class="form-title">Step 2 :: Check Flexilock and Gripper </h2>
                                        <div class=" " id="pnl2_body">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6" style="text-align: center;">
                                                    <img src="~/assets/img/vpn.gif" style="width:50%;" />
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <p id="pFlexi1">
                                                        Fork Status :
                                                        <span style="color:red; font-size:15px;" id="errFlexi1"> </span>
                                                    </p>
                                                    <p id="pFlexi2">
                                                        Fork Status :
                                                        <span style="color:red; font-size:15px;" id="errFlexi2"> </span>
                                                    </p>
                                                    <p id="pGripper2">
                                                        Fork Status :
                                                        <span style="color:red; font-size:15px;" id="errGripper2"> </span>
                                                    </p>
                                                    <button class="btn btn-warning" onclick="retry2()" id="btnRetry2" style="width:49%;">Retry</button>
                                                    <button class="btn btn-success" style="width:49%;" onclick="next2()"> Next </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" id="sec3">
                                    <div class="row">
                                        <h2 class="form-title">Step 3 :: Get Empty Tray </h2>
                                        <div class=" " id="pnl3_body">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6" style="text-align: center;">
                                                    <img src="~/assets/img/shower-tray.gif" style="width:50%;" />
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <p id="pETray3">
                                                        Empty Tray Slot :
                                                        <span style="color:red; font-size:15px;" id="errCol3"> </span>
                                                    </p>
                                                    <p id="pGetTray3">
                                                        Get Tray Status :
                                                        <span style="color:red; font-size:15px;" id="errFork3"> </span>
                                                    </p>
                                                    <button class="btn btn-warning" onclick="retry3()" id="btnRetry3" style="width:49%;">Retry</button>
                                                    <button class="btn btn-success" style="width:49%;" onclick="next3()"> Next </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" id="sec4">
                                    <div class="row">
                                        <h2 class="form-title">Step 4 :: Scan Reel and Put Away </h2>
                                        <div class=" " id="pnl4_body">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6" style="text-align: center;">
                                                    <img src="~/assets/img/3d-scanning.gif" style="width:50%;" />
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <p id="pReel4">
                                                        Reel ID : <span style="color:red; font-size:15px;" id="errReel4"> </span>
                                                    </p>
                                                    <p id="pItem4">
                                                        Item Code : <span style="color:red; font-size:15px;" id="errItem4"> </span>
                                                    </p>
                                                    <p id="pHeight4">
                                                        Actual Height :
                                                    </p>
                                                    <p id="pSlot4">
                                                        Slot Code : <span style="color:red; font-size:15px;" id="errSlot4"> </span>
                                                    </p>
                                                    <p id="pSlotTake4">
                                                        Slot Reserve : <span style="color:red; font-size:15px;" id="errSlotTake4"> </span>
                                                    </p>
                                                    <button class="btn btn-warning" onclick="retry4a()" id="btnRetry4a" style="width:49%;">Retry Scan Reel</button>
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6" style="text-align: center;">
                                                    <img src="~/assets/img/box.gif" style="width:50%;" />
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <br />
                                                    <p id="pPick4">
                                                        Pick Reel from Auto Loader Status : <span style="color:red; font-size:15px;" id="errPick4"> </span>
                                                    </p>
                                                    <button class="btn btn-warning" onclick="retry4b()" id="btnRetry4b" style="width:49%;">Retry Pick</button>
                                                    <hr />
                                                    <p id="pPlace4">
                                                        Place to Tray Status : <span style="color:red; font-size:15px;" id="errPlace4"> </span>
                                                    </p>
                                                    <button class="btn btn-warning" onclick="retry4c()" id="btnRetry4c" style="width:49%;">Retry Place</button>
                                                    <hr />
                                                    <p id="pPutAway4">
                                                        Put Away Status : <span style="color:red; font-size:15px;" id="errPutAway4"> </span>
                                                    </p>
                                                    <button class="btn btn-warning" onclick="retry4d()" id="btnRetry4d" style="width:49%;">Retry Put Away</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" id="secLast">
                                    <div class="row form-group-row">
                                        <h2 class="form-title">Step 5 :: Finalizing </h2>
                                        <div class=" " id="pnlLast_body">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6" style="text-align: center;">
                                                    <img src="~/assets/img/padlock.gif" style="width:50%;" />
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <p style="text-align:center;" id="pTextLast">Waiting finish loading reel ...</p>

                                                    <button class="btn btn-warning" onclick="retryLast()" id="btnRetryLast" style="width:49%;">Retry Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <input type="hidden" id="txtLoaderId">
                            <input type="hidden" id="txtLoaderCode">
                            <input type="hidden" id="txtReelId">
                            <input type="hidden" id="txtReelCode">
                            <input type="hidden" id="txtActHeight">
                            <input type="hidden" id="txtICol">
                            
                            <input type="hidden" id="txtStep2">
                            <input type="hidden" id="txtStep3">
                            <input type="hidden" id="txtStep4">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="warnTurnModal" role="dialog" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body" style="padding: 50px;">
                <div class="row">
                    <div class="col-6">
                        <img src="~/assets/img/a-b.gif" style="width:100%;" />
                    </div>
                    <div class="col-6">
                        <p class="" style="font-size:2em;">Please make sure hands off and tap Start Turn Column button.</p>
                        <button class="btn btn-success" style="width: 100%; height: 150px;" onclick="turnCol()">Start Turn Column</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <link href="~/css/datatables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/sweetalert2.min.css">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/datatables.min.js"></script>
    <script src="~/js/sweetalert2.all.min.js"></script>

    <script type="text/javascript">

        const scanLoaderEle = document.getElementById('txtScanLoader');

        scanLoaderEle.addEventListener('keyup', function(event) {
          // Check if the pressed key is "Enter" (key code 13 or key property "Enter")
          if (event.key === 'Enter') {

            const inputValue = this.value;
            // alert('Enter key pressed! Value: ');

            var code = inputValue;
            $.ajax({
                url: "/Loader/GetLoaderInfo_PendingToUnLoad?req=" + code,
                type: "GET",
                dataType: 'JSON',
                // data: JSON.stringify(jsonInput),
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {
                    Swal.fire({
                        text: 'Please Wait',
                        width: '300px',

                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        showConfirmButton: false,
                    });
                    Swal.showLoading()
                },
                success: function (result) {
                    //console.log(result);
                    swal.close();
                    if (result.success == true) {
                        addLoader(0, result.data.loader_Id, result.data.loaderCode);
                    }
                    else {
                        $('#pLoader1').html('Loader :  <span class="error-message" id="err1">' + result.errMessage + '</span>');
                        // swal.fire({
                        //     icon: 'error',
                        //     title: "Wait",
                        //     text: result.errMessage
                        // });
                    }
                },
                error: function (error) {
                    $('#pLoader1').html('Loader :  <span class="error-message" id="err1">' + error.val + '</span>');
                    // swal.fire({
                    //     icon: 'error',
                    //     title: "Wait",
                    //     text: error.val
                    // });
                }
            });
          }
        });

        $(document).ready(function () {
            $("#txtICol").val('1');
            resetColorPLCForm(1);
        });

        function addLoader(_type, id, code) {
            if (_type == 1) {
                const selLoader = document.getElementById('selLoader');
                const idx = selLoader.selectedIndex;
                const selectedOption = selLoader.options[idx];
                id = selectedOption.value;
                code = selectedOption.text;


                $.ajax({
                    url: "/Loader/GetLoaderInfo_PendingToUnLoad?req=" + code,
                    type: "GET",
                    dataType: 'JSON',
                    // data: JSON.stringify(jsonInput),
                    contentType: 'application/json; charset=utf-8',
                    beforeSend: function () {
                        Swal.fire({
                            text: 'Please Wait',
                            width: '300px',

                            allowEscapeKey: false,
                            allowOutsideClick: false,
                            showConfirmButton: false,
                        });
                        Swal.showLoading()
                    },
                    success: function (result) {
                        //console.log(result);
                        swal.close();
                        if (result.success == true) {
                        }
                        else {
                            swal.fire({
                                icon: 'error',
                                title: "Wait",
                                text: result.errMessage
                            });
                            return;
                        }
                    },
                    error: function (error) {
                        swal.fire({
                            icon: 'error',
                            title: "Wait",
                            text: error.val
                        });
                        return;
                    }
                });

            }

            // continue
            $("#txtLoaderId").val(id);
            $("#txtLoaderCode").val(code);
            loadPLC(1);

            $("#txtHLoader").val(code);
        }

        function restartStep() {
            resetColorPLCForm(1);

            $("#txtScanLoader").val('');
            $('#pLoader1').html('Loader : <span class="error-message" id="err1"> </span>');

            $("#txtLoaderId").val('');
            $("#txtLoaderCode").val('');
            $("#txtReelId").val('');
            $("#txtReelCode").val('');
            $("#txtActHeight").val(0);
            $("#txtICol").val(1);
            $("#txtStep2").val('');
            $("#txtStep3").val('');
            $("#txtStep4").val('');

            $("#txtHLoader").val('');
            $("#txtHLoaderLock").val('');
            $("#txtHGripper").val('');
            $("#txtHCol").val('');

            $("#txtHEmpty").val('');
            $("#txtHReel").val('');
            $("#txtHItem").val('');
            $("#txtHActH").val('');
            $("#txtHSlot").val('');
            $("#txtHSlotTake").val('');

            scanLoaderEle.focus();

        }

        function nextReel() {
            next1();
        }

        function resetColorPLCForm(idx) {
            $("#sec1").removeClass("form-active");
            $("#sec2").removeClass("form-active");
            $("#sec3").removeClass("form-active");
            $("#sec4").removeClass("form-active");
            $("#secLast").removeClass("form-active");

            $("#step1").removeClass("next");
            $("#step2").removeClass("next");
            $("#step3").removeClass("next");
            $("#step4").removeClass("next");
            $("#stepLast").removeClass("next");

            $("#step1").removeClass("active");
            $("#step2").removeClass("active");
            $("#step3").removeClass("active");
            $("#step4").removeClass("active");
            $("#stepLast").removeClass("active");

            $('#btnRetry2').addClass("hidden");
            $('#btnRetry3').addClass("hidden");
            $('#btnRetry4a').addClass("hidden");
            $('#btnRetry4b').addClass("hidden");
            $('#btnRetryLast').addClass("hidden");

            if (idx == 1) {
                $("#sec1").addClass("form-active");
                $("#step1").addClass("active");

                $('#err1').html("");
            }
            else if (idx == 2) {
                $("#sec2").addClass("form-active");
                $("#step1").addClass("next");
                $("#step1").addClass("active");
                $("#step2").addClass("active");

                $('#err2').html("");
            }
            else if (idx == 3) {
                $("#sec3").addClass("form-active");
                $("#step1").addClass("next");
                $("#step2").addClass("next");
                $("#step1").addClass("active");
                $("#step2").addClass("active");
                $("#step3").addClass("active");

                $('#errCol3').html("");
                $('#errFork3').html("");
            }
            else if (idx == 4) {
                $("#sec4").addClass("form-active");
                $("#step1").addClass("next");
                $("#step2").addClass("next");
                $("#step3").addClass("next");
                $("#step1").addClass("active");
                $("#step2").addClass("active");
                $("#step3").addClass("active");
                $("#step4").addClass("active");

                $('#err4').html("");
            }
            else if (idx == 0) {
                //
            }
            else {
                $("#secLast").addClass("form-active");
                $("#step1").addClass("next");
                $("#step2").addClass("next");
                $("#step3").addClass("next");
                $("#step4").addClass("next");
                $("#step1").addClass("active");
                $("#step2").addClass("active");
                $("#step3").addClass("active");
                $("#step4").addClass("active");
                $("#stepLast").addClass("active");

                $('#err5').html("");
            }

        }

        function delay(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        function next1() {
            var loaderId = $("#txtLoaderId").val();
            if (loaderId == "") {
                $('#pLoader1').html('Loader : <span class="error-message" id="err1"> Must select Auto Loader </span>');
                return;
            }
            var loaderCode = $("#txtLoaderCode").val();
            var scanCode = $("#txtScanLoader").val();
            if (loaderCode.toUpperCase() != scanCode.toUpperCase()) {
                $('#pLoader1').html('Loader : <span class="error-message" id="err1"> Please rescan the Loader </span>');
                return;
            }

            resetColorPLCForm(2);
            $("#txtReelId").val('');
            $("#txtReelCode").val('');
            $("#txtActHeight").val(0);
            $("#txtStep2").val('');
            $("#txtStep3").val('');
            $("#txtStep4").val('');

            $('#pFlexi1').html('Flexilock 1 : <span class="error-message" id="errFlexi1"></span>');
            $('#pFlexi2').html('Flexilock 2 : <span class="error-message" id="errFlexi2"></span>');
            $('#pGripper2').html('Gripper : <span class="error-message" id="errGripper2"></span>');

            $("#txtHLoaderLock").val('');
            $("#txtHGripper").val('');
            $("#txtHCol").val('');

            $("#txtHEmpty").val('');
            $("#txtHItem").val('');
            $("#txtHActH").val('');
            $("#txtHSlot").val('');
            $("#txtHSlotTake").val('');

            loadPLC(2);
        }

        function next2() {
            var step2 = $("#txtStep2").val();
            if (step2 != "OK") {
                return;
            }

            resetColorPLCForm(3);
            $('#pETray3').html('Empty Tray Slot : <span class="error-message" id="errETray3"></span>');
            $('#pGetTray3').html('Get Tray Status : <span class="error-message" id="errGetTray3"></span>');

            $("#txtHEmpty").val('');
            $("#txtHItem").val('');
            $("#txtHActH").val('');
            $("#txtHSlot").val('');
            $("#txtHSlotTake").val('');

            loadPLC(3);
        }

        function next3() {
            var step3 = $("#txtStep3").val();
            if (step3 != "OK") {
                return;
            }

            resetColorPLCForm(4);
            $('#pReel4').html('Reel ID : <span class="error-message" id="errReel4"></span>');
            $('#pItem4').html('Item Code : <span class="error-message" id="errItem4"></span>');
            $('#pHeight4').html('Actual Height : ');
            $('#pSlot4').html('Slot Code : <span class="error-message" id="errSlot4"></span>');
            $('#pSlotTake4').html('Slot Reserve: <span class="error-message" id="errSlotTake4"></span>');

            $('#pPick4').html('Pick Reel from Auto Loader Status : <span class="error-message" id="errPick4"></span>');
            $('#pPlace4').html('Place to Tray Status : <span class="error-message" id="errPlace4"></span>');
            $('#pPutAway4').html('Put Away Status : <span class="error-message" id="errPutAway4"></span>');

            $("#txtHItem").val('');
            $("#txtHActH").val('');
            $("#txtHSlot").val('');
            $("#txtHSlotTake").val('');

            $("#txtReelId").val('');
            $("#txtReelCode").val('');
            $("#txtActHeight").val('');

            loadPLC(41);
        }

        function retry2() {
            $('#btnRetry2').addClass("hidden");
            loadPLC(2);
        }

        function retry3() {
            $('#btnRetry3').addClass("hidden");
            loadPLC(3);
        }
        
        function retry4a() {
            $('#btnRetry4a').addClass("hidden");
            loadPLC(41);
        }

        function retry4d() {
            $('#btnRetry4d').addClass("hidden");
            loadPLC(44);
        }

        function retryLast() {
            $('#btnRetryLast').addClass("hidden");
            loadPLC(5);
        }

        async function loadPLC(idx) {

            var loaderId = $("#txtLoaderId").val();

            // step 1 : check loader
            if (idx == 1) {
                resetColorPLCForm(1);
                if (loaderId == "") {
                    $('#pLoader1').html("Loader : ");
                    $('#err1').html("No loader is selected.");
                    return;
                }

                // await delay(3000);
                var chkLoader = await loadPLCCheckLoader(loaderId);
                console.log('R1::' + chkLoader);
                return;
            }

            // step 2 : check flexilock and gripper
            if (idx == 2) {
                var chkFlex = await loadPLCCheckFlexilock();
                console.log('R2.1::' + chkFlex);
                var chkGripper = await loadPLCCheckGripper();
                console.log('R2.2::' + chkGripper);
                if (chkFlex == true && chkGripper == true) {
                    $("#txtStep2").val('OK');
                }
                else {
                    $('#btnRetry2').removeClass("hidden");
                }
                return;
            }

            // step 3 : get Empty Tray Slot and call to get try
            if (idx == 3) {
                var chkSlot = await loadPLCGetEmptyTraySlot();
                console.log('R3.1::' + chkSlot);
                if (chkSlot == true) {
                    var getSlot = await loadPLCGetTray();
                    console.log('R3.2::' + getSlot);
                    if (chkSlot == true && getSlot == true) {
                        $("#txtStep3").val('OK');
                    }
                    else {
                        $('#btnRetry3').removeClass("hidden");
                    }
                }
                else {
                    $('#btnRetry3').removeClass("hidden");
                }
                return;
            }

            // step 4 : Scan and Put Away
            if (idx == 41) {
                var chkReel = await loadPLCScanReel();
                console.log('R4.1::' + chkReel);
                if (chkReel == true) {
                    var chkSlot = await loadPLCGetSlot();
                    console.log('R4.2::' + chkSlot);
                    if (chkSlot == true) {
                        idx = 44;
                    }
                    else {
                        $('#btnRetry4a').removeClass("hidden");
                        return;
                    }
                }
                else {
                    $('#btnRetry4a').removeClass("hidden");
                    return;
                }
            }
            if (idx == 44) {
                var chkPA= await loadPLCPutAway();
                console.log('R4.1::' + chkPA);
                if (chkPA == true) {
                    $("#txtStep4").val("OK");
                    await delay(3000);
                    idx = 5;
                }
                else {
                    $('#btnRetry4b').removeClass("hidden");
                    return;
                }
            }

            // step 5 : Scan and Put Away
            if (idx == 5) {
                resetColorPLCForm(5);
                var chkLast= await loadPLCFinal();
                console.log('R4.1::' + chkLast);
                if (chkLast == false) {
                    $('#btnRetryLast').removeClass("hidden");
                    return;
                }
            }
        }

        async function loadPLCCheckLoader(loaderId) {

            var fResult = false;

            await $.ajax({
                url: "/api/PLCLoader/GetLoaderId/" + loaderId,
                type: "GET",
                dataType: 'JSON',
                // data: JSON.stringify(jsonInput),
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {

                },
                success: function (result) {
                    console.log('1::' + JSON.stringify(result));
                    // swal.close();
                    if (result.success == true) {
                        $('#pLoader1').html("Loader : " + result.data + ' <span class="error-message" id="err1"></span>');

                        fResult = true;
                    }
                    else {
                        $('#pLoader1').html('Loader : <span class="error-message" id="err1"> ' + result.errMessage + ' </span>');
                    }
                },
                error: function (error) {
                    $('#pLoader1').html('Loader : <span class="error-message" id="err1"> ' + error.val + ' </span>');
                }
            });

            return fResult;
        }

        async function loadPLCCheckFlexilock() {

            var fResult = false;

            await $.ajax({
                url: "/api/PLCHubIn/GetFlexilockStatus/",
                type: "GET",
                dataType: 'JSON',
                // data: JSON.stringify(jsonInput),
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {

                },
                success: function (result) {
                    console.log('2::' + JSON.stringify(result));
                    // swal.close();
                    if (result.success == true) {
                        $('#pFlexi1').html('Flexilock 1 : Right is locked. <span class="error-message" id="errFlexi1"></span>');
                        $('#pFlexi2').html('Flexilock 2 : Left is locked. <span class="error-message" id="errFlexi2"></span>');

                        $("#txtHLoaderLock").val('Right is locked. Left is locked.');

                        fResult = true;
                    }
                    else {
                        if (result.data[0] != 2) {
                            $('#pFlexi1').html('Flexilock 1 : <span class="error-message" id="errFlexi1"> ' + result.errMessage + ' </span>');
                        }
                        else {
                            $('#pFlexi1').html('Flexilock 1 : Right is locked. <span class="error-message" id="errFlexi1"></span>');
                        }
                        if (result.data[1] != 2) {
                            $('#pFlexi2').html('Flexilock 2 : <span class="error-message" id="errFlexi2"> ' + result.errMessage + ' </span>');
                        }
                        else {
                            $('#pFlexi2').html('Flexilock 2 : Left is locked. <span class="error-message" id="errFlexi2"></span>');
                        }

                    }
                },
                error: function (error) {
                    $('#pFlexi1').html('Flexilock 1 : <span class="error-message" id="errFlexi1"> ' + error.val + ' </span>');
                    $('#pFlexi2').html('Flexilock 2 : <span class="error-message" id="errFlexi2"></span>');
                }
            });

            return fResult;
        }

        async function loadPLCCheckGripper() {

            var fResult = false;

            await $.ajax({
                url: "/api/PLCHubIn/GetGripperStatus/",
                type: "GET",
                dataType: 'JSON',
                // data: JSON.stringify(jsonInput),
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {

                },
                success: function (result) {
                    console.log('2::' + JSON.stringify(result));
                    // swal.close();
                    if (result.success == true) {
                        $('#pGripper2').html('Gripper : Ready. <span class="error-message" id="errGripper2"></span>');

                        $("#txtHGripper").val('Ready.');
                        $("#txtHCol").val($("#txtICol").val());
                        fResult = true;
                    }
                    else {
                        $('#pGripper2').html('Gripper : <span class="error-message" id="errFlexi1"> ' + result.errMessage + ' </span>');
                    }
                },
                error: function (error) {
                    $('#pGripper2').html('Gripper : <span class="error-message" id="errFlexi1"> ' + error.val + ' </span>');
                }
            });

            return fResult;
        }

        async function loadPLCGetEmptyTraySlot() {

            var fResult = false;

            // step 2 : scan item
            await $.ajax({
                url: "/api/PLCHubIn/GetEmptyTraySlot/",
                type: "GET",
                dataType: 'JSON',
                // data: JSON.stringify(jsonInput),
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {

                },
                success: function (result) {
                    console.log('3::' + JSON.stringify(result));
                    // swal.close();
                    if (result.success == true) {
                        $('#pETray3').html("Empty Tray Slot : " + result.data.slotCode + ' <span class="error-message" id="errETray3"></span>');

                        $("#txtHEmpty").val(result.data.slotCode);

                        fResult = true;
                    }
                    else {
                        $('#pETray3').html('Empty Tray Slot : <span class="error-message" id="errETray3"> ' + result.errMessage + ' </span>');
                    }
                },
                error: function (error) {
                    $('#pETray3').html('Empty Tray Slot : <span class="error-message" id="errETray3"> ' + error.val + ' </span>');
                }
            });

            return fResult;
        }

        async function loadPLCGetTray() {

            var eSlot = $("#txtHEmpty").val();
            var fResult = false;

            await $.ajax({
                url: "/api/PLCHubIn/RetrieveEmptyTray/" + eSlot,
                type: "GET",
                dataType: 'JSON',
                // data: JSON.stringify(jsonInput),
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {

                },
                success: function (result) {
                    console.log('3::' + JSON.stringify(result));
                    // swal.close();
                    if (result.success == true) {
                        $('#pGetTray3').html('Get Tray Status : Done. <span class="error-message" id="errGetTray3"></span>');

                        fResult = true;
                    }
                    else {
                        $('#pGetTray3').html('Get Tray Status : <span class="error-message" id="errGetTray3"> ' + result.errMessage + ' </span>');
                    }
                },
                error: function (error) {
                    $('#pGetTray3').html('Get Tray Status : <span class="error-message" id="errGetTray3"> ' + error.val + ' </span>');
                }
            });

            return fResult;
        }

        async function loadPLCScanReel() {

            var fResult = false;

            // step 2 : scan item
            await $.ajax({
                url: "/api/PLCHubIn/GetReelID/",
                type: "GET",
                dataType: 'JSON',
                // data: JSON.stringify(jsonInput),
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {

                },
                success: function (result) {
                    console.log('4::' + JSON.stringify(result));
                    // swal.close();
                    if (result.success == true) {
                        $('#pReel4').html("Reel ID : " + result.data.reelCode + ' <span class="error-message" id="errReel4"></span>');
                        $('#pItem4').html("Item Code : " + result.data.itemCode + ' <span class="error-message" id="errItem4"></span>');
                        $('#pHeight4').html("Actual Height : " + result.data.actualHeight + ' ');

                        $("#txtHReel").val(result.data.reelCode);
                        $("#txtHItem").val(result.data.itemCode);
                        $("#txtHActH").val(result.data.actualHeight);

                        $("#txtReelId").val(result.data.reel_Id);
                        $("#txtReelCode").val(result.data.reelCode);
                        $("#txtActHeight").val(result.data.actualHeight);

                        fResult = true;
                    }
                    else {
                        $('#pReel4').html('Reel ID : <span class="error-message" id="errReel4"> ' + result.errMessage + ' </span>');
                    }
                },
                error: function (error) {
                    $('#pReel4').html('Reel ID : <span class="error-message" id="errReel4"> ' + error.val + ' </span>');
                }
            });

            return fResult;
        }

        async function loadPLCGetSlot() {

            var actH = $("#txtActHeight").val();
            var fResult = false;

            // step 4 : scan item
            await $.ajax({
                url: "/api/PLCHubIn/GetBottomSlot/" + actH,
                type: "GET",
                dataType: 'JSON',
                // data: JSON.stringify(jsonInput),
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {

                },
                success: function (result) {
                    console.log('3::' + JSON.stringify(result));
                    // swal.close();
                    if (result.success == true) {
                        $('#pSlot4').html("Slot Code : " + result.data.slotCode + ' <span class="error-message" id="errSlot4"></span>');
                        $('#pSlotTake4').html("Slot Reserve : " + result.data.totalSlot + ' <span class="error-message" id="errSlotTake4"></span>');

                        $("#txtHSlot").val(result.data.slotCode);
                        $("#txtHSlotTake").val(result.data.totalSlot);

                        fResult = true;
                    }
                    else {
                        $('#pSlot4').html('Slot Code: <span class="error-message" id="errSlot4"> ' + result.errMessage + ' </span>');
                    }
                },
                error: function (error) {
                    $('#pSlot4').html('Slot Code : <span class="error-message" id="errSlot4"> ' + error.val + ' </span>');
                }
            });

            return fResult;
        }

        async function loadPLCPickFromLoader() {

            var fResult = false;

            // step 4 : scan item
            await $.ajax({
                url: "/api/PLCHubIn/GetPickStatus/",
                type: "GET",
                dataType: 'JSON',
                // data: JSON.stringify(jsonInput),
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {

                },
                success: function (result) {
                    console.log('3::' + JSON.stringify(result));
                    // swal.close();
                    if (result.success == true) {
                        $('#pPick4').html('Pick Reel from Auto Loader Status : Done <span class="error-message" id="errPick4"></span>');
                        $('#pPlace4').html('Place to Tray Status : Done <span class="error-message" id="errPlace4"></span>');
                        $('#pPutAway4').html('Put Away Status : Done <span class="error-message" id="errPutAway4"></span>');

                        fResult = true;
                    }
                    else {
                        $('#pPutAway4').html('Put Away Status : <span class="error-message" id="errPutAway4"> ' + result.errMessage + ' </span>');
                    }
                },
                error: function (error) {
                    $('#pPutAway4').html('Put Away Status : <span class="error-message" id="errPutAway4"> ' + error.val + ' </span>');
                }
            });

            return fResult;
        }

        async function loadPLCPutAway() {

            var sCode = $("#txtHSlot").val();
            var sTake = $("#txtHSlotTake").val();
            var fResult = false;

            // step 4 : scan item
            await $.ajax({
                url: "/api/PLCHubIn/PutAway/" + sCode + "/" + sTake,
                type: "GET",
                dataType: 'JSON',
                // data: JSON.stringify(jsonInput),
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {

                },
                success: function (result) {
                    console.log('3::' + JSON.stringify(result));
                    // swal.close();
                    if (result.success == true) {
                        $('#pPick4').html('Pick Reel from Auto Loader Status : Done <span class="error-message" id="errPick4"></span>');
                        $('#pPlace4').html('Place to Tray Status : Done <span class="error-message" id="errPlace4"></span>');
                        $('#pPutAway4').html('Put Away Status : Done <span class="error-message" id="errPutAway4"></span>');


                        fResult = true;
                    }
                    else {
                        $('#pPutAway4').html('Put Away Status : <span class="error-message" id="errPutAway4"> ' + result.errMessage + ' </span>');
                    }
                },
                error: function (error) {
                    $('#pPutAway4').html('Put Away Status : <span class="error-message" id="errPutAway4"> ' + error.val + ' </span>');
                }
            });

            return fResult;
        }

        async function loadPLCPutAway() {

            var sCode = $("#txtHSlot").val();
            var sTake = $("#txtHSlotTake").val();
            var fResult = false;

            // step 4 : scan item
            await $.ajax({
                url: "/api/PLCHubIn/PutAway/" + sCode + "/" + sTake,
                type: "GET",
                dataType: 'JSON',
                // data: JSON.stringify(jsonInput),
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {

                },
                success: function (result) {
                    console.log('3::' + JSON.stringify(result));
                    // swal.close();
                    if (result.success == true) {
                        $('#pPutAway4').html('Put Away Status : Done <span class="error-message" id="errPutAway4"></span>');


                        fResult = true;
                    }
                    else {
                        $('#pPutAway4').html('Put Away Status : <span class="error-message" id="errPutAway4"> ' + result.errMessage + ' </span>');
                    }
                },
                error: function (error) {
                    $('#pPutAway4').html('Put Away Status : <span class="error-message" id="errPutAway4"> ' + error.val + ' </span>');
                }
            });

            return fResult;
        }

        async function loadPLCFinal() {

            var lId = $("#txtLoaderId").val();
            var col = $("#txtICol").val();
            var rId = $("#txtReelId").val();
            var sCode = $("#txtHSlot").val();
            var sTake = $("#txtHSlotTake").val();
            var fResult = false;

            // step 4 : scan item
            await $.ajax({
                url: "/api/PLCHubIn/UpdateReelIntoRack/" + lId + "/" + col + "/" + rId + "/" + sCode + "/" + sTake,
                type: "GET",
                dataType: 'JSON',
                // data: JSON.stringify(jsonInput),
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {

                },
                success: function (result) {
                    console.log('5::' + JSON.stringify(result));
                    // swal.close();
                    if (result.success == true) {
                        if (result.data == 2) {
                            $("#txtICol").val("1");
                            $('#pTextLast').html("ALL Reel is DONE put away. Please End Task.");
                        }
                        else if (result.data == 1) {
                            var iCol = $("#txtICol").val();
                            $("#txtICol").val(Number(iCol) + 1);
                            $("#warnTurnModal").modal("toggle");
                            $('#pTextLast').html("ALL DONE. Will continue next item after 2 seconds...");
                        }
                        else {
                            nextReel();
                            $('#pTextLast').html("ALL DONE. Will continue next item after 2 seconds...");
                        }


                        fResult = true;
                    }
                    else {
                        $('#pTextLast').html('<span style="color:red; font-size:15px;">' + result.errMessage+ '</span>');
                    }
                },
                error: function (error) {
                    $('#pTextLast').html('<span style="color:red; font-size:15px;">' + error.val + '</span>');
                }
            });

            return fResult;
        }

        async function turnCol() {
            $("#warnTurnModal").modal("toggle");
            var loaderId = $("#txtLoaderId").val();
            var iCol = $("#txtICol").val();
            var realCol = await loadPLCGetCurrentColumn(loaderId);
            if (Number(realCol) == 0) {
                $('#btnRetry3').removeClass("hidden");
            }
            else {
                if (realCol < iCol) {
                    var turnCol = await loadPLCTurnColumn(loaderId, Number(iCol));
                    if (turnCol == false) {
                        return;
                    }
                    realCol = iCol; // (realCol) + 1;
                }

                // wait for fork is ready
                // await delay(3000);
                var chkColFork = await loadPLCCheckColFork(loaderId, iCol);
                if (chkColFork == false) {
                }
                else {
                    nextReel();
                }
            }
        }

        async function endTask() {
            var loaderId = $("#txtLoaderId").val();
            if (loaderId == "") {
                swal.fire({
                    icon: 'error',
                    title: "Wait",
                    text: "No loader is selected."
                });
                return;
            }

            var chkEnd = await loadPLCEndTask(loaderId);
            console.log('R10::' + chkEnd);
            return;
        }

        async function loadPLCEndTask(loaderId) {

            $.ajax({
                url: "/api/PLCLoader/EndTask/" + loaderId,
                type: "GET",
                dataType: 'JSON',
                // data: JSON.stringify(jsonInput),
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {

                },
                success: function (result) {
                    console.log('10::' + JSON.stringify(result));
                    // swal.close();
                    if (result.success == true) {
                        swal.fire({
                            icon: 'success',
                            title: "Success End Task",
                            text: "",
                            didClose: () => {
                                window.location.reload();
                            }
                        });
                    }
                    else {
                        swal.fire({
                            icon: 'error',
                            title: "Wait",
                            text: result.errMessage
                        });
                    }
                },
                error: function (error) {
                    swal.fire({
                        icon: 'error',
                        title: "Wait",
                        text: error.val
                    });
                }
            });

            return true;
        }


    </script>
}