
<style>

    :root {
        --bg-main: #2c3e50;
        --text-color: #ecf0f1;
        --accent-color: #3498db;
        --status-ok: #2ecc71;
        --status-alarm: #e74c3c;
        --card-bg: #34495e;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* background-color: var(--card-bg); */
        /* padding: 20px 20px; */
        /* border-bottom: 3px solid var(--accent-color); */
    }

    .header-controls {
        display: flex;
        gap: 15px;
        align-items: center;
        width: 60%;
    }

        .input-header {
            padding: 8px 12px;
            background-color: var(--bg-main);
            color: var(--text-color);
            border: 1px solid var(--accent-color);
            border-radius: 4px;
            appearance: none;
            cursor: pointer;
        }

    .btn-header {
        padding: 10px 20px;
        margin: 5px;
        cursor: pointer;
        background-color: var(--accent-color);
        border: none;
        color: white;
        font-size: 16px;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

        .btn-header:hover {
            background-color: #2980b9;
        }

    .control-btn {
        padding: 10px 15px;
        font-weight: bold;
        min-width: 100px;
        margin: 0;
    }

    .trolley {
        display: flex;
        gap: 40px;
        flex-wrap: nowrap;
        justify-content: center;
        overflow-x: auto
    }

    .side {
        border: 1px solid #333;
        padding: 20px;
        border-radius: 10px;
        background: #1a1a1a
    }

    .grid {
        display: flex;
        gap: 20px
    }

    .column {
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding: 6px;
        background: #0003;
        border-radius: 6px
    }

    .sub-column {
        display: flex;
        flex-direction: column;
        gap: 4px
    }

    .sub-container {
        display: flex;
        flex-direction: row;
        gap: 20px
    }

    .cell {
        width: 24px;
        height: 24px;
        border-radius: 4px;
        /* background: #333; */
        cursor: pointer;
        transition: 0.2s;
        border: 1px solid lightgrey;
    }

        .cell.on {
            background: #00ffa2;
            box-shadow: 0 0 10px #00ffa2
        }

    .search-box {
        margin-bottom: 20px;
        text-align: center
    }

        .search-box input {
            width: 30%;
            display: inline;
        }

        .search-box select {
            width: 30%;
            display: inline;
        }

    .col-label {
        color: #0af;
        font-size: 12px;
        text-align: center;
        margin-bottom: 6px
    }

    .row-label {
        color: #888;
        font-size: 11px;
        width: 26px;
        text-align: right
    }

    .row-wrap {
        display: flex;
        align-items: center;
        gap: 6px
    }

    .cell:hover {
        transform: scale(1.06)
    }

    .cell.empty {
        background: #222;
        opacity: 0.3;
        border: 1px dashed #555
    }

    .controls {
        margin-top: 10px;
        text-align: center
    }

    .tblRow {
        padding: 0 !important;
    }

    .tblCol1 {
        width: 20%;
        align-content: center;
        font-size: 11px;
        color: #0af;
    }

    .tblCol2 {
        width: 20%;

    }

    .tblCol3 {
        width: 50%;
    }

</style>

@section PageHeader {
    <header class="d-flex align-items-center justify-content-between w-100">
        <h2 class="pageTitle">Trolley Reels</h2>
        <div class="header-controls">
            <div class="input-container">
                <label for="trolleyId">Trolley:</label>
                <input type="text" class="input-header" id="trolleyId" />
            </div>
            <button id="loadBtn" class="loadBtn btn-header" style="margin-right:30px;">Load </button>
        </div>
    </header>
}

<div class="container-fluid">
    <br />

    <div class="search-box">
        <input id="reelId" class="form-control" type="text" placeholder="Enter Reel ID / Raw Mat Code / BOM Code" />
        <select id="bomId" class="form-control">
            <option>- </option>
            <option>BOM 1 </option>
            <option>BOM 2 </option>
            <option>BOM 3 </option>
        </select>
        <button id="findBtn" class="btn btn-success">Find</button>
        <button id="turnOffBtn" class="btn btn-danger">Turn Off LED</button>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6" style="border: 1px solid lightgrey;">
                <p style="text-align: center;">A Side</p>
                <div class="row">
                    <div class="col-2">
                        <table class="table table-striped table-hover" id="A1">
                            <tbody id="A1Body"></tbody>
                        </table>
                    </div>
                    <div class="col-2" style="border-right: 1px solid lightgrey;">
                        <table class="table table-striped table-hover" id="A2">
                            <tbody id="A2Body"></tbody>
                        </table>
                    </div>
                    <div class="col-2">
                        <table class="table table-striped table-hover" id="A3">
                            <tbody id="A3Body"></tbody>
                        </table>
                    </div>
                    <div class="col-2" style="border-right: 1px solid lightgrey;">
                        <table class="table table-striped table-hover" id="A4">
                            <tbody id="A4Body"></tbody>
                        </table>
                    </div>
                    <div class="col-2">
                        <table class="table table-striped table-hover" id="A5">
                            <tbody id="A5Body"></tbody>
                        </table>
                    </div>
                    <div class="col-2">
                        <table class="table table-striped table-hover" id="A6">
                            <tbody id="A6Body"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6" style="border: 1px solid lightgrey;">
                <p style="text-align: center;">B Side</p>
                <div class="row">
                    <div class="col-2">
                        <table class="table table-striped table-hover" id="B1">
                            <tbody id="B1Body"></tbody>
                        </table>
                    </div>
                    <div class="col-2" style="border-right: 1px solid lightgrey;">
                        <table class="table table-striped table-hover" id="B2">
                            <tbody id="B2Body"></tbody>
                        </table>
                    </div>
                    <div class="col-2">
                        <table class="table table-striped table-hover" id="B3">
                            <tbody id="B3Body"></tbody>
                        </table>
                    </div>
                    <div class="col-2" style="border-right: 1px solid lightgrey;">
                        <table class="table table-striped table-hover" id="B4">
                            <tbody id="B4Body"></tbody>
                        </table>
                    </div>
                    <div class="col-2">
                        <table class="table table-striped table-hover" id="B5">
                            <tbody id="B5Body"></tbody>
                        </table>
                    </div>
                    <div class="col-2">
                        <table class="table table-striped table-hover" id="B6">
                            <tbody id="B6Body"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<input type="hidden" id="xToken" value="@ViewBag.xToken" autocomplete="off">

@section Scripts
{
    @* <link href="~/css/datatables.min.css" rel="stylesheet"> *@
    <link rel="stylesheet" href="~/css/sweetalert2.min.css">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/datatables.min.js"></script>
    <script src="~/js/sweetalert2.all.min.js"></script>

    <script type="text/javascript">
        let token = '';

        // const COLUMNS_PER_SIDE = 3;
        // const ROWS = 50;
        // const rawMatMap = { "RM1001": "R0005", "RM2001": "R0120" };
        // const bomMap = {}; // { "BOM-A1": "R0020", "BOM-B7": "R0150" };
        // const reelMap = {};
        // let idCounter = 1;
        // const SIDES = ['front','back'];

        // SIDES.forEach(side=>{
        //   for(let c=0;c<COLUMNS_PER_SIDE;c++){
        //     for(let r=0;r<ROWS;r++){
        //       const id = 'R'+(idCounter++).toString().padStart(4,'0');
        //       reelMap[id] = {side, column:c, row:r};
        //     }
        //   }
        // });
        // const emptyReels = new Set(["R0010","R0020"]);
        // const posMap = {};
        // for(const [id, p] of Object.entries(reelMap)){
        //   posMap[`${p.side}-${p.column}-${p.row}`] = id;
        // }

        // const trolley = document.getElementById('trolley');
        // SIDES.forEach(side=>{
        //   const sideDiv = document.createElement('div');
        //   sideDiv.className = 'side';
        //   sideDiv.innerHTML = `<div class="title">${side==='front'?'A SIDE':'B SIDE'}</div>`;
        //   const grid = document.createElement('div');
        //   grid.className = 'grid';
        //   for(let c=0;c<COLUMNS_PER_SIDE;c++){
        //     const col = document.createElement('div');
        //     col.className = 'column';
        //     col.dataset.side = side;
        //     col.dataset.col = c;
        //     const colLabel = document.createElement('div');
        //     colLabel.className = 'col-label';
        //     colLabel.textContent = (side==='front'?'A':'B') + (c+1);
        //     col.appendChild(colLabel);
        //     const subCols = [document.createElement('div'), document.createElement('div')];
        //     subCols.forEach(sub => sub.className = 'sub-column');
        //     for(let r=0;r<ROWS;r++){
        //       const rowWrap = document.createElement('div');
        //       rowWrap.className = 'row-wrap';
        //       const rowLabel = document.createElement('div');
        //       rowLabel.className = 'row-label';
        //       rowLabel.textContent = r+1;
        //       const cell = document.createElement('div');
        //       cell.className = 'cell';
        //       cell.dataset.row = r;
        //       cell.title = `${colLabel.textContent} - Row ${r+1}`;
        //       cell.addEventListener('click',()=>{
        //           cell.classList.toggle('on');
        //           loadPLCOn(c, r);
        //       });
        //       const reelCode = document.createElement('div');
        //       reelCode.style.color = '#6cf';
        //       reelCode.style.fontSize = '11px';
        //       reelCode.textContent = '' + posMap[`${side}-${c}-${r}`];
        //       // if(emptyReels.has(reelCode.textContent)){
        //       //   cell.classList.add('empty');
        //       //   reelCode.style.color = '#555';
        //       //   reelCode.textContent = 'EMPTY';
        //       // }
        //       if (r % 2 == 0) {
        //         cell.classList.add('empty');
        //         reelCode.style.color = '#555';
        //         reelCode.textContent = 'EMPTY';
        //       }
        //       rowWrap.appendChild(rowLabel);
        //       rowWrap.appendChild(cell);
        //       rowWrap.appendChild(reelCode);
        //       if(r<25) subCols[0].appendChild(rowWrap);
        //       else subCols[1].appendChild(rowWrap);
        //     }
        //     const subContainer=document.createElement('div');subContainer.className='sub-container';subCols.forEach(sub=>subContainer.appendChild(sub));
        //     col.appendChild(subContainer);
        //     grid.appendChild(col);
        //   }
        //   sideDiv.appendChild(grid);
        //   trolley.appendChild(sideDiv);
        // });

        $(document).ready(function () {
            token = $('#xToken').val();
        });

        document.getElementById('loadBtn').addEventListener('click',loadTrolley);
        document.getElementById('findBtn').addEventListener('click',findReel);
        // document.getElementById('reelId').addEventListener('keydown',e=>{if(e.key==='Enter')findReel();});

        function clearAll(){
            // call api to close


            // set ui to off
            document.querySelectorAll('.cell.on').forEach(c=>c.classList.remove('on'));
        }

        // function highlightByReelId(reelId){
        //     clearAll();
        //     const p=reelMap[reelId];
        //     if(!p)return false;

        //     const selector=`.side .column[data-side="${p.side}"][data-col="${p.column}"] .cell[data-row="${p.row}"]`;
        //     const cell=document.querySelector(selector);
        //     if(cell){
        //         cell.classList.add('on');
        //         cell.scrollIntoView({behavior:'smooth',block:'center'});
        //         return true;
        //     }
        //     return false;
        // }

        function findReel() {
            // var cell = 
            cell.classList.add('on');
            // const q = document.getElementById('trolleyId').value.trim();
            // if(!q)return

            // alert('Please enter a search value');

            // if(reelMap[q]){
            //     highlightByReelId(q);return;
            // }
            // if(rawMatMap[q]){
            //     const rid=rawMatMap[q];
            //     if(highlightByReelId(rid))return;
            // }
            //     if(bomMap[q]){
            //         const rid=bomMap[q];
            //         if(highlightByReelId(rid))return;
            //     }
            //     alert('No match found');
        }

        async function loadTrolley() {
            const tr = document.getElementById('trolleyId').value.trim();
            if (tr == "") {
                alert('Please insert Trolley Code');
                return;
            }

            await $.ajax({
                url: "/api/PLCHubIn/Trolley/" + tr,
                type: "GET",
                headers: {
                    'Authorization': 'Bearer ' + token
                },
                dataType: 'JSON',
                // data: JSON.stringify(jsonInput),
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {
                    Swal.fire({
                        text: 'Please Wait',
                        width: '300px',

                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        showConfirmButton: false,
                    });
                    Swal.showLoading()
                },
                success: function (result) {
                    console.log(result);
                    swal.close();

                    if (result.success == true) {

                        var idx = 1;
                        for (let iC = 1; iC <= 6; iC++) {
                            const tbl = document.getElementById('A' + iC);
                            const tableBody = document.getElementById('A' + iC + 'Body');
                            tableBody.innerHTML = '';

                            if (iC == 1 || iC == 3 || iC == 5) {
                                idx = 1;
                            }

                            for (let i = 0; i < 25; i++) { // Example: Add 5 rows
                                // const rawData = JSON.stringify(result.data[idx - 1]);
                                const newRow = tbl.insertRow(); // or document.createElement('tr');
                                const cell1 = newRow.insertCell(); // or document.createElement('td');
                                cell1.innerHTML = idx;
                                $(cell1).addClass("tblRow tblCol1");
                                const cell2 = newRow.insertCell();
                                cell2.id = 'A' + iC + "R" + idx;
                                cell2.innerHTML = ' <div class="cell"></div> ';
                                $(cell2).addClass("tblRow tblCol2 ");
                                const cell3 = newRow.insertCell(); // or document.createElement('td');
                                cell3.innerHTML = ' - ';
                                $(cell3).addClass("tblRow tblCol3");

                                idx = idx + 1;
                            }
                        }

                        idx = 1;
                        for (let iC = 1; iC <= 6; iC++) {
                            const tbl = document.getElementById('B' + iC);
                            const tableBody = document.getElementById('B' + iC + 'Body');
                            tableBody.innerHTML = '';

                            if (iC == 1 || iC == 3 || iC == 5) {
                                idx = 1;
                            }

                            for (let i = 0; i < 25; i++) { // Example: Add 5 rows
                                // const rawData = JSON.stringify(result.data[idx - 1]);
                                const newRow = tbl.insertRow(); // or document.createElement('tr');
                                const cell1 = newRow.insertCell(); // or document.createElement('td');
                                cell1.innerHTML = idx;
                                $(cell1).addClass("tblRow tblCol1");
                                const cell2 = newRow.insertCell();
                                cell2.id = 'B' +iC + "R" + idx;
                                cell2.innerHTML = ' <div class="cell"></div> ';
                                $(cell2).addClass("tblRow tblCol2 ");
                                const cell3 = newRow.insertCell(); // or document.createElement('td');
                                cell3.innerHTML = ' - ';
                                $(cell3).addClass("tblRow tblCol3");

                                idx = idx + 1;
                            }
                        }

                    }
                    else {
                        swal.fire({
                            icon: 'error',
                            title: "Wait",
                            text: result.errMessage
                        });
                        // alert('Trolley :: ' + result.errMessage, 'alert');
                    }
                },
                error: function (error) {
                    swal.fire({
                        icon: 'error',
                        title: "Wait",
                        text: error.val
                    });
                    // alert('Trolley :: ' + error.val, 'alert');
                }
            });


        }

        async function loadPLCOn(colNo, rowNo) {
            // console.log(colNo + " || " + rowNo);

            await $.ajax({
                url: "/api/PLCHubIn/SetTrolleyOn/" + colNo + "/" + rowNo,
                type: "GET",
                headers: {
                    'Authorization': 'Bearer ' + token
                },
                dataType: 'JSON',
                // data: JSON.stringify(jsonInput),
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {
                    Swal.fire({
                        text: 'Please Wait',
                        width: '300px',

                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        showConfirmButton: false,
                    });
                    Swal.showLoading()
                },
                success: function (result) {
                    // console.log(result);
                    swal.close();

                    if (result.success == true) {

                    }
                    else {
                        alert('ON :: ' + result.errMessage, 'alert');
                    }
                },
                error: function (error) {
                    alert('ON :: ' + error.val, 'alert');
                }
            });


        }

        // Turn off LED with optional Auto Close
        let autoOffTimeout;
        document.getElementById('turnOffBtn').addEventListener('click',()=>{
          clearAll();
          if(document.getElementById('autoClose').checked){
            if(autoOffTimeout) clearTimeout(autoOffTimeout);
            autoOffTimeout = setTimeout(clearAll, 5*60*1000);
          }
        });

        // window._debug={reelMap,rawMatMap,bomMap};
    </script>
}

