@{
}

<style>
    .table-title {
        color: #fff;
        background: #4b5366;
        /*     padding: 16px 25px;
                margin: -20px -25px 10px; */
        border-radius: 3px 3px 0 0;
    }

        .table-title h2 {
            margin: 5px 0 0;
            font-size: 24px;
        }

    .error-message {
        color: red;
        font-size: 0.875rem;
        margin-top: 5px;
    }

    .is-invalid {
        border-color: red;
    }

    .is-valid {
        border-color: green;
    }

</style>

<br />

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card card-outline ">
                <div class="card-header table-title">
                    <div class="card-title">
                        <h2>Item Group List <b></b></h2>
                    </div>
                    <div class="card-tools">
                        <button type="button" class="btn btn-success" onclick="newItemForm()">
                            Add New Item Group
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table table-striped table-bordered table-responsive text-nowrap">
                        <table id="listTable" class="dt-column-search table table-bordered table-responsive dataTable" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Item Group Code</th>
                                    <th>Description</th>
                                    <th>Is Active</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update Item Group</h4>
            </div>
            @* <form action="/bin/SaveBin" method="post"> *@
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label" for="txtCode">Item Group Code</label>
                    <input type="text" class="form-control" name="ItemCode" id="txtCode" aria-describedby="Item Code" maxlength="50">
                    <div id="txtCodeError" class="error-message"></div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="txtDesc">Description</label>
                    <input type="text" class="form-control" name="Description" id="txtDesc" aria-describedby="Description" maxlength="255">
                    <div id="txtDescError" class="error-message"></div>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="chkIsActive">
                    <label class="form-check-label" for="chkIsActive">Is Active</label>
                </div>

                <input type="hidden" id="txtId">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="saveItem()">Save</button>
                <button type="button" class="btn btn-outline-secondary" onclick="cancelForm()">Cancel</button>
            </div>
            @* </form> *@
        </div>
    </div>
</div>

@section Scripts
{
    <link href="~/css/datatables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/sweetalert2.min.css">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/datatables.min.js"></script>
    <script src="~/js/sweetalert2.all.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            loadList();
        });

        function loadList() {
            $.ajax({
                url: "/Item/GetItemGroupList/",
                type: "GET",
                dataType: 'JSON',
                // data: JSON.stringify(jsonInput),
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {
                    Swal.fire({
                        text: 'Please Wait',
                        width: '300px',

                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        showConfirmButton: false,
                    });
                    Swal.showLoading()
                },
                success: function (result) {
                    console.log(result);
                    swal.close()
                    if (result.success == true) {
                        $('#listTable').DataTable( {
                            data: result.data,
                            paging: true,
                            pageLength: 50,
                            lengthMenu: [50, 100, 250, 500, 1000],
                            columns: [
                                { data: 'itemGroupCode' },
                                { data: 'description' },
                                {
                                    data: null,
                                    render: function (data, type, row, meta) {
                                        if (row.isActive == true) {
                                            return '<span><i class="bi bi-check-square" style="color: darkgreen;"></i></span>'
                                        }
                                        else {
                                            return '<span><i class="bi bi-app""></i></span>'
                                        }
                                    }
                                },
                                {
                                    data: null,
                                    render: function (data, type, row, meta) {
                                        const rowData = JSON.stringify(row).replace(/"/g, "&quot;");
                                        return `<div style="display:flex;"><button class="btn btn-success d-grid edit-btn" style="margin-right:10px;" data-row="${rowData}">
                                        <span><i class="bi bi-pencil-square""></i>  Edit</span></button>
                                        <button class="btn btn-danger deactivate-account delete-btn" data-id="${row.itemGroup_Id}" data-code="${row.itemGroupCode}"><span><i class="bi bi-trash""></i>  Delete</span></button></div>`;

                                        // return '<div style="display:flex;"><button class="btn btn-success d-grid" style="margin-right:10px;"' +
                                        // 'onclick="editItemForm(\'' + row.itemGroup_Id + '\', \'' + row.itemGroupCode + '\', \'' + row.description + '\', ' +
                                        // '\'' + row.isActive + '\')">' +
                                        // '<span><i class="bi bi-pencil-square""></i>  Edit</span></button>' +

                                        // '<button class="btn btn-danger deactivate-account" onclick="deleteItem(\'' + row.itemGroup_Id + '\', \'' + row.itemGroupCode + '\')"><span><i class="bi bi-trash""></i>  Delete</span></button></div>';
                                    }
                                }
                            ],
                        });



                    }
                    else {
                        swal.fire({
                            icon: 'error',
                            title: "Wait",
                            text: result.errMessage
                        });
                    }
                },
                error: function (error) {
                    swal.fire({
                        icon: 'error',
                        title: "Wait",
                        text: error.val
                    });
                }
            });
        }

        function newItemForm() {
            removeErrMsg([]);
            $("#txtId").val("0");
            $("#txtCode").val("");
            $("#txtDesc").val("");
            document.getElementById("chkIsActive").checked = true;
            $("#myModal").modal("show");
        }

        $('#listTable').on('click', '.edit-btn', function () {
            const row = JSON.parse($(this).attr('data-row'));
            editItemForm(row);
        });

        function editItemForm(row) {
            removeErrMsg([]);
            $("#txtId").val(row.itemGroup_Id);
            $("#txtCode").val(row.itemGroupCode);
            $("#txtDesc").val(row.description);
            if (row.isActive == true) {
                document.getElementById("chkIsActive").checked = true;
            }
            else {
                document.getElementById("chkIsActive").checked = false;
            }
            $("#myModal").modal("show");
        }

        function cancelForm() {
            $("#myModal").modal("toggle");
        }

        // Show error message and highlight invalid fields
        function showError(fieldId, message) {
            document.getElementById(fieldId).classList.add('is-invalid');
            document.getElementById(fieldId + 'Error').textContent = message;
        }

        function removeErrMsg(fields, clearValue = false) {
            fields = ['txtCode', 'txtDesc' ];
            if (!Array.isArray(fields)) {
                fields = [fields];
            }

            fields.forEach(function(field) {
                document.getElementById(field).classList.remove('is-invalid');
                document.getElementById(field).classList.remove('is-valid');
                document.getElementById(field + 'Error').textContent = '';
                if (clearValue) document.getElementById(field).value = '';
            });
        }

        function checkInput() {
            let isValid = true;
            var txt = document.getElementById("txtCode");
            if (txt.value == "") {
                showError(txt.id, `Please enter Item Group Code.`);
                isValid = false;
            }
            return isValid;
        }

        function saveItem() {
            removeErrMsg([]);
            if (checkInput() == false) {
                return;
            }

            const chkIsAct = document.querySelector('#chkIsActive');

            var data = {
                ItemGroup_Id: $("#txtId").val(),
                ItemGroupCode: $("#txtCode").val(),
                Description: $("#txtDesc").val(),
                IsActive: chkIsAct.checked ? true : false,
            }

            console.log(JSON.stringify(data));

            $.ajax({
                url: '/Item/SaveItemGroup',
                type: 'POST',
                data: JSON.stringify(data),
                dataType: 'JSON',
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {
                    Swal.fire({
                        text: 'Please Wait',
                        width: '300px',

                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        showConfirmButton: false,
                    });
                    Swal.showLoading()
                },
                success: function (result) {
                    // console.log(result);
                    if (result.success == true) {
                        $("#myModal").modal("toggle");
                        swal.fire({
                            icon: 'success',
                            title: "Success Update",
                            text: "",
                            didClose: () => {
                              window.location.reload();
                            }
                        });
                    }
                    else {
                        swal.fire({
                            icon: 'error',
                            title: "Wait",
                            text: result.errMessage
                        });
                    }
                },
                error: function (error) {
                    console.log(error);
                    swal.fire({
                        icon: 'error',
                        title: "Wait",
                        text: error.val
                    });
                }
            });

            // console.log(id);
        }

        $('#listTable').on('click', '.delete-btn', function () {
                const id = $(this).attr('data-id');
                const code = $(this).attr('data-code');
                deleteItem(id, code);
        });

        function deleteItem(id, code) {

            swal.fire({
                title: "Are you sure want to delete?",
                text: "You will not be able to recover this record!",
                inputAttributes: {
                    autocapitalize: 'off'
                },
                showCancelButton: true,
                confirmButtonText: 'ok',
                cancelButtonText: 'cancel',
                allowOutsideClick: false
              }).then(function(r) {
                if (r.isConfirmed == true) {

                    var data = {
                        ItemGroup_Id: id,
                        ItemGroupCode: code
                    }

                    $.ajax({
                        url: '/Item/DeleteItemGroup',
                        type: 'DELETE',
                        data: JSON.stringify(data),
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        beforeSend: function () {
                            Swal.fire({
                                text: 'Please Wait',
                                width: '300px',

                                allowEscapeKey: false,
                                allowOutsideClick: false,
                                showConfirmButton: false,
                            });
                            Swal.showLoading()
                        },
                        success: function (result) {
                            if (result.success == true) {
                                // $("#myModal").modal("toggle");
                                swal.fire({
                                    icon: 'success',
                                    title: "Success Deleted",
                                    text: "",
                                    didClose: () => {
                                      window.location.reload();
                                    }
                                });
                            }
                            else {
                                swal.fire({
                                    icon: 'error',
                                    title: "Wait",
                                    text: result.errMessage
                                });
                            }
                        },
                        error: function (error) {
                            console.log(error);
                            swal.fire({
                                icon: 'error',
                                title: "Wait",
                                text: error.val
                            });
                        }
                    });

                } else {
                    return;
                }
              });

        }

    </script>
}
