<style>

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 5px; 
        align-items: center;
    }

    .grid-item {
        display: flex;
        align-items: center;
    }

    .input-wrapper {
        display: flex;
        align-items: center;
        margin-right: 5px; 
    }

    .input-wrapper input {
        width: 60px;
        margin-right: 2px;
    }

    .input-wrapper .input-label {
        font-size: 14px;
        white-space: nowrap;
    }

    .error-message {
        font-size: 12px;
        color: red;
        margin-top: 3px;
    }


</style>

@section PageHeader {
    <header class="d-flex align-items-center justify-content-between w-100">
        <h2 class="pageTitle">Item Group List</h2>
        <div class="d-flex">
            <button type="button" class="btn btn-success" onclick="newItemForm()">
                Add New Item Group
            </button>
        </div>
    </header>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body pt-0">
                    @* <div id="gridTable" class="table table-responsive text-nowrap mt-3"></div> *@
                    <div class="text-nowrap table-container mt-1">
                        <table id="listTable" class="dataTable row-border hover order-column" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Item Group Code</th>
                                    <th>Description</th>
                                    <th>Is Active</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update Item Group</h4>
            </div>
            @* <form action="/bin/SaveBin" method="post"> *@
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label" for="txtCode">Item Group Code</label>
                    <input type="text" class="form-control" name="ItemCode" id="txtCode" aria-describedby="Item Code" maxlength="50">
                    <div id="txtCodeError" class="error-message"></div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="txtDesc">Description</label>
                    <input type="text" class="form-control" name="Description" id="txtDesc" aria-describedby="Description" maxlength="255">
                    <div id="txtDescError" class="error-message"></div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Expired Date Range</label>
                    <div class="grid-container">
                        <div class="grid-item">
                            <div class="input-wrapper">
                                <input type="number" class="form-control" name="Years" id="txtYears" aria-describedby="Years" style="width: 80px;" >
                                <span class="ms-1">Years</span>
                            </div>
                            <div id="txtYearsError" class="error-message"></div>
                        </div>
                        <div class="grid-item">
                            <div class="input-wrapper">
                                <input type="number" class="form-control" name="Months" id="txtMonths" aria-describedby="Months" style="width: 80px;">
                                <span class="ms-1">Months</span>
                            </div>
                            <div id="txtMonthsError" class="error-message"></div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="chkIsActive">
                    <label class="form-check-label" for="chkIsActive">Is Active</label>
                </div>

                <input type="hidden" id="txtId">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="saveItem()">Save</button>
                <button type="button" class="btn btn-outline-secondary" onclick="cancelForm()">Cancel</button>
            </div>
            @* </form> *@
        </div>
    </div>
</div>

@section Scripts
{
    <link rel="stylesheet" href="~/css/sweetalert2.min.css">
    <link rel="stylesheet" href="~/css/dataTables.dataTables.css">
    <link rel="stylesheet" href="~/css/columnControl.dataTables.css">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="../js/dataTables.js"></script>
    <script src="../js/dataTables.columnControl.js"></script>
    <script src="../js/columnControl.dataTables.js"></script>

    <script src="~/js/sweetalert2.all.min.js"></script>

    @* <script src="~/js/gridjs.umd.js"></script> 
    <link rel="stylesheet" href="~/css/gridjs.min.css">*@

    <script type="text/javascript">
        // let gridInstance = null;

        $(document).ready(function () {
            loadList();
        });

        function loadList() {
            $.ajax({
                url: "/Item/GetItemGroupList/",
                type: "GET",
                dataType: 'JSON',
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {
                    Swal.fire({
                        text: 'Please Wait',
                        width: '300px',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        showConfirmButton: false,
                    });
                    Swal.showLoading()
                },
                success: function (result) {
                    swal.close()
                    if (result.success == true) {
                        
                        $('#listTable').DataTable( {
                            data: result.data,
                            paging: true,
                            pageLength: 50,
                            lengthMenu: [50, 100, 250, 500, 1000],
                            columns: [
                                { data: 'itemGroupCode' },
                                { data: 'description' },
                                {
                                    data: null,
                                    render: function (data, type, row, meta) {
                                        if (row.isActive == true) {
                                            return '<span class="badge rounded-pill bg-success" style="font-size:13px;">Active</span>'
                                        }
                                        else {
                                            return '<span class="badge rounded-pill bg-secondary" style="font-size:13px;">Inactive</span>'
                                        }
                                    }
                                },
                                {
                                    data: null,
                                    render: function (data, type, row, meta) {
                                        const rowData = JSON.stringify(row).replace(/"/g, "&quot;");
                                        return `<div style="display:flex;">
                                            <button class="btn btn-warning d-grid edit-btn" style="margin-right:10px;" data-row="${rowData}">
                                                <span><i class="bi bi-pencil-square""></i>  Edit</span>
                                            </button>
                                            <button class="btn btn-danger deactivate-account delete-btn" data-id="${row.itemGroup_Id}" data-code="${row.itemGroupCode}">
                                                <span><i class="bi bi-trash""></i>  Delete</span>
                                            </button></div>`;
                                    }
                                }
                            ],
                            language: {
                                searchPlaceholder: "🔍︎ Search",
                                search: ""
                            },
                            ordering: {
                                indicators: false
                            },
                            columnControl: ['orderStatus'],
                            columnDropdowns: [
                                { width: '50px' },
                            ]
                        });
                        /*
                       if (gridInstance) {
                           gridInstance.destroy();
                       }

                       gridInstance = new gridjs.Grid({
                           columns: [
                               { name: 'Item Group Id', id: 'itemGroup_Id', hidden: true},
                               { name: 'Item Group Code', id: 'itemGroupCode', width: '188px' },
                               { name: 'Description', id: 'description' },
                               { 
                                   name: 'Active State',
                                   id: 'isActive',
                                   width: '140px',
                                   formatter: (cell, row) => {
                                        const badgeHtml = row.cells[3].data === true
                                          ? '<span class="badge rounded-pill bg-success" style="font-size:13px;">Active</span>'
                                          : '<span class="badge rounded-pill bg-secondary" style="font-size:13px;">Inactive</span>';
                                        return gridjs.html(`<div style="text-align:center;">${badgeHtml}</div>`);
                                   }
                               },
                               {
                                   name: 'Action',
                                   formatter: (cell, row) => {
                                       const cleanRow = {
                                           itemGroup_Id: row.cells[0]?.data,
                                           itemGroupCode: row.cells[1]?.data,
                                           description: row.cells[2]?.data,
                                           isActive: row.cells[3]?.data,
                                       };
                                       const rawData = btoa(JSON.stringify(cleanRow));
                                       return gridjs.html(`
                                            <div style="display: flex;">
                                               <button class="btn btn-warning d-grid edit-btn me-2" data-row="${rawData}">
                                                   <span><i class="bi bi-pencil-square"></i> Edit</span>
                                               </button>
                                               <button class="btn btn-danger d-grid delete-btn" data-id="${cleanRow.itemGroup_Id}" data-code="${cleanRow.itemGroupCode}">
                                                   <span><i class="bi bi-trash"></i> Delete</span>
                                               </button>
                                           </div>
                                       `);
                                   }
                               }
                           ],
                           data: result.data,
                           pagination: true,
                           search: true,
                           sort: true,
                           resizable: true,
                           className: {
                               table: 'custom-table',
                           }
                       }).render(document.getElementById("gridTable"));

                       //remove grid-footer class
                        const footer = document.querySelector('#gridTable .gridjs-footer');
                        if (footer) {
                            footer.id = "gridFooter";
                        }
                        document.getElementById("gridFooter").classList.remove("gridjs-footer");
                        */
                    }
                    else {
                        swal.fire({
                            icon: 'error',
                            title: "Wait",
                            text: result.errMessage
                        });
                    }
                },
                error: function (error) {
                    swal.fire({
                        icon: 'error',
                        title: "Wait",
                        text: error.val
                    });
                }
            });
        }

        function newItemForm() {
            removeErrMsg([]);
            $("#txtId").val("0");
            $("#txtDesc, #txtCode, #txtYears, #txtMonths").val("");
            document.getElementById("chkIsActive").checked = true;
            $("#myModal").modal("show");
        }

        $('#listTable').on('click', '.edit-btn', function () {
            const row = JSON.parse($(this).attr('data-row'));
            editItemForm(row);
        });

        function editItemForm(row) {
            removeErrMsg([]);
            $("#txtId").val(row.itemGroup_Id);
            $("#txtCode").val(row.itemGroupCode);
            $("#txtDesc").val(row.description);
            $("#txtYears").val(row.expiredYears);
            $("#txtMonths").val(row.expiredMonths);

            if (row.isActive == true) {
                document.getElementById("chkIsActive").checked = true;
            }
            else {
                document.getElementById("chkIsActive").checked = false;
            }
            $("#myModal").modal("show");
        }

        function cancelForm() {
            $("#myModal").modal("toggle");
        }

        // Show error message and highlight invalid fields
        function showError(fieldId, message) {
            document.getElementById(fieldId).classList.add('is-invalid');
            document.getElementById(fieldId + 'Error').textContent = message;
        }

        function removeErrMsg(fields, clearValue = false) {
            fields = ['txtCode', 'txtDesc' ];
            if (!Array.isArray(fields)) {
                fields = [fields];
            }

            fields.forEach(function(field) {
                document.getElementById(field).classList.remove('is-invalid');
                document.getElementById(field).classList.remove('is-valid');
                document.getElementById(field + 'Error').textContent = '';
                if (clearValue) document.getElementById(field).value = '';
            });
        }

        function checkInput() {
            let isValid = true;
            var txt = document.getElementById("txtCode");
            if (txt.value == "") {
                showError(txt.id, `Please enter Item Group Code.`);
                isValid = false;
            }
            return isValid;
        }

        function saveItem() {
            removeErrMsg([]);
            if (checkInput() == false) {
                return;
            }

            const chkIsAct = document.querySelector('#chkIsActive');
            var data = {
                ItemGroup_Id: $("#txtId").val(),
                ItemGroupCode: $("#txtCode").val(),
                Description: $("#txtDesc").val(),
                ExpiredYears: $("#txtYears").val() || 0,
                ExpiredMonths: $("#txtMonths").val() || 0,
                IsActive: chkIsAct.checked ? true : false,
            }

            $.ajax({
                url: '/Item/SaveItemGroup',
                type: 'POST',
                data: JSON.stringify(data),
                dataType: 'JSON',
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {
                    Swal.fire({
                        text: 'Please Wait',
                        width: '300px',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        showConfirmButton: false,
                    });
                    Swal.showLoading()
                },
                success: function (result) {
                    if (result.success == true) {
                        $("#myModal").modal("toggle");
                        swal.fire({
                            icon: 'success',
                            title: "Success Update",
                            text: "",
                            didClose: () => {
                              window.location.reload();
                            }
                        });
                    }
                    else {
                        swal.fire({
                            icon: 'error',
                            title: "Wait",
                            text: result.errMessage
                        });
                    }
                },
                error: function (error) {
                    console.log(error);
                    swal.fire({
                        icon: 'error',
                        title: "Wait",
                        text: error.val
                    });
                }
            });
        }

        $('#listTable').on('click', '.delete-btn', function () {
            const id = $(this).attr('data-id');
            const code = $(this).attr('data-code');
            deleteItem(id, code);
        });

        function deleteItem(id, code) {
            swal.fire({
                title: "Are you sure want to delete?",
                text: "You will not be able to recover this record!",
                inputAttributes: {
                    autocapitalize: 'off'
                },
                showCancelButton: true,
                confirmButtonText: 'ok',
                cancelButtonText: 'cancel',
                allowOutsideClick: false
              }).then(function(r) {
                if (r.isConfirmed == true) {

                    var data = {
                        ItemGroup_Id: id,
                        ItemGroupCode: code
                    }

                    $.ajax({
                        url: '/Item/DeleteItemGroup',
                        type: 'DELETE',
                        data: JSON.stringify(data),
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        beforeSend: function () {
                            Swal.fire({
                                text: 'Please Wait',
                                width: '300px',
                                allowEscapeKey: false,
                                allowOutsideClick: false,
                                showConfirmButton: false,
                            });
                            Swal.showLoading();
                        },
                        success: function (result) {
                            if (result.success == true) {
                                swal.fire({
                                    icon: 'success',
                                    title: "Success Deleted",
                                    text: "",
                                    didClose: () => {
                                      window.location.reload();
                                    }
                                });
                            }
                            else {
                                swal.fire({
                                    icon: 'error',
                                    title: "Wait",
                                    text: result.errMessage
                                });
                            }
                        },
                        error: function (error) {
                            swal.fire({
                                icon: 'error',
                                title: "Wait",
                                text: error.val
                            });
                        }
                    });
                } else {
                    return;
                }
              });

        }

    </script>
}
