
@section PageHeader {
    <header class="d-flex align-items-center justify-content-between w-100">
        <h2 class="pageTitle">Global Setting</h2>
    </header>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body pt-0">
                    <div class="text-nowrap table-container mt-1">
                        <table id="listTable" class="row-border dataTable hover order-column" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Global Setting</th>
                                    <th>Value</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update Global Setting</h4>
            </div>
            @* <form action="/bin/SaveBin" method="post"> *@
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label" for="txtTitle">Global Setting</label>
                    <input type="text" class="form-control" id="txtTitle" aria-describedby="Setting" disabled>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="txtValue">Description</label>
                    <input type="text" class="form-control" id="txtValue" aria-describedby="Setting Value" maxlength="50">
                    <div id="txtValueError" class="error-message"></div>
                </div>

                <input type="hidden" id="txtId">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="saveItem()">Save</button>
                <button type="button" class="btn btn-outline-secondary" onclick="cancelForm()">Cancel</button>
            </div>
            @* </form> *@
        </div>
    </div>
</div>

@section Scripts
{
    <link rel="stylesheet" href="~/css/sweetalert2.min.css">
    <link rel="stylesheet" href="~/css/dataTables.dataTables.css">
    <link rel="stylesheet" href="~/css/columnControl.dataTables.css">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="../js/dataTables.js"></script>
    <script src="../js/dataTables.columnControl.js"></script>
    <script src="../js/columnControl.dataTables.js"></script>
    <script src="~/js/sweetalert2.all.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            loadList();
        });

        function loadList() {
            $.ajax({
                url: "/Setting/GetGlobalSettingList/",
                type: "GET",
                dataType: 'JSON',
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {
                    Swal.fire({
                        text: 'Please Wait',
                        width: '300px',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        showConfirmButton: false,
                    });
                    Swal.showLoading()
                },
                success: function (result) { 
                    swal.close()
                    if (result.success == true) {
                        $('#listTable').DataTable( {
                            data: result.data,
                            paging: true,
                            pageLength: 50,
                            columns: [
                                { data: 'configTitle' },
                                { data: 'configValue' },
                                {
                                    data: null,
                                    render: function (data, type, row, meta) {
                                        const rowData = JSON.stringify(row).replace(/"/g, "&quot;");
                                        return `<div style="display:flex;">
                                                    <button class="btn btn-warning d-grid edit-btn" style="margin-right:10px;" data-row="${rowData}">
                                                        <span><i class="bi bi-pencil-square""></i>  Edit</span>
                                                    </button>
                                                </div>`;
                                    }
                                }
                            ],
                             language: {
                                searchPlaceholder: "🔍︎ Search",
                                search: ""
                            },
                            ordering: {
                                indicators: false
                            },
                            columnControl: ['orderStatus']
                        });
                    }
                    else {
                        swal.fire({
                            icon: 'error',
                            title: "Wait",
                            text: result.errMessage
                        });
                    }
                },
                error: function (error) {
                    swal.fire({
                        icon: 'error',
                        title: "Wait",
                        text: error.val
                    });
                }
            });
        }

        $('#listTable').on('click', '.edit-btn', function () {
            const row = JSON.parse($(this).attr('data-row'));
            editItemForm(row);
        });

        function editItemForm(row) {
            removeErrMsg([]);
            $("#txtId").val(row.configuration_Id);
            $("#txtTitle").val(row.configTitle);
            $("#txtValue").val(row.configValue);
            $("#myModal").modal("show");
        }

        function cancelForm() {
            $("#myModal").modal("toggle");
        }

        // Show error message and highlight invalid fields
        function showError(fieldId, message) {
            document.getElementById(fieldId).classList.add('is-invalid');
            document.getElementById(fieldId + 'Error').textContent = message;
        }

        function removeErrMsg(fields, clearValue = false) {
            fields = [ 'txtValue' ];
            if (!Array.isArray(fields)) {
                fields = [fields];
            }

            fields.forEach(function(field) {
                document.getElementById(field).classList.remove('is-invalid');
                document.getElementById(field).classList.remove('is-valid');
                document.getElementById(field + 'Error').textContent = '';
                if (clearValue) document.getElementById(field).value = '';
            });
        }

        function checkInput() {
            let isValid = true;
            var txt = document.getElementById("txtValue");
            if (txt.value == "") {
                showError(txt.id, `Please enter Value.`);
                isValid = false;
            }
            return isValid;
        }

        function saveItem() {
            removeErrMsg([]);
            if (checkInput() == false) {
                return;
            }

            var data = {
                Configuration_Id: $("#txtId").val(),
                ConfigTitle: $("#txtTitle").val(),
                ConfigValue: $("#txtValue").val(),
            }

            $.ajax({
                url: '/Setting/SaveGlobalSetting',
                type: 'POST',
                data: JSON.stringify(data),
                dataType: 'JSON',
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {
                    Swal.fire({
                        text: 'Please Wait',
                        width: '300px',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        showConfirmButton: false,
                    });
                    Swal.showLoading()
                },
                success: function (result) {
                    if (result.success == true) {
                        $("#myModal").modal("toggle");
                        swal.fire({
                            icon: 'success',
                            title: "Success Update",
                            text: "",
                            didClose: () => {
                              window.location.reload();
                            }
                        });
                    }
                    else {
                        swal.fire({
                            icon: 'error',
                            title: "Wait",
                            text: result.errMessage
                        });
                    }
                },
                error: function (error) {
                    console.log(error);
                    swal.fire({
                        icon: 'error',
                        title: "Wait",
                        text: error.val
                    });
                }
            });

        }

    </script>
}
