
@section PageHeader {
    <header class="d-flex align-items-center justify-content-between w-100">
        <h2 class="pageTitle">Slot Column Setting</h2>
        <div class="d-flex">
            <button type="button" class="btn btn-success" onclick="updateSetting()">
                Update Setting
            </button>
        </div>
    </header>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body pt-0">
                    <div class="text-nowrap table-container mt-1">
                        <table id="listTable" class="row-border dataTable hover order-column" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Column No</th>
                                    <th>Empty Drawer IN Priority</th>
                                    <th>Empty Drawer OUT Priority</th>
                                    <th>Reel IN Priority</th>
                                    @* <th>Reel OUT Idx</th> *@
                                    @* <th>Action</th> *@
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <input type="hidden" id="txtTotalCol">
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <link rel="stylesheet" href="~/css/sweetalert2.min.css">
    <link rel="stylesheet" href="~/css/dataTables.dataTables.css">
    <link rel="stylesheet" href="~/css/columnControl.dataTables.css">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="../js/dataTables.js"></script>
    <script src="../js/dataTables.columnControl.js"></script>
    <script src="../js/columnControl.dataTables.js"></script>
    <script src="~/js/sweetalert2.all.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $('#txtTotalCol').val(0);
            loadList();
        });

        function loadList() {
            $.ajax({
                url: "/Setting/GetSlotColumnSetting/",
                type: "GET",
                dataType: 'JSON',
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {
                    Swal.fire({
                        text: 'Please Wait',
                        width: '300px',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        showConfirmButton: false,
                    });
                    Swal.showLoading()
                },
                success: function (result) {
                    swal.close()
                    if (result.success == true) {
                        $('#listTable').DataTable( {
                            data: result.data,
                            paging: true,
                            pageLength: 50,
                            columns: [
                                { data: 'colNo' },
                                {
                                    data: null,
                                    render: function (data, type, row, meta) {
                                        const rowIndex = meta.row;
                                        return `<input type="hidden" id="txtId${rowIndex}" value="${row.slotColumnSetting_Id}">
                                            <input type="number" class="form-control" id="txtEDIn${rowIndex}" value="${row.emptyDrawer_IN_Idx}">
                                            <div id="txtEDIn${rowIndex}Error" class="error-message"></div>`;
                                    }
                                },
                                {
                                    data: null,
                                    render: function (data, type, row, meta) {
                                        const rowIndex = meta.row;
                                        return `<input type="number" class="form-control" id="txtEDOut${rowIndex}" value="${row.emptyDrawer_OUT_Idx}">
                                            <div id="txtEDOut${rowIndex}Error" class="error-message"></div>`;
                                    }
                                },
                                {
                                    data: null,
                                    render: function (data, type, row, meta) {
                                        const rowIndex = meta.row;
                                        return `<input type="number" class="form-control" id="txtRIn${rowIndex}" value="${row.reel_IN_Idx}">
                                                <div id="txtRIn${rowIndex}Error" class="error-message"></div>`;
                                    }
                                },
                                // {
                                //     data: null,
                                //     render: function (data, type, row, meta) {
                                //         const rowIndex = meta.row;
                                //         return '<input type="number" class="form-control" id="txtROut' + rowIndex + '" value="' + row.reel_OUT_Idx + '">' +
                                //         '<div id="txtROut' + rowIndex + 'Error" class="error-message"></div>';
                                //     }
                                // },
                                // {
                                //     data: null,
                                //     render: function (data, type, row, meta) {
                                //         return '<div style="display:flex;"><button class="btn btn-success d-grid" style="margin-right:10px;"' +
                                //         'onclick="editItemForm(\'' + row.slotColumnSetting_Id + '\', ' +
                                //         '\'' + row.maxThickness + '\', \'' + row.reserveSlot + '\', \'' + row.maxThickness + '\', \'' + row.reserveSlot + '\' )">' +
                                //         '<span><i class="bi bi-pencil-square""></i>  Edit</span></button>' +
                                //         '</div>';
                                //     }
                                // }
                            ],
                            language: {
                                searchPlaceholder: "🔍︎ Search",
                                search: ""
                            },
                            ordering: {
                                indicators: false
                            },
                            columnControl: ['orderStatus']
                        });

                        $('#txtTotalCol').val(result.totalRecords);
                    }
                    else {
                        swal.fire({
                            icon: 'error',
                            title: "Wait",
                            text: result.errMessage
                        });
                    }
                },
                error: function (error) {
                    swal.fire({
                        icon: 'error',
                        title: "Wait",
                        text: error.val
                    });
                }
            });
        }

        // Show error message and highlight invalid fields
        function showError(fieldId, message) {
            document.getElementById(fieldId).classList.add('is-invalid');
            document.getElementById(fieldId + 'Error').textContent = message;
        }

        function removeErrMsg(iR) {
            for (var i = 0; i < iR; i++) {
                document.getElementById("txtEDIn" + i).classList.remove('is-invalid');
                document.getElementById("txtEDIn" + i).classList.remove('is-valid');
                document.getElementById("txtEDIn" + i + 'Error').textContent = '';

                document.getElementById("txtEDOut" + i).classList.remove('is-invalid');
                document.getElementById("txtEDOut" + i).classList.remove('is-valid');
                document.getElementById("txtEDOut" + i + 'Error').textContent = '';

                document.getElementById("txtRIn" + i).classList.remove('is-invalid');
                document.getElementById("txtRIn" + i).classList.remove('is-valid');
                document.getElementById("txtRIn" + i + 'Error').textContent = '';

                // document.getElementById("txtROut" + i).classList.remove('is-invalid');
                // document.getElementById("txtROut" + i).classList.remove('is-valid');
                // document.getElementById("txtROut" + i + 'Error').textContent = '';
                // if (clearValue) document.getElementById(field).value = '';
            }
        }

        function checkInput(iR) {
            let isValid = true;
            for (var i = 0; i < iR; i++) {

                var txt = document.getElementById("txtEDIn" + i);
                if (txt.value == "") {
                    showError(txt.id, `Please enter Empty Drawer IN Priority.`);
                    isValid = false;
                }
                txt = document.getElementById("txtEDOut" + i);
                if (txt.value == "") {
                    showError(txt.id, `Please enter Empty Drawer OUT Priority.`);
                    isValid = false;
                }
                txt = document.getElementById("txtRIn" + i);
                if (txt.value == "") {
                    showError(txt.id, `Please enter Reel IN Priority.`);
                    isValid = false;
                }
                // txt = document.getElementById("txtROut" + i);
                // if (txt.value == "") {
                //     showError(txt.id, `Please enter Reel OUT Priority.`);
                //     isValid = false;
                // }

            }
            return isValid;
        }

        function updateSetting() {
            var iR = Number($('#txtTotalCol').val());
            var dataList = [];

            removeErrMsg(iR);
            if (checkInput(iR) == false) {
                return;
            }

            for (var i = 0; i < iR; i++) {
                var data = {
                    SlotColumnSetting_Id: $("#txtId" + i).val(),
                    ColNo: (i + 1),
                    EmptyDrawer_IN_Idx: $("#txtEDIn" + i).val(),
                    EmptyDrawer_OUT_Idx: $("#txtEDOut" + i).val(),
                    Reel_IN_Idx: $("#txtRIn" + i).val(),
                    // Reel_OUT_Idx: $("#txtROut" + i).val(),
                }
                dataList.push(data);
            }

            $.ajax({
                url: '/Setting/SaveSlotColumnSetting',
                type: 'POST',
                data: JSON.stringify(dataList),
                dataType: 'JSON',
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {
                    Swal.fire({
                        text: 'Please Wait',
                        width: '300px',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        showConfirmButton: false,
                    });
                    Swal.showLoading()
                },
                success: function (result) {
                    if (result.success == true) {
                        $("#myModal").modal("toggle");
                        swal.fire({
                            icon: 'success',
                            title: "Success Update",
                            text: "",
                            didClose: () => {
                              window.location.reload();
                            }
                        });
                    }
                    else {
                        swal.fire({
                            icon: 'error',
                            title: "Wait",
                            text: result.errMessage
                        });
                    }
                },
                error: function (error) {
                    console.log(error);
                    swal.fire({
                        icon: 'error',
                        title: "Wait",
                        text: error.val
                    });
                }
            });

        }

    </script>
}
