
@{
}
<style type="text/css">
    .show-entries select.form-control {
        width: 60px;
        margin: 0 5px;
    }

    .table-filter .filter-group {
        float: right;
        margin-left: 15px;
    }

    .table-filter input, .table-filter select {
        height: 34px;
        border-radius: 3px;
        border-color: #ddd;
        box-shadow: none;
    }

    .table-filter .btn {
        height: 34px;
    }

    .table-filter label {
        font-weight: normal;
        margin-left: 10px;
    }

    .table-filter select, .table-filter input {
        display: inline-block;
        margin-left: 5px;
    }

    .table-filter input {
        width: 200px;
        display: inline-block;
    }

    .filter-group select.form-control {
        width: 110px;
    }

    .filter-icon {
        float: right;
        margin-top: 7px;
    }

    .filter-icon i {
        font-size: 18px;
        opacity: 0.7;
    }

    .pagination {
        float: right;
        margin: 0 0 5px;
    }

    .pagination li a {
        border: none;
        font-size: 13px;
        min-width: 30px;
        min-height: 30px;
        color: #999;
        margin: 0 2px;
        line-height: 30px;
        border-radius: 2px !important;
        text-align: center;
        padding: 0 6px;
    }

    .pagination li a:hover {
        color: #666;
    }

    .pagination li.active a {
        background: #03A9F4;
    }

    .pagination li.active a:hover {
        background: #0397d6;
    }

    .pagination li.disabled i {
        color: #ccc;
    }

    .pagination li i {
        font-size: 16px;
        padding-top: 6px
    }

    .text-success {
        color: #10c469;
    }

    .text-info {
        color: #62c9e8;
    }

    .text-warning {
        color: #FFC107;
    }

    .text-danger {
        color: #ff5b5b;
    }

    .pagination {
        float: right;
        margin: 0 0 5px;
    }

    .pagination li a {
        border: none;
        font-size: 13px;
        min-width: 30px;
        min-height: 30px;
        color: #999;
        margin: 0 2px;
        line-height: 30px;
        border-radius: 2px !important;
        text-align: center;
        padding: 0 6px;
    }

    .pagination li a:hover {
        color: #666;
    }

    .pagination li.active a {
        background: #03A9F4;
    }

    .pagination li.active a:hover {
        background: #0397d6;
    }

    .pagination li.disabled i {
        color: #ccc;
    }

    .pagination li i {
        font-size: 16px;
        padding-top: 6px
    }

    .hint-text {
        float: left;
        margin-top: 10px;
        font-size: 13px;
    }

    #contentBox {
        background-color: white;
    }
</style>

@section PageHeader {
    <header class="d-flex align-items-center justify-content-between w-100">
        <h2 class="pageTitle">GRN List <b></b></h2>
    </header>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div id="contentBox" class="row mt-2" style="padding:5px;">
                        <div class="col-sm-2" style="">
                            <input id="txtGRN" name="GRNBatchNo" type="text" class="form-control" style="" placeholder="GRN No" />
                        </div>
                        <div class="col-sm-2" style="">
                            <input id="txtItemCode" name="ItemCode" type="text" class="form-control" style="" placeholder="Item" />
                        </div>
                        <div class="col-sm-2" style="">
                            <input id="txtReelCode" name="ReelCode" type="text" class="form-control" style="" placeholder="Reel Code" />
                        </div>
                        <div class="col-sm-5" style="">
                            <div class="row">
                                <div class="col-4" style="padding:0;">
                                    <select id="selDateType" name="DateType" class="form-control">
                                        <option value="C">Created Date</option>
                                        <option value="U">Updated Date</option>
                                    </select>
                                </div>
                                <div class="col-4" style="padding:0;">
                                    <input id="dtpDateFrom" name="DateFrom" type="date" class="form-control" placeholder="Date From" />
                                </div>
                                <div class="col-4" style="padding:0;">
                                    <input id="dtpDateTo" name="DateTo" type="date" class="form-control" placeholder="Date To" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1" style="">
                            <button type="button" class="btn btn-primary" style="width:100%;" onclick="loadList(1)"><i class="bi bi-search"></i> </button>
                        </div>
                    </div>
                    <hr />
                    <div class="table-filter">
                        <div class="row" style="padding-left:5px;">
                            <div class="col-sm-12">
                                <div class="show-entries">
                                    <label>Show</label>
                                    <select id="selpageSize" name="pageSize" class="form-control">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                        <option value="200">250</option>
                                    </select>
                                    <span>entries</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table table-striped table-bordered table-responsive text-nowrap">
                        <table id="listTable" class="dt-column-search table table-bordered table-responsive dataTable" style="width:100%">
                            <thead>
                                <tr>
                                    <th>GRN No</th>
                                    <th>Item</th>
                                    <th>Qty</th>
                                    <th>Reel Code</th>
                                    <th>Reel Status</th>
                                    <th>Created / Updated</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>

                    <div class="clearfix">
                        <div class="hint-text">Showing <b id="lblCurCount">0</b> out of <b id="lblTotal">0</b> entries</div>
                        <ul class="pagination" id="ulPagination">
                        </ul>
                        <input type="hidden" id="txtCurPage">
                        <input type="hidden" id="txtTotalRecord">
                        <input type="hidden" id="txtPageSize">
                        <input type="hidden" id="txtTotalPage">
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <link href="~/css/datatables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/sweetalert2.min.css">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/datatables.min.js"></script>
    <script src="~/js/sweetalert2.all.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $('#txtTotalRecord').val(0);
            $('#txtTotalPage').val(1);

            var now = new Date();

            var day = ("0" + now.getDate()).slice(-2);
            var month = ("0" + (now.getMonth() + 1)).slice(-2);

            var today = now.getFullYear()+"-"+(month)+"-"+(day) ;

            $('#dtpDateFrom').val(today);
            $('#dtpDateTo').val(today);

            loadList(1);
        });

        function prevPage() {
            var curPage = $("#txtCurPage").val();
            if (curPage == 1) {
                return;
            }
            loadList(curPage - 1);
        }

        function nextPage() {
            var curPage = Number($("#txtCurPage").val());
            var ttl = Number($("#txtTotalRecord").val());
            var pageSize = Number($("#txtPageSize").val());
            var ttlPage = Number($("#txtTotalPage").val());
            // var ttlPage = ttl / pageSize;
            // if ((ttl % pageSize) > 0) {
            //     ttlPage = ttlPage + 1;
            // }
            if ((curPage + 1) > ttlPage) {
                return;
            }
            loadList(curPage + 1);
        }

        function loadList(page) {
            $('#txtCurPage').val(page);
            $('#txtPageSize').val($("#selpageSize").val());
            var ttlPage = $("#txtTotalPage").val();
            for (var j = 1; j <= ttlPage; j++) {
                $('#btnP' + j).removeClass('active');
            }
            $('#btnP' + page).addClass('active');

            var data = {
                GRNBatchNo: $("#txtGRN").val(),
                ItemCode: $("#txtItemCode").val(),
                ReelCode: $("#txtReelCode").val(),
                DateType: $("#selDateType").val(),
                DateFrom: $("#dtpDateFrom").val(),
                DateTo: $("#dtpDateTo").val(),
                page: page,
                pageSize: $("#selpageSize").val(),
            }

            $.ajax({
                url: "/GRN/GetGRNDetailList/",
                type: "POST",
                data: JSON.stringify(data),
                dataType: 'JSON',
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {
                    Swal.fire({
                        text: 'Please Wait',
                        width: '300px',

                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        showConfirmButton: false,
                    });
                    Swal.showLoading()
                },
                success: function (result) {
                    // console.log(result);
                    swal.close()
                    if (result.success == true) {
                        $('#listTable').DataTable( {
                            data: result.data,
                            paging: false,
                            searching: false,
                            "info": false,
                            pageLength: $("#selpageSize").val(),
                            // lengthMenu: [50, 100, 250, 500, 1000],
                            "bDestroy": true,
                            columns: [
                                { data: 'grnBatchNo' },
                                {
                                    data: null,
                                    render: function (data, type, row, meta) {
                                        // return '<p>' + row.itemCode + '</p><p>' + row.itemDesc + '</p>';
                                        return '<p style="margin:0;"><span>' + row.itemCode + '</span><br/>' +
                                        '<span style="font-size:13px;color:grey;">' + row.itemDesc + '</span></p>';
                                    }
                                },
                                { data: 'qty' },
                                { data: 'reelCode' },
                                {
                                    data: null,
                                    render: function (data, type, row, meta) {
                                        return '<p style="margin:0;">' + row.reelStatus + '</p>';
                                        // return '<p>' + row.createdDateDisplay + '</p><p>' + row.updatedDateDisplay + '</p>';
                                    }
                                },
                                {
                                    data: null,
                                    render: function (data, type, row, meta) {
                                        if (row.createdDateDisplay == row.updatedDateDisplay) {
                                            return '<p style="margin:0;">' + row.createdDateDisplay + '</p>';
                                        }
                                        else {
                                            return '<p style="margin:0;"><span>' + row.updatedDateDisplay + '</span><br/>' +
                                            '<span style="font-size:13px;color:grey;">' + row.createdDateDisplay + '</span></p>';
                                        }
                                        // return '<p>' + row.createdDateDisplay + '</p><p>' + row.updatedDateDisplay + '</p>';
                                    }
                                },
                                {
                                    data: null,
                                    render: function (data, type, row, meta) {
                                        return '<div style="display:flex;"><button class="btn btn-success d-grid" style="margin-right:10px;" onclick="editBinForm(\'' + row.bin_Id + '\', \'' + row.binCode + '\', \'' + row.colNo + '\', \'' + row.rowNo + '\', \'' + row.isActive + '\')"><span><i class="bi bi-pencil-square""></i>  Edit</span></button>' +
                                                '<button class="btn btn-danger deactivate-account" onclick="deleteBin(\'' + row.bin_Id + '\', \'' + row.binCode + '\')"><span><i class="bi bi-trash""></i>  Delete</span></button></div>';
                                    }
                                }
                            ],
                        });

                        // if is page 1 then need regenerate pagination, else just show current entry
                        var curCnt = 0;
                        if (result.totalRecords > 0) {
                            curCnt = (page) * $("#selpageSize").val();
                            if (curCnt > result.totalRecords) {
                                curCnt = result.totalRecords;
                            }
                        }
                        $('#lblCurCount').html(curCnt);

                        if (page == 1) {
                            $('#lblTotal').html(result.totalRecords);
                            $('#ulPagination').html('');

                            var pageSize = $("#selpageSize").val();
                            const myDiv = document.getElementById('ulPagination');
                            var ttlPage = result.totalRecords / pageSize;
                            if ((result.totalRecords % pageSize) > 0) {
                                ttlPage = ttlPage + 1;
                            }
                            $('#txtTotalRecord').val(result.totalRecords);
                            $('#txtTotalPage').val(ttlPage);

                            myDiv.innerHTML += '<li class="page-item disabled"><a href="javascript:prevPage()">Previous</a></li>';
                            for (var i = 1; i <= ttlPage; i++) {
                                if (i == 1) {
                                       myDiv.innerHTML += '<li class="page-item active" id="btnP'+ i +'"><a href="javascript:loadList('+ i +')" class="page-link">'+ i +'</a></li>';
                                }
                                else {
                                       myDiv.innerHTML += '<li class="page-item" id="btnP'+ i +'"><a href="javascript:loadList('+ i +')" class="page-link">'+ i +'</a></li>';
                                }
                            }
                            myDiv.innerHTML += '<li class="page-item disabled"><a href="javascript:nextPage()">Next</a></li>';
                        }


                    }
                    else {
                        swal.fire({
                            icon: 'error',
                            title: "Wait",
                            text: result.errMessage
                        });
                    }
                },
                error: function (error) {
                    swal.fire({
                        icon: 'error',
                        title: "Wait",
                        text: error.val
                    });
                }
            });
        }


    </script>
}
