
<style>
    .show-entries select.form-control {
        width: 60px;
        margin: 0 5px;
    }

    .table-filter .filter-group {
        float: right;
        margin-left: 15px;
    }

    .table-filter input, .table-filter select {
        height: 34px;
        border-radius: 3px;
        border-color: #ddd;
        box-shadow: none;
    }

    .table-filter {
        /* padding: 5px 0 15px;
                border-bottom: 1px solid #e9e9e9;
                margin-bottom: 5px; */
    }

        .table-filter .btn {
            height: 34px;
        }

        .table-filter label {
            font-weight: normal;
            margin-left: 10px;
        }

        .table-filter select, .table-filter input {
            display: inline-block;
            margin-left: 5px;
        }

        .table-filter input {
            width: 200px;
            display: inline-block;
        }

    .filter-group select.form-control {
        width: 110px;
    }

    .filter-icon {
        float: right;
        margin-top: 7px;
    }

        .filter-icon i {
            font-size: 18px;
            opacity: 0.7;
        }

</style>



@section PageHeader {
    <header class="d-flex align-items-center justify-content-between w-100">
        <h2 class="pageTitle">Hub Out Log</h2>
    </header>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row" style="padding:5px;">
                        <div class="col-sm-3" style="">
                            <input id="txtKeyword" name="Keyword" type="text" class="form-control" style="" placeholder="Keyword" />
                        </div>
                        <div class="col-sm-3" style="">
                            <input id="txtEvent" name="Event" type="text" class="form-control" style="" placeholder="Event" />
                        </div>
                        <div class="col-sm-1" style="">
                            <button type="button" class="btn btn-primary" style="width:100%;" onclick="loadList(1)"><i class="bi bi-search"></i> </button>
                        </div>
                        @* <div class="col-sm-1" style="">
                            <button type="button" class="btn btn-warning" style="width:100%;" onclick="loadList(1)"><i class="bi bi-download"></i> </button>
                        </div> *@
                    </div>
                    <hr />
                    <div class="table-filter">
                        <div class="row" style="padding-left:5px;">
                            <div class="col-sm-12">
                                <div class="show-entries">
                                    <label>Show</label>
                                    <select id="selpageSize" name="pageSize" class="form-control">
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                        <option value="200">250</option>
                                    </select>
                                    <span>entries</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    @* <div id="gridTable" class="table table-responsive text-nowrap mt-3"></div> *@

                    <div class="text-nowrap table-container">
                        <table id="listTable" class="dataTable row-border hover order-column" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Event Name</th>
                                    <th>Remark 1</th>
                                    <th>Remark 2</th>
                                    <th>Created Date</th>
                                    <th>Is Error</th>
                                </tr>
                            </thead>
                        </table>
                    </div>

                    <div class="dt-container dt-empty-footer">
                        <div class="dt-layout-row">
                            <div class="hint-text">Showing <b id="lblCurCount">0</b> of <b id="lblTotal">0</b> entries</div>
                            <div class="dt-layout-cell dt-layout-end">
                                <div class="dt-paging">
                                    <nav aria-label="pagination" id="ulPagination">
                                    </nav>
                                </div>
                            </div>
                            <input type="hidden" id="txtCurPage">
                            <input type="hidden" id="txtTotalRecord">
                            <input type="hidden" id="txtPageSize">
                            <input type="hidden" id="txtTotalPage">
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <link rel="stylesheet" href="~/css/sweetalert2.min.css">
    <link rel="stylesheet" href="~/css/dataTables.dataTables.css">
    <link rel="stylesheet" href="~/css/columnControl.dataTables.css">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="../js/dataTables.js"></script>
    <script src="../js/dataTables.columnControl.js"></script>
    <script src="../js/columnControl.dataTables.js"></script>

    <script src="~/js/sweetalert2.all.min.js"></script>
    <script src="~/js/xlsx.full.min.js"></script>
    <script src="~/js/exceljs.min.js"></script>

            @* <link href="~/css/datatables.min.css" rel="stylesheet">
            <script src="~/js/gridjs.umd.js"></script> 
            <script src="~/js/datatables.min.js"></script> 
            <link rel="stylesheet" href="~/css/gridjs.min.css"> *@

    <script type="text/javascript">
        let uploadedFileContent = null;
        let uploadedFileExtension = null;

        $(document).ready(function() {
            $('#txtTotalRecord').val(0);
            $('#txtTotalPage').val(1);
            loadList(1);
        });

        function prevPage() {
            var curPage = $("#txtCurPage").val();
            if (curPage == 1) {
                return;
            }
            loadList(curPage - 1);
        }

        function nextPage() {
            var curPage = Number($("#txtCurPage").val());
            var ttl = Number($("#txtTotalRecord").val());
            var pageSize = Number($("#txtPageSize").val());
            var ttlPage = Number($("#txtTotalPage").val());
            // var ttlPage = ttl / pageSize;
            // if ((ttl % pageSize) > 0) {
            //     ttlPage = ttlPage + 1;
            // }
            if ((curPage + 1) > ttlPage) {
                return;
            }
            loadList(curPage + 1);
        }

        function loadList(page) {
            $('#txtCurPage').val(page);
            $('#txtPageSize').val($("#selpageSize").val());
            var ttlPage = $("#txtTotalPage").val();
            for (var j = 1; j <= ttlPage; j++) {
                $('#btnP' + j).removeClass('current');
            }
            $('#btnP' + page).addClass('current');

            var data = {
                ItemCode: $("#txtKeyword").val(),
                ItemDesc: $("#txtEvent").val(),
                page: page,
                pageSize: $("#selpageSize").val(),
            };

            $.ajax({
                url: "/Log/GetHubOutLog/",
                type: "POST",
                data: JSON.stringify(data),
                dataType: 'JSON',
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {
                    Swal.fire({
                        text: 'Please Wait',
                        width: '300px',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        showConfirmButton: false,
                    });
                    Swal.showLoading();
                },
                success: function (result) {
                    swal.close()
                    if (result.success == true) {
                        $('#listTable').DataTable({
                            data: result.data,
                            paging: false,
                            searching: false,
                            "info": false,
                            // pageLength: $("#selpageSize").val(),
                            // lengthMenu: [50, 100, 250, 500, 1000],
                            "bDestroy": true,
                            columns: [
                                { data: 'eventName' },
                                { data: 'remark1' },
                                { data: 'remark2' },
                                { data: 'createdDate' },
                                {
                                    data: null,
                                    render: function (data, type, row, meta) {
                                        if (row.isErr == true) {
                                            return '<span class="badge rounded-pill bg-danger" style="font-size:13px;">Error</span>'
                                        }
                                        else {
                                            return ''
                                        }
                                    }
                                },
                            ],
                            ordering: {
                                indicators: false
                            },
                            columnControl: ['orderStatus']
                        });

                        // if is page 1 then need regenerate pagination, else just show current entry
                        var curCnt = 0;
                        var pageSize = parseInt($("#selpageSize").val());
                        var startEntry = ((page - 1) * pageSize) + 1;
                        var ttlRecords = result.totalRecords === -1 ? $('#lblTotal').text() : result.totalRecords;
                        var endEntry = Math.min(page * pageSize, ttlRecords);

                        if (ttlRecords === 0 || startEntry > ttlRecords) {
                            startEntry = 0;
                            endEntry = 0;
                        }
                        $('#lblCurCount').html(`${startEntry} to ${endEntry}`);

                        if (page == 1) {
                            $('#lblTotal').html(result.totalRecords);
                            $('#ulPagination').html('');

                            var pageSize = $("#selpageSize").val();
                            const myDiv = document.getElementById('ulPagination');
                            var ttlPage = parseInt(result.totalRecords / pageSize);
                            if ((result.totalRecords % pageSize) > 0) {
                                ttlPage = ttlPage + 1;
                            }
                            $('#txtTotalRecord').val(result.totalRecords);
                            $('#txtTotalPage').val(ttlPage);

                            // var lastPage = 1;
                            // myDiv.innerHTML += '<button class="dt-paging-button disabled first" onclick="loadList(1)" role="link" type="button" aria-controls="listTable"><<</button>';
                            // myDiv.innerHTML += '<button class="dt-paging-button disabled" onclick="prevPage()" role="link" type="button" aria-controls="listTable"><</button>';
                            // for (var i = 1; i <= ttlPage; i++) {
                            //     if (i == 1) {
                            //            myDiv.innerHTML += '<button class="dt-paging-button current" id="btnP'+ i +'" onclick="loadList('+ i +')" role="link" type="button" aria-controls="listTable">'+ i +'</button>';
                            //     }
                            //     else {
                            //            myDiv.innerHTML += '<button class="dt-paging-button" id="btnP'+ i +'" onclick="loadList('+ i +')" role="link" type="button" aria-controls="listTable">'+ i +'</button>';
                            //     }
                            //     lastPage = i;
                            // }
                            // myDiv.innerHTML += '<button class="dt-paging-button disabled" onclick="nextPage()" role="link" type="button" aria-controls="listTable">></button>';
                            // myDiv.innerHTML += '<button class="dt-paging-button last disabled" onclick="loadList(' + lastPage + ')" role="link" type="button" aria-controls="listTable">>></button>';
                        }

                        var isC = "";
                        var ttlPage = Number($("#txtTotalPage").val());
                        const myDiv = document.getElementById('ulPagination');
                        myDiv.innerHTML = "";
                        var pages = getVisiblePages(Number($('#lblTotal').html()), page, 8);
                        myDiv.innerHTML += '<button class="dt-paging-button disabled first" onclick="loadList(1)" role="link" type="button" aria-controls="listTable">«</button>';
                        myDiv.innerHTML += '<button class="dt-paging-button disabled" onclick="prevPage()" role="link" type="button" aria-controls="listTable">‹</button>';
                        pages.forEach(function(val, idx) {
                            if (page == val) {
                                isC = "current";
                            }
                            else {
                                isC = "";
                            }
                            if (val <= ttlPage) {
                                myDiv.innerHTML += '<button class="dt-paging-button ' + isC + '" id="btnP'+ val +'" onclick="loadList('+ val +')" role="link" type="button" aria-controls="listTable">'+ val +'</button>';
                            }
                        });
                        myDiv.innerHTML += '<button class="dt-paging-button disabled" onclick="nextPage()" role="link" type="button" aria-controls="listTable">›</button>';
                        myDiv.innerHTML += '<button class="dt-paging-button last disabled" onclick="loadList(' + ttlPage + ')" role="link" type="button" aria-controls="listTable">»</button>';

                    }
                    else {
                        swal.fire({
                            icon: 'error',
                            title: "Wait",
                            text: result.errMessage
                        });
                    }
                },
                error: function (error) {
                    swal.fire({
                        icon: 'error',
                        title: "Wait",
                        text: error.val
                    });
                }
            });
        }

        function getVisiblePages(totalPages, currentPage, range = 5) {
            if (totalPages <= range) {
                // If total pages are less than or equal to the range, show all of them
                return Array.from({ length: totalPages }, (_, i) => i + 1);
            }

            let startPage = Math.max(1, currentPage - Math.floor(range / 2));
            let endPage = Math.min(totalPages, startPage + range - 1);

            // Adjust startPage if endPage hits totalPages boundary
            if (endPage === totalPages) {
                startPage = Math.max(1, endPage - range + 1);
            }

            // Create an array of page numbers within the calculated range
            const pages = [];
            for (let i = startPage; i <= endPage; i++) {
                pages.push(i);
            }

            return pages;
        }
    </script>
}
