
<style>
    .row {
        clear: right;
    }

    #selpageSize:focus {
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }

    #selpageSize:hover {
        border-color: #007bff;
    }

    .pagination {
        float: right;
        margin: 0 0 5px;
    }

    .pagination li a {
        border: none;
        font-size: 13px;
        min-width: 30px;
        min-height: 30px;
        color: #999;
        margin : 0 2px;
        line-height: 30px;
        border-radius: 2px !important;
        text-align: center;
        padding: 0 6px;
    }

    .pagination li a:hover {
        color: #666;
    }

    .pagination li.active a {
        background: #03A9F4;
    }

    .pagination li.active a:hover {
        background: #0397d6;
    }

    .pagination li.disabled i {
        font-size: 16px;
        padding-top: 6px;
    }

    .pagination li i {
        font-size: 16px;
        padding-top: 6px
    }

</style>

@section PageHeader {
    <header class="d-flex align-items-center justify-content-between w-100">
        <h2 class="pageTitle">JOB Order List</h2>
        <div class="d-flex">
            <button type="button" class="btn btn-success" onclick="navigateToNew('new')">
                Add New JOB
            </button>
        </div>
    </header>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body pt-0">

                    @* <div id="gridTable" class="table table-responsive text-nowrap mt-3"></div> *@
                    <div class="text-nowrap table-container mt-1">
                        <table id="listTable" class="dataTable row-border hover order-column" style="width:100%">
                            <thead>
                                <tr>
                                    @* <th>Job Order Id</th> *@
                                    <th>Doc No</th>
                                    <th>Doc Date</th>
                                    <th>Description</th>
                                    <th>Status</th>
                                    <th>Created Date</th>
                                  @*   <th>Created By</th>
                                    <th>Updated Date</th>
                                    <th>Updated By</th> *@
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @* <link href="~/css/datatables.min.css" rel="stylesheet"> *@
    @* <script src="~/js/datatables.min.js"></script> 
    <link rel="stylesheet" href="~/css/gridjs.min.css">
    <script src="~/js/gridjs.umd.js"></script>*@

    <link rel="stylesheet" href="~/css/sweetalert2.min.css">
    <link rel="stylesheet" href="~/css/dataTables.dataTables.css">
    <link rel="stylesheet" href="~/css/columnControl.dataTables.css">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="../js/dataTables.js"></script>
    <script src="../js/dataTables.columnControl.js"></script>
    <script src="../js/columnControl.dataTables.js"></script>
    <script src="~/js/sweetalert2.all.min.js"></script>

    <script type="text/javascript">
        let itemIndex = 1;
        // let gridInstance = null;

        $(document).ready(function () {
            // getBOMList();
            loadList();
        });

        // function getBOMList() {
        //      $.ajax({
        //         url: "/BOM/GetActiveBOMList/",
        //         type: "GET",
        //         dataType: 'JSON',
        //         contentType: 'application/json; charset=utf-8',
        //         success: function (result) {
        //             if (result.success == true) {
        //                 console.log(result.data);

        //                 itemList = result.data.map(function (i) {
        //                     return {
        //                         itemId : i.item_Id,
        //                         itemCode: i.itemCode,
        //                         itemDescription: i.description,
        //                     };
        //                 });

        //                 const dropdownIds = ['subItem1'];
        //                 dropdownIds.forEach(function (id) {
        //                     const dropdown = document.getElementById(id);
        //                     dropdown.innerHTML = "";

        //                     const defaultOption = document.createElement("option");
        //                     defaultOption.value = "";
        //                     defaultOption.textContent = "Choose an Item";
        //                     defaultOption.disabled = true;
        //                     defaultOption.selected = true;
        //                     dropdown.appendChild(defaultOption);

        //                     result.data.forEach(function (i) {
        //                         const option = document.createElement("option");
        //                         option.value = i.item_Id;
        //                         option.textContent = i.itemCode;
        //                         dropdown.appendChild(option);
        //                     });
        //                 });
        //             } else {
        //                 swal.fire({
        //                     icon: 'error',
        //                     title: 'Wait',
        //                     text: result.errMessage
        //                 });
        //             }
        //         },
        //         error: function (error) {
        //             swal.fire({
        //                 icon: 'error',
        //                 title: 'Wait',
        //                 text: error.val
        //             });
        //         }
        //     });
        // }

        function loadList() {
             $.ajax({
                 url: "/JO/GetJOList/",
                 type: "GET",
                 dataType: 'JSON',
                 contentType: 'application/json; charset=utf-8',
                 beforeSend: function () {
                    Swal.fire({
                        text: 'Please Wait',
                        width: '300px',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        showConfirmButton: false,
                    });
                    Swal.showLoading();
                },
                success: function (result) {
                    swal.close();
                    if (result.success == true) {
                        /*
                        if (gridInstance) {
                            gridInstance.destroy();
                        }
                        gridInstance = new gridjs.Grid({
                            columns: [
                                { name: 'JobOrder ID', id: 'jobOrder_Id', hidden: true }, 
                                { name: 'Doc No', id: 'docNo', width: '160px' },
                                { 
                                    name: 'Doc Date', 
                                    id: 'docDate',
                                    formatter: (cell, row) => {
                                        const dateString = row.cells[2].data.split('.')[0];
                                        const date = new Date(dateString);

                                        if (isNaN(date)) {
                                            return 'Invalid Date';
                                        }
                                        return date.toLocaleString('en-GB', {
                                            year: 'numeric',
                                            month: 'numeric',
                                            day: 'numeric',
                                        });
                                    }
                                },
                                { 
                                    name: 'Description', 
                                    id: 'description', 
                                    width: '140px',
                                    formatter: (cell) => {
                                        const maxLength = 30;
                                        if (!cell) return '';
                                        return cell.length > maxLength
                                            ? gridjs.html(`<span title="${cell}">${cell.substring(0, maxLength)}...</span>`)
                                            : cell;
                                    }
                                },
                                { name: 'Status', id: 'status', width: '99px' },
                                { 
                                    name: 'Created Date', 
                                    formatter: (cell, row) => {
                                        const dateString = row.cells[5].data.split('.')[0];
                                        const date = new Date(dateString);

                                        if (isNaN(date)) {
                                            return 'Invalid Date';
                                        }
                                        return date.toLocaleString('en-GB', {
                                            year: 'numeric',
                                            month: 'numeric',
                                            day: 'numeric',
                                            hour: 'numeric',
                                            minute: 'numeric',
                                            hour12: true,
                                        });
                                    }
                                },
                                // { name: 'Created By', id: 'createdBy' },
                                // { name: 'Updated Date', id: 'updatedDate' },
                                // { name: 'Updated By', id: 'updatedBy' },
                                { 
                                    name: 'Action', 
                                    formatter: (cell, row) => {
                                        // const rawData = JSON.stringify({
                                        //     jobOrder_Id: row.cells[0].data,
                                        //     docNo: row.cells[1].data,
                                        //     docDate: row.cells[2].data,
                                        //     description: row.cells[3].data,
                                        //     status: row.cells[4].data,
                                        //     createdDate: row.cells[5].data,
                                        //     createdBy: row.cells[6].data,
                                        //     updatedDate: row.cells[7].data,
                                        // });
                                        const rawData = JSON.stringify(row);
                                        return gridjs.html(`
                                            <div style="display:flex;">
                                                <button class="btn btn-primary d-grid view-btn me-2" data-row='${rawData}' onclick="navigateToView(${row.cells[0].data}, 'view')">
                                                    <span><i class="bi bi-eye"></i> View</span>
                                                </button>
                                                <button class="btn btn-warning d-grid edit-btn me-2" data-row='${rawData}' onclick="navigateToEdit(${row.cells[0].data}, 'edit')">
                                                    <span><i class="bi bi-pencil-square"></i> Edit</span>
                                                </button>
                                                <button class="btn btn-danger d-grid delete-btn" data-id="${row.cells[0].data}">
                                                    <span><i class="bi bi-trash"></i> Delete</span>
                                                </button>
                                            </div>
                                        `);
                                    }
                                },
                            ],
                            data: result.data,
                            pagination: true,
                            search: true,
                            sort: true,
                            className: {
                                table: 'custom-table',
                            }
                        }).render(document.getElementById("gridTable"));

                        //remove grid-footer class
                        const footer = document.querySelector('#gridTable .gridjs-footer');
                        if (footer) {
                            footer.id = "gridFooter";
                        }
                        document.getElementById("gridFooter").classList.remove("gridjs-footer");
                        */

                        $('#listTable').DataTable( {
                            data: result.data,
                            paging: true,
                            searching: true,
                            "info": true,
                            "bDestroy": true,
                            columns: [
                                // { data: 'jobOrder_Id' },
                                { data: 'docNo' },
                                { 
                                    data: null ,
                                    render: function (data, type, row) {
                                        const docDate = new Date(row.docDate.split('.')[0]);
                                        if (isNaN(docDate)) return 'Invalid Date';

                                        return docDate.toLocaleString('en-GB', {
                                            year: 'numeric',
                                            month: 'numeric',
                                            day: 'numeric',
                                            hour: 'numeric',
                                            minute: 'numeric',
                                            hour: 'numeric',
                                            hour12: true
                                        });
                                    }
                                },
                                {
                                    data: 'description' ,
                                    render: function (data, type, row, meta) {
                                        const maxLength = 50;
                                        const desc = row.description || "";
                                        const shortDesc = desc.length > maxLength
                                            ? desc.substring(0, maxLength) + "..."
                                            : desc;

                                        return `
                                            <p style="margin: 0;">
                                                <span title="${desc}">${shortDesc}</span><br/>
                                                <span style="font-size:13px;color:grey;">${row.desc2 || ""}</span>
                                            </p>
                                        `;
                                    }
                                },
                                { data: 'status' },
                                { 
                                    data: 'createdDate',
                                    render: function (data, type, row) {
                                        const date = new Date(data.split('.')[0]);
                                        if (isNaN(date)) return 'Invalid Date';

                                        return date.toLocaleString('en-GB', {
                                            year: 'numeric',
                                            month: 'numeric',
                                            day: 'numeric',
                                            hour: 'numeric',
                                            minute: 'numeric',
                                            hour: 'numeric',
                                            hour12: true
                                        });
                                    }
                                },
                                // { data: 'createdBy' },
                                // { data: 'updatedDate' },
                                // { data: 'updatedBy' },
                                {
                                    data: null,
                                    render: function (data, type, row, meta) {
                                        const rawData = JSON.stringify(row).replace(/"/g, "&quot;");
                                        return `<div style="display:flex;">
                                                    <button class="btn btn-primary d-grid view-btn me-2" data-row='${rawData}' onclick="navigateToView(${row.jobOrder_Id}, 'view')">
                                                    <span><i class="bi bi-eye"></i> View</span>
                                                    </button>
                                                    <button class="btn btn-warning d-grid edit-btn me-2" data-row='${rawData}' onclick="navigateToEdit(${row.jobOrder_Id}, 'edit')">
                                                        <span><i class="bi bi-pencil-square"></i> Edit</span>
                                                    </button>
                                                    <button class="btn btn-danger d-grid delete-btn" data-id="${row.jobOrder_Id}">
                                                        <span><i class="bi bi-trash"></i> Delete</span>
                                                    </button>
                                                </div>`;
                                    }
                                },
                            ],
                            language: {
                                searchPlaceholder: "🔍︎ Search",
                                search: ""
                            },
                            ordering: {
                                indicators: false
                            },
                            columnControl: ['orderStatus']
                        });

                    }
                    else {
                        swal.fire({
                            icon: 'error',
                            title: "Wait",
                            text: result.errMessage
                        });
                    }
                },
                error: function (error) {
                    swal.fire({
                        icon: 'error',
                        title: "Wait",
                        text: error.val
                    });
                }
             });
        }

        function navigateToNew(mode) {
            window.location.href = '@Url.Action("JODetails", "JO", new { id = "_id_", mode = "_mode_" })'.replace('_id_', 0).replace('_mode_', mode);
        }

        function navigateToView(id, mode) {
            window.location.href = '@Url.Action("JODetails", "JO", new { id = "_id_", mode = "_mode_" })'.replace('_id_', id).replace('_mode_', mode);
        }

        function navigateToEdit(id, mode) {
            window.location.href = '@Url.Action("JODetails", "JO", new { id = "_id_", mode = "_mode_" })'.replace('_id_', id).replace('_mode_', mode);
        }

        $('#listTable').on('click', '.delete-btn', function () {
            const id = $(this).attr('data-id');
            deleteJob(id);
        });

        function deleteJob(id) {
            swal.fire({
                title: "Are you sure want to delete?",
                text: "You will not be able to recover this record!",
                inputAttributes: {
                    autocapitalize: 'off'
                },
                showCancelButton: true,
                confirmButtonText: 'ok',
                cancelButtonText: 'cancel',
                allowOutsideClick: false,
            }).then(function(r) {
                if (r.isConfirmed == true) {
                    var data = {
                        JobOrder_Id: id,
                    };
                    $.ajax({
                        url: '/JO/DeleteJob',
                        type: 'DELETE',
                        data: JSON.stringify(data),
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        beforeSend: function () {
                            Swal.fire({
                                text: 'Please Wait',
                                width: '300px',

                                allowEscapeKey: false,
                                allowOutsideClick: false,
                                showConfirmButton: false,
                            });
                            Swal.showLoading();
                        },
                        success: function (result) {
                            if (result.success == true) {
                                swal.fire({
                                    icon: 'success',
                                    title: "Success Deleted",
                                    text: "",
                                    didClose: () => {
                                      window.location.reload();
                                    }
                                });
                            }
                            else {
                                swal.fire({
                                    icon: 'error',
                                    title: "Wait",
                                    text: result.errMessage
                                });
                            }
                        },
                        error: function (error) {
                            console.log(error);
                            swal.fire({
                                icon: 'error',
                                title: "Wait",
                                text: error.val
                            });
                        }
                    });

                } else {
                    return;
                }
              });
        }
    </script>
}