<style>
    .table-title {
        color: #fff;
        background: #4b5366;
        border-radius: 3px 3px 0 0;
    }

    .table-title h2 {
        margin: 5px 0 0;
        font-size: 24px;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

    #columnNumber {
        max-width: 720px;

    }

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #004085;
    }

    .table th {
        background-color: #f8f9fa;
        text-align: left !important;
    }

    .align-td td {
        padding: 8px;
        text-align: left !important;
    }

    /* .input-group {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .input-group .form-control {
        border-radius: 10px 0 0 10px;  
        border-right: 0;
        height: 45px;
    }

    .input-group .btn {
        border-radius: 0 10px 10px 0;
        height: 45px;
        padding: 0 20px;
        border-left: 0;
        background-color: #007bff;
        color: white;
    }

    .input-group .form-control:focus {
        box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5); 
    }

    .input-group .btn i {
        font-size: 1.2rem;
    } */

    .form-label {
        font-size: 1rem;
        font-weight: 500;
    }

    .card2 {
        margin-top: 10px;
    }

</style>

<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card card-outline">
                <div class="card-header table-title">
                    <div class="card-title">
                        <h2>Empty Slot Drawer</h2>
                    </div>
                     <div class="card-tools">
                        <button id="btnRetrieve" class="btn btn-primary" onclick="retrieveEmpty()"><i class="fas fa-search"></i> Retrieve</button>
                    </div>
                </div>

                <div class="card-body">
                    @* <div class="mb-4">
                        <div class="input-group">
                            <input type="number" id="columnNumber" class="form-control" placeholder="Enter Column Number" min="1" />
                            <button id="btnRetrieve" class="btn btn-primary" onclick="retrieveEmpty()"><i class="fas fa-search"></i> Retrieve</button>
                        </div>
                    </div> *@

                    <div class="table table-responsive text-nowrap">
                        <table class="table dataTable hover" id="slotTable">
                            <thead>
                                <tr>
                                    <th>Priority</th>
                                    <th>Slot ID</th>
                                    <th>Slot Code</th>
                                    <th>Column Number</th>
                                    <th>Row Number</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <link href="~/css/datatables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/sweetalert2.min.css">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/datatables.min.js"></script>
    <script src="~/js/sweetalert2.all.min.js"></script>    

    <script type="text/javascript">

        $(document).ready(async function () {
            $('#slotTable').DataTable({
                data: null,
            });
        });

        function retrieveEmpty() {
            $.ajax({
                url: '/Slot/GetFreeSlot_Drawer_ByColumn', 
                type: 'GET',
                // data: JSON.stringify(colNo),
                dataType: 'JSON',
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {
                    Swal.fire({
                        text: 'Please Wait',
                        width: '300px',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        showConfirmButton: false,
                    });
                    Swal.showLoading()
                },
                success: function(result) {
                    Swal.close();
                    if (result.success == true) {
                        console.log(result);
                        $('#slotTable').addClass('align-td');

                        result.data.forEach((item, index) => {
                            item.priority = index + 1;
                        });

                        $('#slotTable').DataTable( {
                            data: result.data,
                            "bDestroy": true,
                            columns: [
                                { data: 'priority'},
                                { data: 'slot_Id' },
                                { data: 'slotCode' },
                                { data: 'colNo' },
                                { data: 'rowNo' },
                            ],
                            order: [[0, 'asc']],
                        });
                    }
                    else 
                    {
                        $('#slotTable tbody').empty();
                        $('#slotTable tbody').append('<tr><td colspan="5" class="dt-empty">No empty trays found from slot.</td></tr>');                       
                    }
                },
                error: function(error) {
                    swal.fire({
                        icon: 'error',
                        title: "Wait",
                        text: error.val
                    });
                }
            });
        }
    </script>
}