
@section PageHeader {
    <header class="d-flex align-items-center justify-content-between w-100">
        <h2 class="pageTitle">Empty Slot Drawer</h2>
        <div class="d-flex">
            <button id="btnRetrieve" class="btn btn-primary" onclick="retrieveEmpty()">
                <i class="fas fa-search"></i> Retrieve
            </button>
        </div>
    </header>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body pt-0">
                    <div class="text-nowrap table-container mt-1">
                        <table class="dataTable row-border hover order-column" id="listTable">
                            <thead>
                                <tr>
                                    <th>Priority</th>
                                    <th>Slot ID</th>
                                    <th>Slot Code</th>
                                    <th>Column Number</th>
                                    <th>Row Number</th>
                                </tr>
                            </thead>
                        </table>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <link rel="stylesheet" href="~/css/sweetalert2.min.css">
    <link rel="stylesheet" href="~/css/dataTables.dataTables.css">
    <link rel="stylesheet" href="~/css/columnControl.dataTables.css">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="../js/dataTables.js"></script>
    <script src="../js/dataTables.columnControl.js"></script>
    <script src="../js/columnControl.dataTables.js"></script>
    <script src="~/js/sweetalert2.all.min.js"></script>
@*     <script src="~/js/gridjs.umd.js"></script>
    <link rel="stylesheet" href="~/css/gridjs.min.css"> *@

    <script type="text/javascript">
        let table = null;

        $(document).ready(async function () {
            loadDefault();
        });

        function loadDefault() {
            /*
            gridInstance = new gridjs.Grid({
                columns: ['Priority', 'Slot ID', 'Slot Code', 'Column No', 'Row No'],
                data: [],
                className: {
                    table: 'table table-bordered custom-table'
                },
            }).render(document.getElementById("gridTable"));
            */

           table = $('#listTable').DataTable( {
                 columns: [
                    { data: 'priority' },
                    { data: 'slot_Id' },
                    { data: 'slotCode' },
                    { data: 'colNo' },
                    { data: 'rowNo' },
                ],
                language: {
                    searchPlaceholder: "🔍︎ Search",
                    search: ""
                },
                ordering: {
                    indicators: false
                },
                columnControl: ['orderStatus']
           });
        }

        function retrieveEmpty() {
            $.ajax({
                url: '/Slot/GetFreeSlot_Drawer_ByColumn', 
                type: 'GET',
                dataType: 'JSON',
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {
                    Swal.fire({
                        text: 'Please Wait',
                        width: '300px',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        showConfirmButton: false,
                    });
                    Swal.showLoading()
                },
                success: function(result) {
                    Swal.close();
                    if (result.success == true) {
                        console.log(result); 
                        /*
                        const tableData = result.data.map((item, index) => [
                            index +1,
                            item.slot_Id,
                            item.slotCode,
                            item.colNo,
                            item.rowNo
                        ]);

                       
                        if (gridInstance) { //destroy previous grid instance 
                            gridInstance.destroy();
                        }

                        gridInstance = new gridjs.Grid({
                            columns: ['Priority', 'Slot ID', 'Slot Code', 'Column No', 'Row No'],
                            data: tableData,
                            pagination: true,
                            sort: true,
                            search: true,
                            className: {
                                table: 'table table-bordered custom-table',
                                // td: 'custom-td',
                            },
                        }).render(document.getElementById("gridTable"));

                        //remove grid-footer class
                        const footer = document.querySelector('#gridTable .gridjs-footer');
                        if (footer) {
                            footer.id = "gridFooter";
                        }
                        document.getElementById("gridFooter").classList.remove("gridjs-footer");
                        */
                        result.data.forEach((item, index) => {
                            item.priority = index + 1;
                        });

                        table.clear();
                        table.rows.add(result.data);
                        table.draw();
                    }
                },
                error: function(error) {
                    swal.fire({
                        icon: 'error',
                        title: "Wait",
                        text: error.statusText || "An error occurred"
                    });
                }
            });
        }
    </script>
}