
<style type="text/css">
    body {
        color: #566787;
        background: #f5f5f5;
        /* font-family: 'Varela Round', sans-serif; */
        /* font-size: 13px; */
    }

    .table-wrapper {
        background: #fff;
        padding: 20px 25px;
        margin: 30px auto;
        border-radius: 3px;
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }

        .table-wrapper .btn {
            float: right;
            color: #333;
            background-color: #fff;
            border-radius: 3px;
            border: none;
            outline: none !important;
            margin-left: 10px;
        }

            .table-wrapper .btn:hover {
                color: #333;
                background: #f2f2f2;
            }

            .table-wrapper .btn.btn-primary {
                color: #fff;
                background: #03A9F4;
            }

                .table-wrapper .btn.btn-primary:hover {
                    background: #03a3e7;
                }

    .table-title .btn {
        font-size: 17px;
        border: none;
    }

        .table-title .btn i {
            float: left;
            font-size: 21px;
            margin-right: 5px;
        }

        .table-title .btn span {
            float: left;
            margin-top: 2px;
            height: 21px;
        }

    .table-title {
        color: #fff;
        background: #4b5366;
        padding: 16px 25px;
        margin: -20px -25px 10px;
        border-radius: 3px 3px 0 0;
    }

        .table-title h2 {
            margin: 5px 0 0;
            font-size: 24px;
        }

    .show-entries select.form-control {
        width: 60px;
        margin: 0 5px;
    }

    .table-filter .filter-group {
        float: right;
        margin-left: 15px;
    }

    .table-filter input, .table-filter select {
        height: 34px;
        border-radius: 3px;
        border-color: #ddd;
        box-shadow: none;
    }

    .table-filter {
        padding: 5px 0 15px;
        border-bottom: 1px solid #e9e9e9;
        margin-bottom: 5px;
    }

        .table-filter .btn {
            height: 34px;
        }

        .table-filter label {
            font-weight: normal;
            margin-left: 10px;
        }

        .table-filter select, .table-filter input {
            display: inline-block;
            margin-left: 5px;
        }

        .table-filter input {
            width: 200px;
            display: inline-block;
        }

    .filter-group select.form-control {
        width: 110px;
    }

    .filter-icon {
        float: right;
        margin-top: 7px;
    }

        .filter-icon i {
            font-size: 18px;
            opacity: 0.7;
        }

    /* .table > :not(caption) > * > * {
                padding: 0 !important;
            } */

    .tblRow {
        padding: 0 !important;
    }

    .tblCol1 {
        width: 30%;
    }

    .tblCol2 {
        width: 60%;
    }

    .tblCol3 {
        width: 10%;
    }

</style>

<div class="container-fluid">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-4">
                    <h2>Racking Status <b></b></h2>
                </div>
            </div>
        </div>

        <div class="row" style="padding:5px;">
            <div class="col-sm-4" style="">
            </div>
            <div class="col-sm-4" style="">
            </div>
            <div class="col-sm-4" style="">
                <div class="row">
                    <div class="col-3" style="padding:0;">
                        @* <select id="selDateType" name="DateType" class="form-control">
                            <option value="25">25</option>
                            <option value="50">50</option>
                        </select> *@
                        <label>Column : </label>
                    </div>
                    <div class="col-5" style="padding:0;">
                        <input id="txtCol" name="txtCol" type="number" class="form-control" style="" placeholder="Column No" />
                    </div>
                    <div class="col-4" style="padding:0;">
                        <button type="button" class="btn btn-primary" style="width:100%;" onclick="loadList()"><i class="bi bi-search"></i> </button>
                    </div>
                </div>
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col-2">
                <div class="card card-success">
                    <div class="card-body">
                        <div class="row" style="padding:5px;">
                            @* <div class="col-4">
                                <span style="font-size:15px;">3</span>
                            </div>
                            <div class="col-8">
                                <label>Tray with Reel - 3rd level</label>
                            </div> *@
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <table class="table table-striped table-hover" id="list1Table">
                    <tbody id="list1TableBody"></tbody>
                </table>
            </div>
            <div class="col-2">
                <table class="table table-striped table-hover" id="list2Table">
                    <tbody id="list2TableBody"></tbody>
                </table>
            </div>
            <div class="col-2">
                <table class="table table-striped table-hover" id="list3Table">
                    <tbody id="list3TableBody"></tbody>
                </table>
            </div>
            <div class="col-2">
                <table class="table table-striped table-hover" id="list4Table">
                    <tbody id="list4TableBody"></tbody>
                </table>
            </div>
            <div class="col-2">
                <table class="table table-striped table-hover" id="list5Table">
                    <tbody id="list5TableBody"></tbody>
                </table>
            </div>
        </div>

    </div>

</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update Slot</h4>
            </div>
            @* <form action="/bin/SaveBin" method="post"> *@
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label" for="txtRowNo">Row No</label>
                    <input type="text" class="form-control" name="RowNo" id="txtRowNo" aria-describedby="Row No" disabled>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="txtPriority">Priority</label>
                    <input type="number" class="form-control" name="RowNo" id="txtPriority" aria-describedby="Priority">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="chkIsActive">
                    <label class="form-check-label" for="chkIsActive">Is Active</label>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="chkForEmptyTray">
                    <label class="form-check-label" for="chkForEmptyTray">For Empty Tray</label>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="chkHasEmptyTray">
                    <label class="form-check-label" for="chkHasEmptyTray">Has Empty Tray</label>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="chkHasReel">
                    <label class="form-check-label" for="chkHasReel">Has Reel</label>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="txtReelNo">Reel No</label>
                    <input type="number" class="form-control" name="ReelNo" id="txtReelNo" aria-describedby="ReelNo">
                </div>

                <input type="hidden" id="txtId">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="updateSlotStatus()">Update</button>
                <button type="button" class="btn btn-outline-secondary" onclick="cancelForm()">Cancel</button>
            </div>
            @* </form> *@
        </div>
    </div>
</div>

@section Scripts
{
    <link href="~/css/datatables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/sweetalert2.min.css">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/datatables.min.js"></script>
    <script src="~/js/sweetalert2.all.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $('#txtCol').val(1);
            loadList();
        });

        function loadList() {
            var col = $('#txtCol').val();
            $.ajax({
                url: "/Slot/GetSlotStatus_ByColumn?req=" + col,
                type: "GET",
                dataType: 'JSON',
                // data: JSON.stringify(jsonInput),
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {
                    Swal.fire({
                        text: 'Please Wait',
                        width: '300px',

                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        showConfirmButton: false,
                    });
                    Swal.showLoading()
                },
                success: function (result) {
                    console.log(result);
                    swal.close();
                    if (result.success == true) {

                        var idx = 1;
                        for (let iC = 1; iC <= 5; iC++) {
                            const tbl = document.getElementById('list' + iC + 'Table');
                            const tableBody = document.getElementById('list' + iC + 'TableBody');
                            tableBody.innerHTML = '';

                            for (let i = 0; i < 25; i++) { // Example: Add 5 rows
                                if (idx >= 111) { continue; }
                                const newRow = tbl.insertRow(); // or document.createElement('tr');
                                const cell1 = newRow.insertCell(); // or document.createElement('td');
                                cell1.innerHTML = '<a style="font-size:10px;" ' +
                                'href="javascript:updateForm(\'' + result.data[idx - 1].slot_Id + '\',\'' + result.data[idx - 1].rowNo + '\',\'' + result.data[idx - 1].isActive + '\', ' +
                                '\'' + result.data[idx - 1].forEmptyTray + '\',\'' + result.data[idx - 1].hasEmptyTray + '\',\'' + result.data[idx - 1].hasReel + '\',\'' + result.data[idx - 1].reelNo + '\',\'' + result.data[idx - 1].priority + '\')" >' + result.data[idx - 1].rowNo + '</a>';
                                $(cell1).addClass("tblRow tblCol1");
                                const cell2 = newRow.insertCell(); // or document.createElement('td');
                                // if (result.data[idx - 1].hasReel) {
                                //     if (result.data[idx - 1].reelNo == 0) {
                                //         cell2.innerHTML = '<img src="../assets/img/tray_full_icon_138077.png" style="display:flex;justify-self: center; height:25px;" />';
                                //     }
                                //     else {
                                //         cell2.innerHTML = '<span style="display:flex;justify-self: center; font-size:15px;">2</span>';
                                //     }
                                // }
                                // else {
                                //     if (result.data[idx - 1].hasEmptyTray) {
                                //         cell2.innerHTML = '<img src="../assets/img/tray_icon_136086.png" style="display:flex;justify-self: center;width:25px;height:25px;" />';
                                //     }
                                //     else {
                                //         cell2.innerHTML = '';
                                //     }
                                // }
                                cell2.innerHTML = '' + result.data[idx - 1].qrxPulse + ', ' + result.data[idx - 1].qryPulse;
                                $(cell2).addClass("tblRow tblCol2");
                                const cell3 = newRow.insertCell(); // or document.createElement('td');
                                if (result.data[idx - 1].isActive) {
                                    cell3.innerHTML = '<span style="font-size:10px;color:lightgreen;"><i class="bi-circle-fill"></i></span>';
                                }
                                else {
                                    cell3.innerHTML = '<span style="font-size:10px;color:red;"><i class="bi-exclamation-circle-fill"></i></span>';
                                }
                                if (result.data[idx - 1].forEmptyTray) {
                                        cell3.innerHTML = cell3.innerHTML + '<img src="../assets/img/lock.png" style="width:12px;height:12px;" />';
                                }
                                else {
                                    // cell3.innerHTML = '<span style="font-size:10px;color:red;"><i class="bi-exclamation-circle-fill"></i></span>';
                                }
                                $(cell3).addClass("tblRow tblCol3");

                                idx = idx + 1;
                            }
                        }

                    }
                    else {
                        swal.fire({
                            icon: 'error',
                            title: "Wait",
                            text: result.errMessage
                        });
                    }
                },
                error: function (error) {
                    swal.fire({
                        icon: 'error',
                        title: "Wait",
                        text: error.val
                    });
                }
            });

        }

        function simulateResult() {

            var data = {
                ColNo: $("#txtCol").val(),
                TotalSlot: $("#txtTotalRow").val(),
                SortExp: 'row1 asc',
            };

            $.ajax({
                url: "/Slot/GetFreeSlot_ByColumn_ASC",
                type: "POST",
                dataType: 'JSON',
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {
                    Swal.fire({
                        text: 'Please Wait',
                        width: '300px',

                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        showConfirmButton: false,
                    });
                    Swal.showLoading()
                },
                success: function (result) {
                    console.log(result);
                    swal.close();
                    if (result.success == true) {
                          const myDiv = document.getElementById('txtResult');
                          myDiv.innerHTML = result.data.row1 + ' || ' + result.data.row2 + ' || ' + result.data.row3;
                          myDiv.innerHTML = result.data.row1 + ' || ' + result.data.row2 + ' || ' + result.data.row3 + ' || ' + result.data.row4;

                    }
                    else {
                        swal.fire({
                            icon: 'error',
                            title: "Wait",
                            text: result.errMessage
                        });
                    }
                },
                error: function (error) {
                    swal.fire({
                        icon: 'error',
                        title: "Wait",
                        text: error.val
                    });
                }
            });

        }

        function simulateResultDesc() {

            var data = {
                ColNo: $("#txtCol").val(),
                TotalSlot: $("#txtTotalRow").val(),
                SortExp: '',
            };

            $.ajax({
                url: "/Slot/GetFreeSlot_ByColumn_DESC",
                type: "POST",
                dataType: 'JSON',
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {
                    Swal.fire({
                        text: 'Please Wait',
                        width: '300px',

                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        showConfirmButton: false,
                    });
                    Swal.showLoading()
                },
                success: function (result) {
                    console.log(result);
                    swal.close();
                    if (result.success == true) {
                          const myDiv = document.getElementById('txtResult');
                          myDiv.innerHTML = result.data.row1 + ' || ' + result.data.row2 + ' || ' + result.data.row3 + ' || ' + result.data.row4;

                    }
                    else {
                        swal.fire({
                            icon: 'error',
                            title: "Wait",
                            text: result.errMessage
                        });
                    }
                },
                error: function (error) {
                    swal.fire({
                        icon: 'error',
                        title: "Wait",
                        text: error.val
                    });
                }
            });

        }

        function updateForm(id, rowno, isAct, forET, hasET, hasR, reelNo, p) {
            $("#txtId").val(id);
            $("#txtRowNo").val(rowno);
            if (isAct == "true") {
                document.getElementById("chkIsActive").checked = true;
            }
            else {
                document.getElementById("chkIsActive").checked = false;
            }
            if (forET == "true") {
                document.getElementById("chkForEmptyTray").checked = true;
            }
            else {
                document.getElementById("chkForEmptyTray").checked = false;
            }
            if (hasET == "true") {
                document.getElementById("chkHasEmptyTray").checked = true;
            }
            else {
                document.getElementById("chkHasEmptyTray").checked = false;
            }
            if (hasR == "true") {
                document.getElementById("chkHasReel").checked = true;
            }
            else {
                document.getElementById("chkHasReel").checked = false;
            }
            $("#txtReelNo").val(reelNo);
            $("#txtPriority").val(p);
            $("#myModal").modal("show");
        }

        function updateSlotStatus() {
            const chkIsAct = document.querySelector('#chkIsActive');
            const chkForEmptyTray = document.querySelector('#chkForEmptyTray');
            const chkHasEmptyTray = document.querySelector('#chkHasEmptyTray');
            const chkHasReel = document.querySelector('#chkHasReel');

            var data = {
                Slot_Id: $("#txtId").val(),
                IsActive: chkIsAct.checked ? true : false,
                ForEmptyTray: chkForEmptyTray.checked ? true : false,
                HasEmptyTray: chkHasEmptyTray.checked ? true : false,
                HasReel: chkHasReel.checked ? true : false,
                ReelNo: $("#txtReelNo").val(),
                RowNo: $("#txtRowNo").val(),
            }

            //console.log(JSON.stringify(data));

            $.ajax({
                url: '/Slot/UpdateSlotStatus',
                type: 'POST',
                data: JSON.stringify(data),
                dataType: 'JSON',
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {
                    Swal.fire({
                        text: 'Please Wait',
                        width: '300px',

                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        showConfirmButton: false,
                    });
                    Swal.showLoading()
                },
                success: function (result) {
                    // console.log(result);
                    if (result.success == true) {
                        $("#myModal").modal("toggle");
                        swal.fire({
                            icon: 'success',
                            title: "Success Update",
                            text: "",
                            didClose: () => {
                              window.location.reload();
                            }
                        });
                    }
                    else {
                        swal.fire({
                            icon: 'error',
                            title: "Wait",
                            text: result.errMessage
                        });
                    }
                },
                error: function (error) {
                    console.log(error);
                    swal.fire({
                        icon: 'error',
                        title: "Wait",
                        text: error.val
                    });
                }
            });

            // console.log(id);
        }

        function cancelForm() {
            $("#myModal").modal("toggle");
        }


    </script>
}
