@{
}

<style>
    .table-title {
        color: #fff;
        background: #4b5366;
        /*     padding: 16px 25px;
                    margin: -20px -25px 10px; */
        border-radius: 3px 3px 0 0;
    }

        .table-title h2 {
            margin: 5px 0 0;
            font-size: 24px;
        }

    .pnlHide {
        display: none;
    }
</style>

<br />

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card card-outline ">
                <div class="card-header table-title">
                    <div class="card-title">
                        <h2>Reel Dimension Setting <b></b></h2>
                    </div>
                    <div class="card-tools">
                        <button type="button" class="btn btn-success" onclick="newItemForm()">
                            Add New User
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table table-striped table-bordered table-responsive text-nowrap">
                        <table id="listTable" class="dt-column-search table table-bordered table-responsive dataTable" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Fullname</th>
                                    <th>Email</th>
                                    <th>Is Active</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update Dimension</h4>
            </div>
            @* <form action="/bin/SaveBin" method="post"> *@
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label" for="txtUsername">Username</label>
                    <input type="text" class="form-control" name="Username" id="txtUsername" aria-describedby="Username">
                </div>

                <div class="mb-3" id="pnlPassword">
                    <label class="form-label" for="txtPassword">Password</label>
                    <input type="password" class="form-control" name="Password" id="txtPassword" aria-describedby="Password">
                </div>
                <div class="mb-3" id="pnlConfirmPassword">
                    <label class="form-label" for="txtConfirmPassword">Confirm Password</label>
                    <input type="password" class="form-control" name="ConfirmPassword" id="txtConfirmPassword" aria-describedby="ConfirmPassword">
                </div>

                <div class="mb-3">
                    <label class="form-label" for="txtFullname">Fullname</label>
                    <input type="text" class="form-control" name="Fullname" id="txtFullname" aria-describedby="Fullname">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="txtEmail">Email</label>
                    <input type="text" class="form-control" name="Email" id="txtEmail" aria-describedby="Email">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="chkIsActive">
                    <label class="form-check-label" for="chkIsActive">Is Active</label>
                </div>

                <input type="hidden" id="txtId">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="saveItem()">Save</button>
                <button type="button" class="btn btn-outline-secondary" onclick="cancelForm()">Cancel</button>
            </div>
            @* </form> *@
        </div>
    </div>
</div>

<div class="modal fade" id="myResetModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update Dimension</h4>
            </div>
            @* <form action="/bin/SaveBin" method="post"> *@
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label" for="txtUsername2">Username</label>
                    <input type="text" class="form-control" name="Username" id="txtUsername2" aria-describedby="Username" disabled>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="txtPassword2">Password</label>
                    <input type="password" class="form-control" name="Password" id="txtPassword2" aria-describedby="Password">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="txtConfirmPassword2">Confirm Password</label>
                    <input type="password" class="form-control" name="ConfirmPassword" id="txtConfirmPassword2" aria-describedby="ConfirmPassword">
                </div>

                <input type="hidden" id="txtId2">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="resetPassword()">Save</button>
                <button type="button" class="btn btn-outline-secondary" onclick="cancelResetForm()">Cancel</button>
            </div>
            @* </form> *@
        </div>
    </div>
</div>

@section Scripts
{
    <link href="~/css/datatables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/sweetalert2.min.css">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/datatables.min.js"></script>
    <script src="~/js/sweetalert2.all.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            loadList();
        });

        function loadList() {
            $.ajax({
                url: "/Account/GetUserList/",
                type: "GET",
                dataType: 'JSON',
                // data: JSON.stringify(jsonInput),
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {
                    Swal.fire({
                        text: 'Please Wait',
                        width: '300px',

                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        showConfirmButton: false,
                    });
                    Swal.showLoading()
                },
                success: function (result) {
                    console.log(result);
                    swal.close()
                    if (result.success == true) {
                        $('#listTable').DataTable( {
                            data: result.data,
                            paging: true,
                            pageLength: 50,
                            lengthMenu: [50, 100, 250, 500, 1000],
                            columns: [
                                { data: 'username' },
                                { data: 'fullname' },
                                { data: 'email' },
                                {
                                    data: null,
                                    render: function (data, type, row, meta) {
                                        if (row.isActive == true) {
                                            return '<span><i class="bi bi-check-square" style="color: darkgreen;"></i></span>'
                                        }
                                        else {
                                            return '<span><i class="bi bi-app""></i></span>'
                                        }
                                    }
                                },
                                {
                                    data: null,
                                    render: function (data, type, row, meta) {
                                        return '<div style="display:flex;"><button class="btn btn-success d-grid" style="margin-right:10px;"' +
                                        'onclick="editItemForm(\'' + row.id + '\', ' +
                                        '\'' + row.username + '\', \'' + row.fullname + '\', \'' + row.email + '\', \'' + row.isActive + '\' )">' +
                                        '<span><i class="bi bi-pencil-square""></i>  Edit</span></button>' +

                                        '<button class="btn btn-warning d-grid" style="margin-right:10px;"' +
                                        'onclick="resetPassForm(\'' + row.id + '\', \'' + row.username + '\')">' +
                                        '<span><i class="bi bi-lock""></i>  Reset Password</span></button>' +

                                        '<button class="btn btn-danger deactivate-account" onclick="deleteItem(\'' + row.id + '\')"><span><i class="bi bi-trash""></i>  Delete</span></button></div>';
                                    }
                                }
                            ],
                        });



                    }
                    else {
                        swal.fire({
                            icon: 'error',
                            title: "Wait",
                            text: result.errMessage
                        });
                    }
                },
                error: function (error) {
                    swal.fire({
                        icon: 'error',
                        title: "Wait",
                        text: error.val
                    });
                }
            });
        }

        function newItemForm() {
            $("#txtId").val("");
            $("#txtUsername").val("");
            $("#txtPassword").val("");
            $("#txtConfirmPassword").val("");
            $("#txtFullname").val("");
            $("#txtEmail").val("");
            document.getElementById("chkIsActive").checked = true;
            $("#myModal").modal("show");

            $('#pnlPassword').removeClass('pnlHide');
            $('#pnlConfirmPassword').removeClass('pnlHide');
        }

        function editItemForm(id, un, fn, e, isAct) {
            $("#txtId").val(id);
            $("#txtUsername").val(un);
            $("#txtPassword").val("");
            $("#txtConfirmPassword").val("");
            $("#txtFullname").val(fn);
            $("#txtEmail").val(e);
            if (isAct == "true") {
                document.getElementById("chkIsActive").checked = true;
            }
            else {
                document.getElementById("chkIsActive").checked = false;
            }
            $('#pnlPassword').addClass('pnlHide');
            $('#pnlConfirmPassword').addClass('pnlHide');
            $("#myModal").modal("show");
        }

        function resetPassForm(id, un) {
            $("#txtId2").val(id);
            $("#txtUsername2").val(un);
            $("#txtPassword2").val("");
            $("#txtConfirmPassword2").val("");
            $("#myResetModal").modal("show");
        }

        function cancelForm() {
            $("#myModal").modal("toggle");
        }

        function cancelResetForm() {
            $("#myResetModal").modal("toggle");
        }

        function resetPassword() {

            var err = "";
            if ($("#txtPassword2").val() != $("#txtConfirmPassword2").val()) {
                err = "Password and Confirm Password are not match.";
            }
            if (err != "") {
                swal.fire({
                    icon: 'error',
                    title: "Wait",
                    text: err
                });
                return;
            }

            var data = {
                Id: $("#txtId2").val(),
                Username: $("#txtUsername2").val(),
                Password: $("#txtPassword2").val(),
                ConfirmPassword: $("#txtConfirmPassword2").val(),
                Fullname: '',
                Email: ''
            }

            //console.log(JSON.stringify(data));

            $.ajax({
                url: '/Account/ResetUserPassword',
                type: 'POST',
                data: JSON.stringify(data),
                dataType: 'JSON',
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {
                    Swal.fire({
                        text: 'Please Wait',
                        width: '300px',

                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        showConfirmButton: false,
                    });
                    Swal.showLoading()
                },
                success: function (result) {
                    // console.log(result);
                    if (result.success == true) {
                        // $("#myModal").modal("toggle");
                        swal.fire({
                            icon: 'success',
                            title: "Success Update",
                            text: "",
                            didClose: () => {
                              window.location.reload();
                            }
                        });
                    }
                    else {
                        swal.fire({
                            icon: 'error',
                            title: "Wait",
                            text: result.errMessage
                        });
                    }
                },
                error: function (error) {
                    console.log(error);
                    swal.fire({
                        icon: 'error',
                        title: "Wait",
                        text: error.val
                    });
                }
            });

            // console.log(id);
        }

        function saveItem() {
            const chkIsAct = document.querySelector('#chkIsActive');

            var err = "";
            if ($("#txtUsername").val() == "") {
               err = "Please insert Username.";
            }
            if ($("#txtId").val() == "") {
                if ($("#txtPassword").val() != $("#txtConfirmPassword").val()) {
                    err = "Password and Confirm Password are not match.";
                }
            }
            if ($("#txtFullname").val() == "") {
               err = "Please insert Fullname.";
            }
            if ($("#txtEmail").val() == "") {
               err = "Please insert Email.";
            }
            if (err != "") {
                swal.fire({
                    icon: 'error',
                    title: "Wait",
                    text: err
                });
                return;
            }

            var data = {
                Id: $("#txtId").val(),
                Username: $("#txtUsername").val(),
                Password: $("#txtPassword").val(),
                ConfirmPassword: $("#txtConfirmPassword").val(),
                Fullname: $("#txtFullname").val(),
                Email: $("#txtEmail").val(),
                IsActive: chkIsAct.checked ? true : false
            }

            //console.log(JSON.stringify(data));

            $.ajax({
                url: '/Account/SaveUser',
                type: 'POST',
                data: JSON.stringify(data),
                dataType: 'JSON',
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {
                    Swal.fire({
                        text: 'Please Wait',
                        width: '300px',

                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        showConfirmButton: false,
                    });
                    Swal.showLoading()
                },
                success: function (result) {
                    // console.log(result);
                    if (result.success == true) {
                        $("#myModal").modal("toggle");
                        swal.fire({
                            icon: 'success',
                            title: "Success Update",
                            text: "",
                            didClose: () => {
                              window.location.reload();
                            }
                        });
                    }
                    else {
                        swal.fire({
                            icon: 'error',
                            title: "Wait",
                            text: result.errMessage
                        });
                    }
                },
                error: function (error) {
                    console.log(error);
                    swal.fire({
                        icon: 'error',
                        title: "Wait",
                        text: error.val
                    });
                }
            });

            // console.log(id);
        }

        function deleteItem(id) {

            swal.fire({
                title: "Are you sure want to delete?",
                text: "You will not be able to recover this record!",
                inputAttributes: {
                    autocapitalize: 'off'
                },
                showCancelButton: true,
                confirmButtonText: 'ok',
                cancelButtonText: 'cancel',
                allowOutsideClick: false
              }).then(function(r) {
                if (r.isConfirmed == true) {

                    var data = {
                        Id: id,
                    }

                    $.ajax({
                        url: '/Account/DeleteUser',
                        type: 'DELETE',
                        data: JSON.stringify(data),
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        beforeSend: function () {
                            Swal.fire({
                                text: 'Please Wait',
                                width: '300px',

                                allowEscapeKey: false,
                                allowOutsideClick: false,
                                showConfirmButton: false,
                            });
                            Swal.showLoading()
                        },
                        success: function (result) {
                            if (result.success == true) {
                                swal.fire({
                                    icon: 'success',
                                    title: "Success Deleted",
                                    text: "",
                                    didClose: () => {
                                      window.location.reload();
                                    }
                                });
                            }
                            else {
                                swal.fire({
                                    icon: 'error',
                                    title: "Wait",
                                    text: result.errMessage
                                });
                            }
                        },
                        error: function (error) {
                            console.log(error);
                            swal.fire({
                                icon: 'error',
                                title: "Wait",
                                text: error.val
                            });
                        }
                    });

                } else {
                    return;
                }
              });

        }

    </script>
}
