
<style>
    body {
        color: #566787;
        background: #f5f5f5;
        /* font-family: 'Varela Round', sans-serif; */
        /* font-size: 13px; */
    }

    .table-wrapper {
        background: #fff;
        padding: 20px 25px;
        margin: 30px auto;
        border-radius: 3px;
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }

        .table-wrapper .btn {
            float: right;
            color: #333;
            background-color: #fff;
            border-radius: 3px;
            border: none;
            outline: none !important;
            margin-left: 10px;
        }

            .table-wrapper .btn:hover {
                color: #333;
                background: #f2f2f2;
            }

            .table-wrapper .btn.btn-primary {
                color: #fff;
                background: #03A9F4;
            }

                .table-wrapper .btn.btn-primary:hover {
                    background: #03a3e7;
                }

            .table-wrapper .btn.btn-success {
                color: #fff;
                background: #198754;
            }

                .table-wrapper .btn.btn-success:hover {
                    background: #198754;
                }

                .table-wrapper .btn.btn-success:disabled {
                    background-color: #7f8c8d;
                    cursor: not-allowed;
                    opacity: 0.6;
                }

            .table-wrapper .btn.btn-danger {
                color: #fff;
                background: #dc3545;
            }

                .table-wrapper .btn.btn-danger:hover {
                    background: #dc3545;
                }

                .table-wrapper .btn.btn-danger:disabled {
                    background-color: #7f8c8d;
                    cursor: not-allowed;
                    opacity: 0.6;
                }

    .table-title .btn {
        font-size: 17px;
        border: none;
    }

        .table-title .btn i {
            float: left;
            font-size: 21px;
            margin-right: 5px;
        }

        .table-title .btn span {
            float: left;
            margin-top: 2px;
            height: 21px;
        }

    .table-title {
        color: #fff;
        background: #4b5366;
        padding: 16px 25px;
        margin: -20px -25px 10px;
        border-radius: 3px 3px 0 0;
    }

        .table-title h2 {
            margin: 5px 0 0;
            font-size: 24px;
        }

    .show-entries select.form-control {
        width: 60px;
        margin: 0 5px;
    }

    .table-filter .filter-group {
        float: right;
        margin-left: 15px;
    }

    .table-filter input, .table-filter select {
        height: 34px;
        border-radius: 3px;
        border-color: #ddd;
        box-shadow: none;
    }

    .table-filter {
        padding: 5px 0 15px;
        border-bottom: 1px solid #e9e9e9;
        margin-bottom: 5px;
    }

        .table-filter .btn {
            height: 34px;
        }

        .table-filter label {
            font-weight: normal;
            margin-left: 10px;
        }

        .table-filter select, .table-filter input {
            display: inline-block;
            margin-left: 5px;
        }

        .table-filter input {
            width: 200px;
            display: inline-block;
        }

    .filter-group select.form-control {
        width: 110px;
    }

    .filter-icon {
        float: right;
        margin-top: 7px;
    }

        .filter-icon i {
            font-size: 18px;
            opacity: 0.7;
        }

    /* .table > :not(caption) > * > * {
                        padding: 0 !important;
                    } */

    .tblRow {
        padding: 0 !important;
    }

    .tblCol1 {
        width: 30%;
    }

    .tblCol2 {
        width: 60%;
    }

    .tblCol3 {
        width: 10%;
        place-content: center;
    }

    /* --- System Log Area --- */
    .system-log-container {
        background-color: var(--card-bg);
        margin: 0px 20px 20px 20px;
        padding: 15px;
        border-radius: 8px;
        border: 1px solid var(--accent-color);
    }

    #system-log {
        background-color: var(--bg-main);
        color: #7f8c8d;
        height: 350px;
        overflow-y: auto;
        padding: 10px;
        font-family: monospace;
        font-size: 0.9em;
        border-radius: 4px;
    }

    .log-entry {
        margin-bottom: 3px;
        white-space: nowrap;
    }

    .log-info {
        color: var(--text-color);
    }

    .log-alert {
        color: var(--status-alarm);
        font-weight: bold;
    }

    .log-success {
        color: var(--status-ok);
    }

    .status-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
        margin-bottom: 24px;
    }

    .status-card {
        background: #f9fafb;
        border-radius: 14px;
        padding: 16px;
        text-align: center;
        border: 1px solid #e5e7eb;
    }

        .status-card h3 {
            font-size: 13px;
            color: #6b7280;
            margin-bottom: 6px;
        }

        .status-card .value {
            font-size: 22px;
            font-weight: 600;
        }

    .yellow {
        background: #ffc107;
    }

    .circle {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        box-shadow: 0px 0px 1px 1px #0000001a;
    }

    .pulse {
        animation: pulse-animation 2s infinite;
    }

    @@keyframes pulse-animation {
        0% {
            box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
        }

        100% {
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
        }
    }
</style>


@section PageHeader {
    <header class="d-flex align-items-center justify-content-between w-100">
        <h2 class="pageTitle">Trolley Column Status</h2>
        <div class="d-flex gap-2">
            <input type="checkbox" id="chkAuto" />
            <label for="chkAuto" style="align-content:center; margin-right:10px;">Auto Refresh</label>
            <button type="button" class="btn btn-warning" onclick="export()">
                Export
            </button>
        </div>
    </header>
}

<div class="container-fluid">
    <br />

    <input type="hidden" id="xToken" value="@ViewBag.xToken" autocomplete="off">

    <div class="row" style="padding:5px;">
        @* <div class="col-sm-4" style=""></div>
            <div class="col-sm-4" style=""></div> *@
        <div class="col-sm-6" style="">
            <div class="row">
                <div class="col-3" style="padding:0;">
                    @* <select id="selDateType" name="DateType" class="form-control">
                            <option value="25">25</option>
                            <option value="50">50</option>
                        </select> *@
                    <label>Trolley : </label>
                </div>
                <div class="col-3" style="padding:0;">
                    <input id="txtTrolley" type="text" class="form-control" style="" placeholder="Trolley" />
                </div>
                <div class="col-3" style="padding:0;">
                    <button type="button" class="btn btn-primary" style="width:100%;" onclick="generate()"><i class="bi bi-search"></i> </button>
                </div>
                <div class="col-3" style="padding:0 10px; align-content:center; ">
                    <input type="checkbox" id="chkAutoRun" onclick="autoChanged()" />
                    <label for="chkAutoRun" style="margin-right:10px;">Auto Refresh</label>
                </div>
            </div>
        </div>
    </div>
    <hr />

    <!-- Status -->
    <div class="status-grid">
        <div class="status-card">
            <h3>Inactive Slot</h3>
            <div class="value" id="txtInactive">-</div>
        </div>
        <div class="status-card">
            <h3>Need Checking Slot</h3>
            <div class="value" id="txtCheck">–</div>
        </div>
        <div class="status-card">
            <h3>Occupied Slot</h3>
            <div class="value" id="txtOT">Empty Tray : -</div>
            <div class="value" id="txtOTR">Total Reel : -</div>
            <div class="value" id="txtOTRN">Slot w Reel : -</div>
        </div>
        <div class="status-card">
            <h3>Available Slot</h3>
            <div class="value" id="txtA">-</div>
        </div>
        @* <div class="status-card">
            <h3>Empty Drawer</h3>
            <div class="value" id="txtErr" style="color: darkred;">-</div>
        </div> *@
    </div>

    <hr />

    <div class="row">
        <div class="col-6">
            <p style="text-align: center; margin: 0;text-decoration: underline;">Side A</p>
        </div>
        <div class="col-6">
            <p style="text-align: center; margin: 0;text-decoration: underline;">Side B</p>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            @* <p style="text-align: center; margin: 0;">Column 1</p> *@
            <table class="table table-striped table-hover" id="list1Table">
                <tbody id="list1TableBody"></tbody>
            </table>
        </div>
        <div class="col-2">
            @* <p style="text-align: center; margin: 0;">Column 2</p> *@
            <table class="table table-striped table-hover" id="list2Table">
                <tbody id="list2TableBody"></tbody>
            </table>
        </div>
        <div class="col-2">
            @* <p style="text-align: center; margin: 0;">Column 3</p> *@
            <table class="table table-striped table-hover" id="list3Table">
                <tbody id="list3TableBody"></tbody>
            </table>
        </div>
        <div class="col-2">
            @* <p style="text-align: center; margin: 0;">Column 1</p> *@
            <table class="table table-striped table-hover" id="list4Table">
                <tbody id="list4TableBody"></tbody>
            </table>
        </div>
        <div class="col-2">
            @* <p style="text-align: center; margin: 0;">Column 2</p> *@
            <table class="table table-striped table-hover" id="list5Table">
                <tbody id="list5TableBody"></tbody>
            </table>
        </div>
        <div class="col-2">
            @* <p style="text-align: center; margin: 0;">Column 3</p> *@
            <table class="table table-striped table-hover" id="list6Table">
                <tbody id="list6TableBody"></tbody>
            </table>
        </div>
    </div>

</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update Slot</h4>
            </div>
            @* <form action="/bin/SaveBin" method="post"> *@
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label" for="txtSide">Side</label>
                    <input type="text" class="form-control" name="txtSide" id="txtSide" aria-describedby="Side" disabled>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="txtRowNo">Row No</label>
                    <input type="text" class="form-control" name="RowNo" id="txtRowNo" aria-describedby="Row No" disabled>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="txtPriority">Priority</label>
                    <input type="number" class="form-control" name="Priority" id="txtPriority" aria-describedby="Priority">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="chkIsActive">
                    <label class="form-check-label" for="chkIsActive">Is Active</label>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="chkHasReel">
                    <label class="form-check-label" for="chkHasReel">Has Reel</label>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="txtReelNo">Reel No</label>
                    <input type="number" class="form-control" name="ReelNo" id="txtReelNo" aria-describedby="Reel No">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="txtReelCode">Reel Code</label>
                    <input type="text" class="form-control" name="txtReelCode" id="txtReelCode" aria-describedby="Reel Code">
                </div>

                <input type="hidden" id="txtId">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="updateSlotStatus()">Update</button>
                <button type="button" class="btn btn-outline-secondary" onclick="cancelForm()">Cancel</button>
            </div>
            @* </form> *@
        </div>
    </div>
</div>

@section Scripts
{
    <link href="~/css/datatables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/sweetalert2.min.css">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/datatables.min.js"></script>
    <script src="~/js/sweetalert2.all.min.js"></script>

    <script type="text/javascript">

        var autoTimer1;
        var autoTimer2;

        $(document).ready(function () {
            $('#txtTrolley').val('Trolley1A');
            loadListA();
            loadListB();
        });

        function autoChanged() {
            const chkAutoRun = document.getElementById('chkAutoRun')
            if (chkAutoRun.checked) {
                if (autoTimer1 == undefined) {
                    autoTimer1 = setInterval(loadListA, 5000);
                    autoTimer2 = setInterval(loadListB, 5000);
                }
            }
            else {
                if (autoTimer1 != undefined) {
                    clearInterval(autoTimer1);
                    clearInterval(autoTimer2);
                }
            }
        }

        function generate() {
            const chkAutoRun = document.getElementById('chkAutoRun');
            if (chkAutoRun.checked) {
                if (autoTimer1 == undefined) {
                    autoTimer1 = setInterval(loadListA, 5000);
                    autoTimer2 = setInterval(loadListB, 5000);
                }
            }
            else {
                loadListA();
                loadListB();
                if (autoTimer1 != undefined) {
                    clearInterval(autoTimer1);
                    clearInterval(autoTimer2);
                }
            }
        }

        function loadList() {
            loadListA();
            loadListB();
        }

        function loadListA() {
            $.ajax({
                url: "/Trolley/GetTrolleySlotStatus?side=A",
                type: "GET",
                dataType: 'JSON',
                // data: JSON.stringify(jsonInput),
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {
                    Swal.fire({
                        text: 'Please Wait',
                        width: '300px',

                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        showConfirmButton: false,
                    });
                    Swal.showLoading()
                },
                success: function (result) {
                    // console.log(result);
                    swal.close();
                    if (result.success == true) {

                        var idx = 1;
                        for (let iC = 1; iC <= 3; iC++) {
                            const tbl = document.getElementById('list' + iC + 'Table');
                            const tableBody = document.getElementById('list' + iC + 'TableBody');
                            tableBody.innerHTML = '';
                            idx = 1;

                            for (let i = 0; i < 150; i++) { // Example: Add 5 rows
                                var colNo = iC;
                                if (result.data[idx - 1].colNo != iC) {
                                    idx = idx + 1;
                                    continue;
                                }
                                // if (s == "A") {
                                // }
                                // else {
                                //     if (result.data[idx - 1].colNo != (iC + 100)) {
                                //         idx = idx + 1;
                                //         continue;
                                //     }
                                //     colNo = iC + 100;
                                // }

                                const rawData = JSON.stringify(result.data[idx - 1]);
                                const newRow = tbl.insertRow(); // or document.createElement('tr');
                                const cell1 = newRow.insertCell(); // or document.createElement('td');
                                cell1.innerHTML = `<a style="font-size:10px;" class="edit-btn"
                                href='javascript:none;' id='btnUpdate' data-row='${rawData}' > `+ result.data[idx - 1].colNo + '-' + result.data[idx - 1].rowNo + '</a>';
                                $(cell1).addClass("tblRow tblCol1");
                                const cell2 = newRow.insertCell();
                                    if (result.data[idx - 1].hasReel) {
                                        if (result.data[idx - 1].reelNo == 0) {
                                            cell2.innerHTML = '<img src="../assets/img/tray_full_icon_138077.png" style="display:flex;justify-self: center; height:25px;" />';
                                        }
                                        else {
                                            cell2.innerHTML = '<span style="display:flex;justify-self: center; font-size:15px;">2</span>';
                                        }
                                    }
                                    else {
                                        if (result.data[idx - 1].hasEmptyTray) {
                                            cell2.innerHTML = '<img src="../assets/img/tray_icon_136086.png" style="display:flex;justify-self: center;width:25px;height:25px;" />';
                                        }
                                        else {
                                            cell2.innerHTML = '';
                                        }
                                    }
                                $(cell2).addClass("tblRow tblCol2");
                                const cell3 = newRow.insertCell(); // or document.createElement('td');
                                if (result.data[idx - 1].needCheck) {
                                    cell3.innerHTML = '<div class="circle pulse yellow"></div>';
                                }
                                else {
                                    if (result.data[idx - 1].isActive) {
                                        cell3.innerHTML = '<span style="font-size:10px;color:lightgreen;"><i class="bi-circle-fill"></i></span>';
                                    }
                                    else {
                                        cell3.innerHTML = '<span style="font-size:10px;color:red;"><i class="bi-exclamation-circle-fill"></i></span>';
                                    }
                                }
                                $(cell3).addClass("tblRow tblCol3");

                                idx = idx + 1;
                            }
                        }

                    }
                    else {
                        swal.fire({
                            icon: 'error',
                            title: "Wait",
                            text: result.errMessage
                        });
                    }
                },
                error: function (error) {
                    swal.fire({
                        icon: 'error',
                        title: "Wait",
                        text: error.val
                    });
                }
            });

        }

        function loadListB() {
            $.ajax({
                url: "/Trolley/GetTrolleySlotStatus?side=B",
                type: "GET",
                dataType: 'JSON',
                // data: JSON.stringify(jsonInput),
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {
                    Swal.fire({
                        text: 'Please Wait',
                        width: '300px',

                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        showConfirmButton: false,
                    });
                    Swal.showLoading()
                },
                success: function (result) {
                    // console.log(result);
                    swal.close();
                    if (result.success == true) {
                        var spText = result.errMessage.split(',');
                        document.getElementById('txtInactive').innerHTML = spText[0];
                        document.getElementById('txtCheck').innerHTML = spText[1];
                        document.getElementById('txtOT').innerHTML = 'Empty Tray : ' + spText[2];
                        document.getElementById('txtOTR').innerHTML = 'Total Reel : ' + spText[3];
                        document.getElementById('txtOTRN').innerHTML = 'Slot w Reel : ' + (Number(spText[3]) + Number(spText[4]));
                        document.getElementById('txtA').innerHTML = spText[5];


                        var idx = 1;
                        for (let iC = 1; iC <= 3; iC++) {
                            const tbl = document.getElementById('list' + (iC + 3) + 'Table');
                            const tableBody = document.getElementById('list' + (iC + 3) + 'TableBody');
                            tableBody.innerHTML = '';
                            idx = 1;

                            for (let i = 0; i < 150; i++) { // Example: Add 5 rows
                                var colNo = iC;
                                if (result.data[idx - 1].colNo != iC) {
                                    idx = idx + 1;
                                    continue;
                                }
                                // if (s == "A") {
                                // }
                                // else {
                                //     if (result.data[idx - 1].colNo != (iC + 100)) {
                                //         idx = idx + 1;
                                //         continue;
                                //     }
                                //     colNo = iC + 100;
                                // }

                                const rawData = JSON.stringify(result.data[idx - 1]);
                                const newRow = tbl.insertRow(); // or document.createElement('tr');
                                const cell1 = newRow.insertCell(); // or document.createElement('td');
                                cell1.innerHTML = `<a style="font-size:10px;" class="edit-btn"
                                href='javascript:none;' id='btnUpdate' data-row='${rawData}' > ` + result.data[idx - 1].colNo + '-' + result.data[idx - 1].rowNo + '</a>';
                                $(cell1).addClass("tblRow tblCol1");
                                const cell2 = newRow.insertCell();
                                    if (result.data[idx - 1].hasReel) {
                                        if (result.data[idx - 1].reelNo == 0) {
                                            cell2.innerHTML = '<img src="../assets/img/tray_full_icon_138077.png" style="display:flex;justify-self: center; height:25px;" />';
                                        }
                                        else {
                                            cell2.innerHTML = '<span style="display:flex;justify-self: center; font-size:15px;">2</span>';
                                        }
                                    }
                                    else {
                                        if (result.data[idx - 1].hasEmptyTray) {
                                            cell2.innerHTML = '<img src="../assets/img/tray_icon_136086.png" style="display:flex;justify-self: center;width:25px;height:25px;" />';
                                        }
                                        else {
                                            cell2.innerHTML = '';
                                        }
                                    }
                                $(cell2).addClass("tblRow tblCol2");
                                const cell3 = newRow.insertCell(); // or document.createElement('td');
                                if (result.data[idx - 1].needCheck) {
                                    cell3.innerHTML = '<div class="circle pulse yellow"></div>';
                                }
                                else {
                                    if (result.data[idx - 1].isActive) {
                                        cell3.innerHTML = '<span style="font-size:10px;color:lightgreen;"><i class="bi-circle-fill"></i></span>';
                                    }
                                    else {
                                        cell3.innerHTML = '<span style="font-size:10px;color:red;"><i class="bi-exclamation-circle-fill"></i></span>';
                                    }
                                }
                                $(cell3).addClass("tblRow tblCol3");

                                idx = idx + 1;
                            }
                        }

                    }
                    else {
                        swal.fire({
                            icon: 'error',
                            title: "Wait",
                            text: result.errMessage
                        });
                    }
                },
                error: function (error) {
                    swal.fire({
                        icon: 'error',
                        title: "Wait",
                        text: error.val
                    });
                }
            });

        }

        $('#list1Table').on('click', '.edit-btn', function () {
            const row = JSON.parse($(this).attr('data-row'));
            updateForm(row, 'A');
        });

        $('#list2Table').on('click', '.edit-btn', function () {
            const row = JSON.parse($(this).attr('data-row'));
            updateForm(row, 'A');
        });

        $('#list3Table').on('click', '.edit-btn', function () {
            const row = JSON.parse($(this).attr('data-row'));
            updateForm(row, 'A');
        });

        $('#list4Table').on('click', '.edit-btn', function () {
            const row = JSON.parse($(this).attr('data-row'));
            updateForm(row, 'B');
        });

        $('#list5Table').on('click', '.edit-btn', function () {
            const row = JSON.parse($(this).attr('data-row'));
            updateForm(row, 'B');
        });

        $('#list6Table').on('click', '.edit-btn', function () {
            const row = JSON.parse($(this).attr('data-row'));
            updateForm(row, 'B');
        });

        function updateForm(row, side) {
            $("#txtId").val(row.trolleySlot_Id);
            $("#txtSide").val(side);
            $("#txtRowNo").val(row.rowNo);
            if (row.isActive == true) {
                document.getElementById("chkIsActive").checked = true;
            }
            else {
                document.getElementById("chkIsActive").checked = false;
            }
            if (row.hasReel == true) {
                document.getElementById("chkHasReel").checked = true;
            }
            else {
                document.getElementById("chkHasReel").checked = false;
            }
            $("#txtReelNo").val(row.reelNo);
            $("#txtPriority").val(row.priority);
            $("#txtReelCode").val(row.reelCode);
            $("#myModal").modal("show");
        }

        function updateSlotStatus() {
            const chkIsAct = document.querySelector('#chkIsActive');
            const chkHasEmptyTray = document.querySelector('#chkHasEmptyTray');
            const chkHasReel = document.querySelector('#chkHasReel');

            var data = {
                Slot_Id: $("#txtId").val(),
                RowNo: Number($("#txtRowNo").val()),
                Priority: Number($("#txtPriority").val()),
                IsActive: chkIsAct.checked ? true : false,
                HasReel: chkHasReel.checked ? true : false,
                ReelNo: $("#txtReelNo").val(),
                ReelCode: $("#txtReelCode").val(),
            }

            //console.log(JSON.stringify(data));

            $.ajax({
                url: '/Trolley/UpdateTrolleySlotStatus',
                type: 'POST',
                data: JSON.stringify(data),
                dataType: 'JSON',
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {
                    Swal.fire({
                        text: 'Please Wait',
                        width: '300px',

                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        showConfirmButton: false,
                    });
                    Swal.showLoading()
                },
                success: function (result) {
                    // console.log(result);
                    if (result.success == true) {
                        $("#myModal").modal("toggle");
                        swal.fire({
                            icon: 'success',
                            title: "Success Update",
                            text: "",
                            didClose: () => {
                              window.location.reload();
                            }
                        });
                    }
                    else {
                        swal.fire({
                            icon: 'error',
                            title: "Wait",
                            text: result.errMessage
                        });
                    }
                },
                error: function (error) {
                    console.log(error);
                    swal.fire({
                        icon: 'error',
                        title: "Wait",
                        text: error.val
                    });
                }
            });

            // console.log(id);
        }

        function cancelForm() {
            $("#myModal").modal("toggle");
        }

    </script>
}
