@model RackingSystem.Models.Trolley.TrolleyListDTO
@{}

<style>
    .row .form-check {
        margin-left: 10px;
    }

    .ipSection {
        /* border: 1px dashed black; */
        padding: 10px;
    }

    .sectionTitle {
        text-align: center;
        padding: 5px;
        margin-bottom: 10px;
        width :100%;
        background-color: #E6E6E6;
    }
</style>

@section PageHeader {
    <header class="d-flex align-items-center justify-content-between w-100">
        <h2 class="pageTitle">Universal Trolley List</h2>
        <div class="d-flex">
            <button type="button" class="btn btn-success" onclick="newTrolleyForm()">
                Add New Universal Trolley
            </button>
        </div>
    </header>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body pt-0">
                    <div class="text-nowrap table-container mt-1">
                        <table id="listTable" class="dataTable row-border hover order-column" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Universal Trolley Code</th>
                                    @* <th>IP Address</th> *@
                                    <th>Remark</th>
                                    @* <th>Total Column</th> *@
                                    @* <th>Row No</th> *@
                                    <th>Is Active</th>
                                    @* <th>Status</th> *@
                                    @* <th>Side</th> *@
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" data-bs-backdrop="static" data-bs-focus="false" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalTitle">Update Universal Trolley</h4>
            </div>
            <div class="modal-body">
                <div class="row mb-3">
                    <div class="col">
                        <label class="form-label" for="txtCode">Universal Trolley Code</label>
                        <input type="text" class="form-control" name="LoaderCode" id="txtCode" aria-describedby="Trolley Code" oninput="removeErrMsg(this.id)">
                        <div id="txtCodeError" class="error-message"></div>
                    </div>
                    <div class="col">
                        <label class="form-label" for="txtRemark">Remark</label>
                        <input type="text" class="form-control" name="Remark" id="txtRemark" aria-describedby="Remark">
                    </div>
                </div>
                <div class="sectionTitle">IP Address 1</div>
                <div class="ipSection">
                    <div class="row mb-1">
                        <div class="col">
                            <label class="form-label" for="txtIP1">IP Address</label>
                            <input type="text" class="form-control" name="txtIP1" id="txtIP1" aria-describedby="IP Address1" oninput="formatIP(this)">
                            <div id="txtIP1Error" class="error-message"></div>
                        </div>
                        <div class="col">
                            <label class="form-label" for="txtIpAdd1RowNo">Row No (Per Column)</label>
                            <input type="number" class="form-control" name="txtIpAdd1RowNo" id="txtIpAdd1RowNo" aria-describedby="Total Row" oninput="removeErrMsg(this.id)">
                            <div id="txtIpAdd1RowNoError" class="error-message"></div>
                            @* <label class="form-label" for="txtTotalCol">Total Column</label>
                    <input type="number" class="form-control" name="TotalCol" id="txtTotalCol" aria-describedby="Total Column">
                    <div id="txtTotalColError" class="error-message"></div> *@
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label" for="txtAdd1AColNo">Side A Column No</label>
                            <input type="number" class="form-control" name="txtAdd1AColNo" id="txtAdd1AColNo" aria-describedby="IP1 Column 1" oninput="removeErrMsg(this.id)">
                            <div id="txtAdd1AColNoError" class="error-message"></div>
                        </div>
                        <div class="col">
                            <label class="form-label" for="txtAdd1BColNo">Side B Column No</label>
                            <input type="number" class="form-control" name="txtAdd1BColNo" id="txtAdd1BColNo" aria-describedby="IP1 Column2" oninput="removeErrMsg(this.id)">
                            <div id="txtAdd1BColNoError" class="error-message"></div>
                        </div>
                    </div>
                </div>
                
                <div class="sectionTitle">IP Address 2</div>
                <div class="ipSection">
                    <div class="row mb-1">
                        <div class="col">
                            <label class="form-label" for="txtIP2">IP Address</label>
                            <input type="text" class="form-control" name="txtIP2" id="txtIP2" aria-describedby="IP Address2" oninput="formatIP(this)">
                            <div id="txtIP2Error" class="error-message"></div>
                        </div>
                        <div class="col">
                            <label class="form-label" for="txtIpAdd2RowNo">Row No (Per Column)</label>
                            <input type="number" class="form-control" name="txtIpAdd2RowNo" id="txtIpAdd2RowNo" aria-describedby="Total Row2" oninput="removeErrMsg(this.id)">
                            <div id="txtIpAdd2RowNoError" class="error-message"></div>
                            @* <label class="form-label" for="txtTotalCol">Total Column</label>
                    <input type="number" class="form-control" name="TotalCol" id="txtTotalCol" aria-describedby="Total Column">
                    <div id="txtTotalColError" class="error-message"></div> *@
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label" for="txtAdd2AColNo">Side A Column No</label>
                            <input type="number" class="form-control" name="txtAdd2AColNo" id="txtAdd2AColNo" aria-describedby="IP2 Column 1" oninput="removeErrMsg(this.id)">
                            <div id="txtAdd2AColNoError" class="error-message"></div>
                        </div>
                        <div class="col">
                            <label class="form-label" for="txtAdd2BColNo">Side B Column No</label>
                            <input type="number" class="form-control" name="txtAdd2BColNo" id="txtAdd2BColNo" aria-describedby="IP2 Column2" oninput="removeErrMsg(this.id)">
                            <div id="txtAdd2BColNoError" class="error-message"></div>
                        </div>
                    </div>
                </div>

                <div class="sectionTitle">IP Address 3</div>
                <div class="ipSection">
                    <div class="row mb-1">
                        <div class="col">
                            <label class="form-label" for="txtIP3">IP Address</label>
                            <input type="text" class="form-control" name="txtIP3" id="txtIP3" aria-describedby="IP Address3" oninput="formatIP(this)">
                            <div id="txtIP3Error" class="error-message"></div>
                        </div>
                        <div class="col">
                            <label class="form-label" for="txtIpAdd3RowNo">Row No (Per Column)</label>
                            <input type="number" class="form-control" name="txtIpAdd3RowNo" id="txtIpAdd3RowNo" aria-describedby="Total Row3" oninput="removeErrMsg(this.id)">
                            <div id="txtIpAdd3RowNoError" class="error-message"></div>
                            @* <label class="form-label" for="txtTotalCol">Total Column</label>
                    <input type="number" class="form-control" name="TotalCol" id="txtTotalCol" aria-describedby="Total Column">
                    <div id="txtTotalColError" class="error-message"></div> *@
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label" for="txtAdd3AColNo">Side A Column No</label>
                            <input type="number" class="form-control" name="txtAdd3AColNo" id="txtAdd3AColNo" aria-describedby="IP3 Column 1" oninput="removeErrMsg(this.id)">
                            <div id="txtAdd3AColNoError" class="error-message"></div>
                        </div>
                        <div class="col">
                            <label class="form-label" for="txtAdd3BColNo">Side B Column No</label>
                            <input type="number" class="form-control" name="txtAdd3BColNo" id="txtAdd3BColNo" aria-describedby="IP3 Column2" oninput="removeErrMsg(this.id)">
                            <div id="txtAdd3BColNoError" class="error-message"></div>
                        </div>
                    </div>
                </div>

                @*
                <div class="row mb-3">
                    <label class="form-label" for="txtTotalRow">Total Row</label>
                    <input type="number" class="form-control" name="TotalRow" id="txtTotalRow" aria-describedby="Total Row">
                    <div id="txtTotalRowError" class="error-message"></div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="txtRemark">Remark</label>
                    <input type="text" class="form-control" name="Remark" id="txtRemark" aria-describedby="Remark">
                    <div id="txtRemarkError" class="error-message"></div> 
                </div>*@
                @* <div class="mb-3 row">
                    <label class="form-label">Trolley Side</label>
                    <div class="col-3 form-check">
                        <input class="form-check-input" type="radio" id="sideL" name="side" value="0" checked/>
                        <label for="sideL">Left Side</label>
                    </div>
                    <div class="col-3 form-check">
                        <input class="form-check-input" type="radio" id="sideR" name="side" value="1" />
                        <label for="sideR">Right Side</label>
                    </div>
                </div> *@
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="chkIsActive">
                    <label class="form-check-label" for="chkIsActive">Active</label>
                </div>

                <input type="hidden" id="txtId">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="saveTrolley()">Save</button>
                <button type="button" class="btn btn-outline-secondary" onclick="cancelForm()">Cancel</button>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <link rel="stylesheet" href="~/css/sweetalert2.min.css">
    <link rel="stylesheet" href="~/css/dataTables.dataTables.css">
    <link rel="stylesheet" href="~/css/columnControl.dataTables.css">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="../js/dataTables.js"></script>
    <script src="../js/dataTables.columnControl.js"></script>
    <script src="../js/columnControl.dataTables.js"></script>
    <script src="~/js/sweetalert2.all.min.js"></script>

    @* <link rel="stylesheet" href="~/css/gridjs.min.css"> *@
    @* <script src="~/js/gridjs.umd.js"></script> *@

	<script type="text/javascript">
        $(document).ready(function () {
            loadList();
        });

        function loadList() {
            $.ajax({
                url: "/Trolley/GetTrolleyList/",
                type: "GET",
                dataType: 'JSON',
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {
                    Swal.fire({
                        text: 'Please Wait',
                        width: '300px',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        showConfirmButton: false,
                    });
                    Swal.showLoading()
                },
                success: function (result) {
                    swal.close()
                    if (result.success == true) {
                        console.log(result.data);
                        
                        $('#listTable').DataTable( {
                            data: result.data,
                            paging: true,
                            pageLength: 50,
                            lengthMenu: [50, 100, 250, 500, 1000],
                            columns: [
                                { data: 'trolleyCode' },
                                { data: 'remark' },
                                {
                                    data: null,
                                    render: function (data, type, row, meta) {
                                        if (row.isActive == true) {
                                            return '<span class="badge rounded-pill bg-success" style="font-size:13px;">Active</span>'
                                        }
                                        else {
                                            return '<span class="badge rounded-pill bg-secondary" style="font-size:13px;">Inactive</span>'
                                        }
                                    }
                                },
                                {
                                    data: null,
                                    render: function (data, type, row, meta) {
                                        const rawData = JSON.stringify(row).replace(/"/g, "&quot;");
                                        return `<div style="display:flex;">
                                                    <button class="btn btn-warning d-grid edit-btn" style="margin-right:10px;" data-row="${rawData}">
                                                        <span><i class="bi bi-pencil-square pe-1"></i>Edit</span>
                                                    </button>
                                                    <button class="btn btn-danger deactivate-account delete-btn" data-id="${row.trolley_Id}" data-code="${row.trolleyCode}">
                                                        <span><i class="bi bi-trash pe-1"></i>Delete</span>
                                                    </button>
                                                </div>`;
                                    }
                                },
                                // { data: 'ipAdd1', visible: false },
                                // { data: 'ipAdd2', visible: false },
                                // { data: 'ipAdd3', visible: false },
                                // { data: 'ipAdd1AColNo', visible: false },
                                // { data: 'ipAdd1BColNo', visible: false },
                                // { data: 'ipAdd2AColNo', visible: false },
                                // { data: 'ipAdd2BColNo', visible: false },
                                // { data: 'ipAdd3AColNo', visible: false },
                                // { data: 'ipAdd3BColNo', visible: false },
                            ],
                            language: {
                                searchPlaceholder: "🔍︎ Search",
                                search: ""
                            },
                            ordering: {
                                indicators: false
                            },
                            columnControl: ['orderStatus']
                        });
                    }
                    else {
                        swal.fire({
                            icon: 'error',
                            title: "Wait",
                            text: result.errMessage
                        });
                    }
                },
                error: function (error) {
                    swal.fire({
                        icon: 'error',
                        title: "Wait",
                        text: error.val
                    });
                }
            });
        }

        function newTrolleyForm()
        {
            $("#txtId").val("0");
            $('#txtIP1, #txtCode, #txtIpAdd1RowNo, #txtRemark, #txtAdd1AColNo, #txtAdd1BColNo, #txtIP2, #txtIpAdd2RowNo, #txtAdd2AColNo, #txtAdd2BColNo, #txtIP3, #txtIpAdd3RowNo, #txtAdd3AColNo, #txtAdd3BColNo').val("");
            // document.getElementById("sideL").checked = true;
            document.getElementById("chkIsActive").checked = true;
            $('#modalTitle').text('New Universal Trolley');
            $("#myModal").modal("show");
        }

        function cancelForm() {
            $('#myModal').modal("toggle");
            const fields = ['txtCode', 'txtIP1', 'txtIP2', 'txtIP3', 'txtAdd1AColNo', 'txtAdd1BColNo', 'txtAdd2AColNo', 'txtAdd2BColNo', 'txtAdd3AColNo', 'txtAdd3BColNo', 'txtIpAdd1RowNo', 'txtIpAdd2RowNo', 'txtIpAdd3RowNo']
            
            removeErrMsg(fields, true);
        }

        $('#listTable').on('click', '.edit-btn', function() {
            const row = JSON.parse($(this).attr('data-row'));
            editTrolleyForm(row);
        });

        function editTrolleyForm(row) {
            $('#txtId').val(row.trolley_Id);
            $("#txtCode").val(row.trolleyCode);
            $("#txtIP1").val(row.ipAdd1);
            $("#txtIP2").val(row.ipAdd2);
            $("#txtIP3").val(row.ipAdd3);
            $("#txtAdd1AColNo").val(row.ipAdd1AColNo);
            $("#txtAdd1BColNo").val(row.ipAdd1BColNo);
            $("#txtAdd2AColNo").val(row.ipAdd2AColNo);
            $("#txtAdd2BColNo").val(row.ipAdd2BColNo);
            $("#txtAdd3AColNo").val(row.ipAdd3AColNo);
            $("#txtAdd3BColNo").val(row.ipAdd3BColNo);
            $("#txtIpAdd1RowNo").val(row.ipAdd1RowNo);
            $("#txtIpAdd2RowNo").val(row.ipAdd2RowNo);
            $("#txtIpAdd3RowNo").val(row.ipAdd3RowNo);
            $("#txtRemark").val(row.remark);

            if (row.isActive == true) {
                document.getElementById("chkIsActive").checked = true;
            } 
            else {
                document.getElementById("chkIsActive").checked = false;
            }
            $('#modalTitle').text('Edit Universal Trolley');
            $("#myModal").modal("show");
        }

        function removeErrMsg(fields, clearValue = false) {
            if (fields != null) {

                if (!Array.isArray(fields)) {
                    fields = [fields];
                }
                fields.forEach(function(field) {
                    // const input = document.getElementById(field.id);
                    // const errorline = document.getElementById(field.id + 'Error');

                    // if (input)
                    // {
                    //     input.classList.remove('is-invalid');
                    //     input.classList.remove('is-valid');
                    //     if (clearValue) input.value = '';
                    // }

                    // if (errorline)
                    // {
                    //     errorline.textContent = '';
                    // }
                    document.getElementById(field).classList.remove('is-invalid');
                    document.getElementById(field).classList.remove('is-valid');
                    document.getElementById(field + 'Error').textContent = '';
                    if (clearValue) document.getElementById(field).value = '';

                });
            }
            
            if (clearValue) document.getElementById('chkIsActive').checked = false;
        }

        function showError(fieldId, message) {
            document.getElementById(fieldId).classList.add('is-invalid');
            document.getElementById(fieldId + 'Error').textContent = message;
        }

        function formatIP(input) {

            removeErrMsg(input.id);
            let value = input.value.replace(/[^\d]/g, '');

            if (input.value.length > 15) {
                input.value = input.value.slice(0, 15);
            }
        }

        function validateTrolley() {
            let isValid = true;
            const fields = [
                { id: 'txtCode', name: 'Trolley Code', required: true, numeric: false },
                { id: 'txtIP1', name: 'IP Address1', required: true, numeric: false },
                { id: 'txtIP2', name: 'IP Address2', required: true, numeric: false },
                { id: 'txtIP3', name: 'IP Address3', required: true, numeric: false },
                { id: 'txtAdd1AColNo', name: 'IP Address 1 - SideA Column No', required: true, numeric: true, min: 1 },
                { id: 'txtAdd1BColNo', name: 'IP Address 1 - SideB Column No', required: true, numeric: true, min: 1 },
                { id: 'txtAdd2AColNo', name: 'IP Address 2 - SideA Column No', required: true, numeric: true, min: 1 },
                { id: 'txtAdd2BColNo', name: 'IP Address 2 - SideB Column No', required: true, numeric: true, min: 1 },
                { id: 'txtAdd3AColNo', name: 'IP Address 3 - SideA Column No', required: true, numeric: true, min: 1 },
                { id: 'txtAdd3BColNo', name: 'IP Address 3 - SideB Column No', required: true, numeric: true, min: 1 },
                { id: 'txtIpAdd1RowNo', name: 'Row No', required: true, numeric: true, min: 1 },
                { id: 'txtIpAdd2RowNo', name: 'Row No', required: true, numeric: true, min: 1 },
                { id: 'txtIpAdd3RowNo', name: 'Row No', required: true, numeric: true, min: 1 },
            ];

            removeErrMsg(fields.map(f => f.id));
            fields.forEach(field => {
                const value = document.getElementById(field.id).value.trim();

                if (field.required && value === '') {
                    showError(field.id, `Please enter ${field.name}.`);
                    isValid = false;
                    return;
                }

                if (field.numeric && (isNaN(value) || Number(value) < (field.min || 0))) {
                    showError(field.id, `Please enter a valid ${field.name} (number >= ${field.min || 0}).`);
                    isValid = false;
                }
            });

            return isValid;
        }

        function saveTrolley()
        {
            if (validateTrolley())
            {
                var data = {
                    Trolley_Id: parseInt($('#txtId').val()) || 0,
                    TrolleyCode: $('#txtCode').val(),
                    IPAdd1: $('#txtIP1').val(),
                    IPAdd2: $('#txtIP2').val(),
                    IPAdd3: $('#txtIP3').val(),
                    IPAdd1AColNo: parseInt($('#txtAdd1AColNo').val()) || 0,
                    IPAdd1BColNo: parseInt($('#txtAdd1BColNo').val()) || 0,
                    IPAdd2AColNo: parseInt($('#txtAdd2AColNo').val()) || 0,
                    IPAdd2BColNo: parseInt($('#txtAdd2BColNo').val()) || 0,
                    IPAdd3AColNo: parseInt($('#txtAdd3AColNo').val()) || 0,
                    IPAdd3BColNo: parseInt($('#txtAdd3BColNo').val()) || 0,
                    Remark: $('#txtRemark').val(),
                    // TotalCol: parseInt($('#txtTotalCol').val()) || 0,
                    IPAdd1RowNo: parseInt($('#txtIpAdd1RowNo').val()) || 0,  
                    IPAdd2RowNo: parseInt($('#txtIpAdd2RowNo').val()) || 0,
                    IPAdd3RowNo: parseInt($('#txtIpAdd3RowNo').val()) || 0,
                    IsActive: chkIsActive.checked ? true : false,
                    // Side: parseInt($("input[name='side']:checked").val()) || 0,
                };

                $.ajax({
                    url: '/Trolley/SaveTrolley',
                    type: 'POST',
                    data: JSON.stringify(data),
                    dataType: 'JSON',
                    contentType: 'application/json; charset=utf-8',
                    beforeSend: function () {
                        Swal.fire({
                            text: 'Please Wait',
                            width: '300px',
                            allowEscapeKey: false,
                            allowOutsideClick: false,
                            showConfirmButton: false,
                        });
                        Swal.showLoading()
                    },
                    success: function (result) {
                        if (result.success == true) {
                            $("#colModal").modal("toggle");
                            swal.fire({
                                icon: 'success',
                                title: "Success Update",
                                text: "",
                                didClose: () => {
                                  window.location.reload();
                                }
                            });
                        }
                        else {
                            swal.fire({
                                icon: 'error',
                                title: "Wait",
                                text: result.errMessage
                            });
                        }
                    },
                    error: function (error) {
                        swal.fire({
                            icon: 'error',
                            title: "Wait",
                            text: error.val
                        });
                    }
                });
            }
        }

        $('#listTable').on('click', '.delete-btn', function() {
            const id = $(this).attr('data-id');
            const slotCode = $(this).attr('data-code');
            deleteTrolley(id, slotCode);
        });

        function deleteTrolley(id, trolleyCode) {
            swal.fire({
                title: "Are you sure want to delete?",
                text: "You will not be able to recover this record!",
                inputAttributes: {
                    autocapitalize: 'off'
                },
                showCancelButton: true,
                confirmButtonText: 'ok',
                cancelButtonText: 'cancel',
                allowOutsideClick: false
            }).then(function(r) {
                if (r.isConfirmed == true) {

                    var data = {
                        Trolley_id: id,
                        TrolleyCode: trolleyCode,
                    };

                    $.ajax({
                        url: '/Trolley/DeleteTrolley',
                        type: 'DELETE',
                        data: JSON.stringify(data),
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        beforeSend: function () {
                            Swal.fire({
                                text: 'Please Wait',
                                width: '300px',
                                allowEscapeKey: false,
                                allowOutsideClick: false,
                                showConfirmButton: false,
                            });
                            Swal.showLoading()
                        },
                        success: function (result) {
                            if (result.success == true) {
                                swal.fire({
                                    icon: 'success',
                                    title: "Success Deleted",
                                    text: "",
                                    didClose: () => {
                                      window.location.reload();
                                    }
                                });
                            }
                            else {
                                swal.fire({
                                    icon: 'error',
                                    title: "Wait",
                                    text: result.errMessage
                                });
                            }
                        },
                        error: function (error) {
                            swal.fire({
                                icon: 'error',
                                title: "Wait",
                                text: error.val
                            });
                        }
                    });
                } 
                else {
                    return;
                }
            });
        }
	</script>
}