
<style>
    body {
        color: #566787;
        background: #f5f5f5;
        /* font-family: 'Varela Round', sans-serif; */
        /* font-size: 13px; */
    }

    .table-wrapper {
        background: #fff;
        padding: 20px 25px;
        margin: 30px auto;
        border-radius: 3px;
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }

    .table-wrapper .btn {
        float: right;
        color: #333;
        background-color: #fff;
        border-radius: 3px;
        border: none;
        outline: none !important;
        margin-left: 10px;
    }

    .table-wrapper .btn:hover {
        color: #333;
        background: #f2f2f2;
    }

    .table-wrapper .btn.btn-primary {
        color: #fff;
        background: #03A9F4;
    }

    .table-wrapper .btn.btn-primary:hover {
        background: #03a3e7;
    }

    .table-wrapper .btn.btn-success {
        color: #fff;
        background: #198754;
    }

    .table-wrapper .btn.btn-success:hover {
        background: #198754;
    }

    .table-wrapper .btn.btn-success:disabled {
        background-color: #7f8c8d;
        cursor: not-allowed;
        opacity: 0.6;
    }

    .table-wrapper .btn.btn-danger {
        color: #fff;
        background: #dc3545;
    }

    .table-wrapper .btn.btn-danger:hover {
        background: #dc3545;
    }

    .table-wrapper .btn.btn-danger:disabled {
        background-color: #7f8c8d;
        cursor: not-allowed;
        opacity: 0.6;
    }

    .table-title .btn {
        font-size: 17px;
        border: none;
    }

    .table-title .btn i {
        float: left;
        font-size: 21px;
        margin-right: 5px;
    }

    .table-title .btn span {
        float: left;
        margin-top: 2px;
        height: 21px;
    }

    .table-title {
        color: #fff;
        background: #4b5366;
        padding: 16px 25px;
        margin: -20px -25px 10px;
        border-radius: 3px 3px 0 0;
    }

    .table-title h2 {
        margin: 5px 0 0;
        font-size: 24px;
    }

    .show-entries select.form-control {
        width: 60px;
        margin: 0 5px;
    }

    .table-filter .filter-group {
        float: right;
        margin-left: 15px;
    }

    .table-filter input, .table-filter select {
        height: 34px;
        border-radius: 3px;
        border-color: #ddd;
        box-shadow: none;
    }

    .table-filter {
        padding: 5px 0 15px;
        border-bottom: 1px solid #e9e9e9;
        margin-bottom: 5px;
    }

    .table-filter .btn {
        height: 34px;
    }

    .table-filter label {
        font-weight: normal;
        margin-left: 10px;
    }

    .table-filter select, .table-filter input {
        display: inline-block;
        margin-left: 5px;
    }

    .table-filter input {
        width: 200px;
        display: inline-block;
    }

    .filter-group select.form-control {
        width: 110px;
    }

    .filter-icon {
        float: right;
        margin-top: 7px;
    }

    .filter-icon i {
        font-size: 18px;
        opacity: 0.7;
    }

    /* .table > :not(caption) > * > * {
        padding: 0 !important;
    } */

    .tblRow {
        padding: 0 !important;
    }

    .tblCol1 {
        width: 30%;
    }

    .tblCol2 {
        width: 60%;
    }

    .tblCol3 {
        width: 10%;
        place-content: center;
    }

    /* --- System Log Area --- */
    .system-log-container {
        background-color: var(--card-bg);
        margin: 0px 20px 20px 20px;
        padding: 15px;
        border-radius: 8px;
        border: 1px solid var(--accent-color);
    }

    #system-log {
        background-color: var(--bg-main);
        color: #7f8c8d;
        height: 350px;
        overflow-y: auto;
        padding: 10px;
        font-family: monospace;
        font-size: 0.9em;
        border-radius: 4px;
    }

    .log-entry {
        margin-bottom: 3px;
        white-space: nowrap;
    }

    .log-info {
        color: var(--text-color);
    }

    .log-alert {
        color: var(--status-alarm);
        font-weight: bold;
    }

    .log-success {
        color: var(--status-ok);
    }

    .status-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
        margin-bottom: 24px;
    }

    .status-card {
        background: #f9fafb;
        border-radius: 14px;
        padding: 16px;
        text-align: center;
        border: 1px solid #e5e7eb;
    }

    .status-card h3 {
        font-size: 13px;
        color: #6b7280;
        margin-bottom: 6px;
    }

    .status-card .value {
        font-size: 22px;
        font-weight: 600;
    }

    .yellow {
        background: yellow;
    }

    .circle {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        box-shadow: 0px 0px 1px 1px #0000001a;
    }

    .pulse {
        animation: pulse-animation 2s infinite;
    }

    @@keyframes pulse-animation {
        0% {
            box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
        }

        100% {
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
        }
    }

    .column-usage-card {
        grid-column: span 2;
    }

    .columns-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(2, auto);
        gap: 12px;
    }


    
</style>


@section PageHeader {
    <header class="d-flex align-items-center justify-content-between w-100">
        <h2 class="pageTitle">Loader Detail List</h2>
        <div class="d-flex gap-2">
            <button type="button" class="btn btn-warning" onclick="export()">
                Export
            </button>
        </div>
    </header>
}

<div class="container-fluid">
    <input type="hidden" id="xToken" value="@ViewBag.xToken" autocomplete="off">

    <div class="row align-items-center g-2 mt-3">
        <div class="col-auto">
            <label for="selLoader" class="form-label mb-0">Loader : </label>
        </div>
        <div class="col-md-2 col-sm-3">
            <select id="selLoader" class="form-control"></select>
        </div>
        <div class="col-md-2 col-sm-3">
            <button type="button" class="btn btn-primary w-100" onclick="loadList()">
                <i class="bi bi-search"></i> 
            </button>
        </div>
    </div>
    <hr />

    <!-- Status -->
    <div class="status-grid">
        <div class="status-card">
            <h3>Status</h3>
            <div class="value" id="txtStatus"> -</div>
        </div>
        <div class="status-card column-usage-card">
            <h3>Column Capacity</h3>@*<i class="bi bi-columns-gap me-1"></i>*@
            <div class="columns-wrapper">
                <div class="usage-card" data-col="1">
                    <h3 class="fs-7 text-dark fw-bold">Column 1</h3>
                    <div class="d-flex justify-content-center gap-2 fs-8 mb-1">
                        <div class="usage-left">
                            <span class="label">Balanced:</span> 
                            <span data-type="balanced">-</span>
                        </div>
                        <div class="usage-used">
                            <span class="label">Used:</span> 
                            <span data-type="used">-</span>
                        </div>
                    </div>
                    <div class="fs-8">
                        <span class="label">Total:</span>
                        <span data-type="total">-</span>
                    </div>
                </div>

                <div class="usage-card" data-col="2">
                    <h4 class="fs-7 text-dark fw-bold">Column 2</h4>
                    <div class="d-flex justify-content-center gap-2 fs-8 mb-1">
                        <div class="usage-left">
                            <span class="label">Balanced:</span>
                            <span data-type="balanced">-</span>
                        </div>
                        <div class="usage-used">
                            <span class="label">Used:</span> 
                            <span data-type="used">-</span>
                        </div>
                    </div>
                    <div class="fs-8">
                        <span class="label">Total:</span> 
                        <span data-type="total">-</span>
                    </div>
                </div>

                <div class="usage-card" data-col="3">
                    <h4 class="fs-7 text-dark fw-bold">Column 3</h4>
                    <div class="d-flex justify-content-center gap-2 fs-8 mb-1">
                        <div class="usage-left">
                            <span class="label">Balanced:</span> 
                            <span data-type="balanced">-</span>
                        </div>
                        <div class="usage-used">
                            <span class="label">Used:</span> 
                            <span data-type="used">-</span>
                        </div>
                    </div>
                    <div class="fs-8">
                        <span class="label">Total:</span> 
                        <span data-type="total">-</span>
                    </div>
                </div>

                <div class="usage-card" data-col="4">
                    <h4 class="fs-7 text-dark fw-bold">Column 4</h4>
                    <div class="d-flex justify-content-center gap-2 fs-8 mb-1">
                        <div class="usage-left">
                            <span class="label">Balanced:</span> 
                            <span data-type="balanced">-</span>
                        </div>
                        <div class="usage-used ms-2">
                            <span class="label">Used:</span>
                            <span data-type="used">-</span>
                        </div>
                    </div>
                    <div class="fs-8">
                        <span class="label">Total:</span> 
                        <span data-type="total">-</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="status-card">
            <h3 class="title">Total Reels</h3>
            <button class="col-reel-btn text-dark fw-bold" data-col="1" id="btnCol1">
                Column 1 <span id="txtTR1" class="fs-7 text-muted">3 reels</span>
            </button>

            <button class="col-reel-btn text-dark fw-bold" data-col="2" id="btnCol2">
                Column 2 <span id="txtTR2" class="fs-7 text-muted">-</span>
            </button>

            <button class="col-reel-btn text-dark fw-bold" data-col="3" id="btnCol3">
                Column 3 <span id="txtTR3" class="fs-7 text-muted">-</span>
            </button>

            <button class="col-reel-btn text-dark fw-bold" data-col="4" id="btnCol4">
                Column 4 <span id="txtTR4" class="fs-7 text-muted">-</span>
            </button>
        </div>
    </div>

    <hr />
    <table id="listTable" class="row-border dataTable hover order-column" style="width:100%">
        <thead>
            <tr>
                <th>Column</th>
                <th>Reel Code</th>
                <th>Item Code</th>
                <th>Qty</th>
                @* <th>Action</th> *@
            </tr>
        </thead>
    </table>
</div>

@section Scripts
{
    <link rel="stylesheet" href="~/css/sweetalert2.min.css">
    <link rel="stylesheet" href="~/css/dataTables.dataTables.css">
    <link rel="stylesheet" href="~/css/columnControl.dataTables.css">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="../js/dataTables.js"></script>
    <script src="../js/dataTables.columnControl.js"></script>
    <script src="../js/columnControl.dataTables.js"></script>
    <script src="~/js/sweetalert2.all.min.js"></script>

    <script type="text/javascript">
        let globalData = [];
        let activeCol = null;

        $(document).ready(function () {
            loadLoader();
        });
        
        function loadLoader() {
            $.ajax({
                url: "/Loader/GetLoaderList/",
                type: "POST",
                dataType: 'JSON',
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    swal.close();
                    if (result.success == true) {
                        const dropdown = document.getElementById('selLoader');
                        dropdown.innerHTML = "";

                        result.data.forEach((i, index) => {
                            const option = document.createElement("option");
                            option.value = i.loader_Id;
                            option.textContent = i.loaderCode;
                            if (index === 0) {
                                option.selected = true;
                            }
                            dropdown.appendChild(option);
                        });

                        loadList();
                    }
                },
                error: function (error) {
                    swal.fire({
                        icon: 'error',
                        title: "Wait",
                        text: error.val
                    });
                }
            });
        }

        function loadList() {
            const id = document.getElementById("selLoader").value;

            $.ajax({
                url: "/Loader/GetLoaderDetailList?id=" + id,
                type: "GET",
                dataType: 'JSON',
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {
                    Swal.fire({
                        text: 'Please Wait',
                        width: '300px',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        showConfirmButton: false,
                    });
                    Swal.showLoading();
                },
                success: function (result) {
                    swal.close();
                    if (result.success == true) {
                        var spText = result.errStackTrace.split(',');
                        console.log(result.data);
                        globalData = result.data;
                        // document.getElementById('txtCol1').innerHTML = "Usage Col 1 : " + spText[0];
                        // document.getElementById('txtCol2').innerHTML = "Usage Col 2 : " + spText[1];
                        // document.getElementById('txtCol3').innerHTML = "Usage Col 3 : " + spText[2];
                        // document.getElementById('txtCol4').innerHTML = "Usage Col 4 : " + spText[3];

                        document.getElementById('txtTR1').innerHTML = spText[4] + (spText[4] > 1 ? " reels" : " reel");
                        document.getElementById('txtTR2').innerHTML = spText[5] + (spText[5] > 1 ? " reels" : " reel");
                        document.getElementById('txtTR3').innerHTML = spText[6] + (spText[6] > 1 ? " reels" : " reel");
                        document.getElementById('txtTR4').innerHTML = spText[7] + (spText[7] > 1 ? " reels" : " reel");

                        document.getElementById('txtStatus').innerHTML = spText[8];

                        //filter out the duplicate reel-id
                        const dup = new Set();
                        const filteredData = result.data.filter(row => {
                            if (dup.has(row.reelCode) || row.reel_Id == "00000000-0000-0000-0000-000000000000") {
                                return false;
                            }
                            console.log(row);
                            dup.add(row.reelCode);
                            return true;
                        });

                        console.log("filteredData", filteredData);

                        $('#listTable').DataTable( {
                            data: filteredData,
                            paging: true,
                            pageLength: 50,
                            lengthMenu: [50, 100, 250, 500, 1000],
                            "bDestroy": true,
                            columns: [
                                { data: 'colNo' },
                                { data: 'reelCode' },
                                {
                                    data: null,
                                    render: function (data, type, row, meta) {
                                        // return '<p>' + row.itemCode + '</p><p>' + row.itemDesc + '</p>';
                                        return '<p style="margin:0;"><span>' + row.itemCode + '</span><br/>' +
                                        '<span style="font-size:13px;color:grey;">' + row.itemDesc + '</span></p>';
                                    }
                                },
                                { data: 'qty' },
                            ],
                            language: {
                                searchPlaceholder: "🔍︎ Search",
                                search: ""
                            },
                            ordering: {
                                indicators: false
                            },
                            columnControl: ['orderStatus']
                        });

                        
                        const usageData = filterColumnUsage(result.data);
                        $('.usage-card').each(function() {
                            const col = $(this).data('col');
                            const colData = usageData[col];

                            if (!colData) return;
                            $(this).find('[data-type="balanced"]').text(colData.balanced);
                            $(this).find('[data-type="used"]').text(colData.used);
                            $(this).find('[data-type="total"]').text(colData.total);
                        });
                    }
                    else {
                        swal.fire({
                            icon: 'error',

                            title: "Wait",
                            text: result.errMessage
                        });
                    }
                },
                error: function (error) {
                    swal.fire({
                        icon: 'error',
                        title: "Wait",
                        text: error.val
                    });
                }
            });
        }

        function filterColumnUsage(data) {
            const usage = {};

            data.forEach(row => {
                const col = row.colNo;
                if (!usage[col]) {
                    usage[col] = {
                        total: row.colHeight + " mm",
                        balanced: row.balanceHeight + " mm",
                        used: row.colHeight - row.balanceHeight + " mm"
                    };
                }
            });

            for (let col = 1; col <= 4; col++) {
                if (!usage[col]) {
                    usage[col] = {
                        total: "50 mm",
                        balanced: "50 mm",
                        used: "0 mm"
                    };
                }
            }
            return usage;
        }

        // function filterByColumn(colNumber) {
        //     const table = $('#listTable').DataTable();
        //     table.column(0).search('').draw();

        //     const filteredData = globalData.filter(row => row.colNo == colNumber);
        //     table.clear();
        //     table.rows.add(filteredData);
        //     table.draw();
        // }

        $('.col-reel-btn').on('click', function() {
            const col = $(this).data('col');
            const table = $('#listTable').DataTable();

            if (activeCol === col) {
                activeCol = null;

                $('.col-reel-btn').removeClass('active');
                table.clear();
                table.rows.add(globalData);
                table.draw();
                return;
            }

            activeCol = col;
            $('.col-reel-btn').removeClass('active');
            $(this).addClass('active');

            const filteredData = globalData.filter(x => x.colNo == col && x.qty != 0);
            table.clear();
            table.rows.add(filteredData);
            table.draw();
        });


    </script>
}