<style>
    .edit-btn, .delete-btn {
        height: 33px;
        padding: 5px 10px;
        font-size: 14px;
    }
</style>

@section PageHeader {
    <header class="d-flex align-items-center justify-content-between w-100">
        <h2 class="pageTitle">Auto Loader List</h2>
        <div class="d-flex">
            <button type="button" class="btn btn-success" onclick="newItemForm()">
                Add New Auto Loader
            </button>
        </div>
    </header>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                @* <div class="card-header table-title">
                    <div class="card-title">
                        <h2>Auto Loader List <b></b></h2>
                    </div>
                    <div class="card-tools">
                        <button type="button" class="btn btn-success" onclick="newItemForm()">
                            Add New Auto Loader
                        </button>
                    </div>
                </div> *@
                <div class="card-body pt-0">
                    <div id="gridTable" class="table table-responsive text-nowrap mt-3"></div>
                    @* <div class="table table-striped table-bordered table-responsive text-nowrap">
                        <table id="listTable" class="dt-column-search table table-bordered table-responsive dataTable" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Auto Loader Code</th>
                                    <th>Description</th>
                                    <th>Is Active</th>
                                    <th>Status</th>
                                    <th>Total Column</th>
                                    <th>Column Height</th>
                                    <th>IP Address</th>
                                    <th>Balance</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div> *@
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update Auto Loader</h4>
            </div>
            @* <form action="/bin/SaveBin" method="post"> *@
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label" for="txtCode">Loader Code (ID)</label>
                    <input type="text" class="form-control" name="LoaderCode" id="txtCode" aria-describedby="Loader Code" maxlength="50">
                    <div id="txtCodeError" class="error-message"></div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="txtDesc">Description</label>
                    <input type="text" class="form-control" name="Description" id="txtDesc" aria-describedby="Description" maxlength="255">
                    <div id="txtDescError" class="error-message"></div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="txtTotalCol">Total Column</label>
                    <input type="number" class="form-control" name="TotalCol" id="txtTotalCol" aria-describedby="TotalCol">
                    <div id="txtTotalColError" class="error-message"></div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="txtColHeight">Column Height (mm)</label>
                    <input type="number" class="form-control" name="ColHeight" id="txtColHeight" aria-describedby="ColHeight">
                    <div id="txtColHeightError" class="error-message"></div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="txtIPAddr">IP Address</label>
                    <input type="text" class="form-control" name="IPAddr" id="txtIPAddr" aria-describedby="IP Address" maxlength="50">
                    <div id="txtIPAddrError" class="error-message"></div>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="chkIsActive">
                    <label class="form-check-label" for="chkIsActive">Is Active</label>
                </div>

                <input type="hidden" id="txtId">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="saveItem()">Save</button>
                <button type="button" class="btn btn-outline-secondary" onclick="cancelForm()">Cancel</button>
            </div>
            @* </form> *@
        </div>
    </div>
</div>

@section Scripts
{
    <link rel="stylesheet" href="~/css/sweetalert2.min.css">
    <link rel="stylesheet" href="~/css/gridjs.min.css">
    @* <link rel="stylesheet" href="~/css/datatables.min.css"> *@
    @* <script src="~/js/datatables.min.js"></script> *@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/gridjs.umd.js"></script>
    <script src="~/js/sweetalert2.all.min.js"></script>

    <script type="text/javascript">
        let gridInstance = null;

        $(document).ready(function () {
            loadList();
        });

        function loadList() {
            $.ajax({
                url: "/Loader/GetLoaderList/",
                type: "POST",
                dataType: 'JSON',
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {
                    Swal.fire({
                        text: 'Please Wait',
                        width: '300px',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        showConfirmButton: false,
                    });
                    Swal.showLoading();
                },
                success: function (result) {
                    swal.close();
                    if (result.success == true) {
                        /*
                        $('#listTable').DataTable( {
                            data: result.data,
                            paging: true,
                            pageLength: 50,
                            lengthMenu: [50, 100, 250, 500, 1000],
                            columns: [
                                { data: 'loaderCode' },
                                { data: 'description' },
                                {
                                    data: null,
                                    render: function (data, type, row, meta) {
                                        if (row.isActive == true) {
                                            return '<span><i class="bi bi-check-square" style="color: darkgreen;"></i></span>'
                                        }
                                        else {
                                            return '<span><i class="bi bi-app""></i></span>'
                                        }
                                    }
                                },
                                { data: 'status' },
                                { data: 'totalCol' },
                                { data: 'colHeight' },
                                { data: 'ipAddr' },
                                {
                                    data: null,
                                    render: function (data, type, row, meta) {
                                        return `<span>${row.balancePercentage} %</span>`;
                                    }
                                },
                                {
                                    data: null,
                                    render: function (data, type, row, meta) {
                                        const rowData = JSON.stringify(row).replace(/"/g, "&quot;");
                                        return `<div style="display:flex;"><button class="btn btn-success d-grid edit-btn" style="margin-right:10px;" data-row="${rowData}">
                                        <span><i class="bi bi-pencil-square""></i>  Edit</span></button>
                                        <button class="btn btn-danger deactivate-account delete-btn" data-id="${row.loader_Id}" data-code="${row.loaderCode}"><span><i class="bi bi-trash""></i>  Delete</span></button></div>`;

                                        // return '<div style="display:flex;"><button class="btn btn-success d-grid" style="margin-right:10px;"' +
                                        // 'onclick="editItemForm(\'' + row.loader_Id + '\', \'' + row.loaderCode + '\', \'' + row.description + '\', ' +
                                        // '\'' + row.totalCol + '\', \'' + row.colHeight + '\', ' +
                                        // '\'' + row.isActive + '\', \'' + row.ipAddr + '\' )">' +
                                        // '<span><i class="bi bi-pencil-square""></i>  Edit</span></button>' +

                                        // '<button class="btn btn-danger deactivate-account" onclick="deleteItem(\'' + row.loader_Id + '\', \'' + row.loaderCode + '\')"><span><i class="bi bi-trash""></i>  Delete</span></button></div>';
                                    }
                                }
                            ]
                        });
                        */
                       if (gridInstance) {
                           gridInstance.destroy();
                       }

                       gridInstance = new gridjs.Grid({
                           columns: [
                               { name: 'Auto Loader Code', id: 'loaderCode', width: '188px' },
                               { name: 'Description', id: 'description', width: '148px' },
                               {
                                   name: 'Active State',
                                   id: 'isActive',
                                   width: '140px',
                                   formatter: (cell, row) => {
                                        const badgeHtml = row.cells[2].data === true
                                          ? '<span class="badge rounded-pill bg-success" style="font-size:13px;">Active</span>'
                                          : '<span class="badge rounded-pill bg-secondary" style="font-size:13px;">Inactive</span>';
                                        return gridjs.html(`<div style="text-align:center;">${badgeHtml}</div>`);
                                   }
                               },
                               { name: 'Status', id: 'status' },
                               { 
                                   name: 'Total Column', 
                                   id: 'totalCol', 
                                   width: '148px',
                                   formatter: (cell) => 
                                        gridjs.html(`<div style="text-align:center;">${cell}</div>`)
                               },
                               { 
                                   name: 'Column Height', 
                                   id: 'colHeight', width: '163px', 
                                   formatter: (cell) => 
                                        gridjs.html(`<div style="text-align:center;">${cell}</div>`) 
                               },
                               { name: 'IP Address', id: 'ipAddr' },
                               { 
                                   name: 'Balance',
                                   id: 'balancePercentage',
                                   width: '110px',
                                   formatter: (cell) =>
                                        gridjs.html(`<div style="text-align:center;">${cell}%</div>`)
                               },
                               { name: 'Loader_Id', id: 'loader_Id', hidden: true },
                               {
                                   name: 'Action',
                                   formatter: (cell, row) => {
                                       const cleanRow = {
                                           loaderCode: row.cells[0]?.data,
                                           description: row.cells[1]?.data,
                                           isActive: row.cells[2]?.data,
                                           status: row.cells[3]?.data,
                                           totalCol: row.cells[4]?.data,
                                           colHeight: row.cells[5]?.data,
                                           ipAddr: row.cells[6]?.data,
                                           balance: row.cells[7]?.data,
                                           loader_Id: row.cells[8]?.data,
                                       };
                                       const rawData = btoa(JSON.stringify(cleanRow));
                                       return gridjs.html(`
                                           <div style="display: flex;">
                                               <button class="btn btn-warning d-grid edit-btn me-2" data-row="${rawData}">
                                                   <span><i class="bi bi-pencil-square"></i> Edit</span>
                                               </button>
                                               <button class="btn btn-danger d-grid delete-btn" data-id="${cleanRow.loader_Id}" data-code="${cleanRow.loaderCode}">
                                                   <span><i class="bi bi-trash"></i> Delete</span>
                                               </button>
                                           </div>
                                       `);
                                   }
                               }
                           ],
                           data: result.data,
                           pagination: true,
                           search: true,
                           sort: true,
                           resizable: true,
                           className: {
                               table: 'custom-table',
                           }
                       }).render(document.getElementById("gridTable"));

                       //remove grid-footer class
                        const footer = document.querySelector('#gridTable .gridjs-footer');
                        if (footer) {
                            footer.id = "gridFooter";
                        }
                        document.getElementById("gridFooter").classList.remove("gridjs-footer");
                    }
                    else {
                        swal.fire({
                            icon: 'error',
                            title: "Wait",
                            text: result.errMessage
                        });
                    }
                },
                error: function (error) {
                    swal.fire({
                        icon: 'error',
                        title: "Wait",
                        text: error.val
                    });
                }
            });
        }

        function newItemForm() {
            removeErrMsg([]);
            $("#txtId").val("0");
            // $("#txtCode").val("");
            // $("#txtDesc").val("");
            // $("#txtTotalCol").val("");
            // $("#txtColHeight").val("");
            // $("#txtIPAddr").val("");
            const fields = ['#txtCode', '#txtDesc', '#txtTotalCol', '#txtColHeight', '#txtIPAddr'];
            fields.forEach(i => $(i).val(''));

            document.getElementById("chkIsActive").checked = true;
            $("#myModal").modal("show");
        }

        $('#gridTable').on('click', '.edit-btn', function () {
            const row = JSON.parse(atob($(this).attr('data-row')));
            editItemForm(row);
        });

        function editItemForm(row) {
            removeErrMsg([]);
            $("#txtId").val(row.loader_Id);
            $("#txtCode").val(row.loaderCode);
            $("#txtDesc").val(row.description);
            $("#txtTotalCol").val(row.totalCol);
            $("#txtColHeight").val(row.colHeight);
            $("#txtIPAddr").val(row.ipAddr);
            if (row.isActive == true) {
                document.getElementById("chkIsActive").checked = true;
            }
            else {
                document.getElementById("chkIsActive").checked = false;
            }
            $("#myModal").modal("show");
        }

        function cancelForm() {
            $("#myModal").modal("toggle");
        }


        // Show error message and highlight invalid fields
        function showError(fieldId, message) {
            document.getElementById(fieldId).classList.add('is-invalid');
            document.getElementById(fieldId + 'Error').textContent = message;
        }

        function removeErrMsg(fields, clearValue = false) {
            fields = ['txtCode', 'txtDesc', 'txtTotalCol', 'txtColHeight', 'txtIPAddr' ];
            if (!Array.isArray(fields)) {
                fields = [fields];
            }

            fields.forEach(function(field) {
                document.getElementById(field).classList.remove('is-invalid');
                document.getElementById(field).classList.remove('is-valid');
                document.getElementById(field + 'Error').textContent = '';
                if (clearValue) document.getElementById(field).value = '';
            });
        }

        function checkInput() {
            let isValid = true;
            var txt = document.getElementById("txtCode");
            if (txt.value == "") {
                showError(txt.id, `Please enter Auto Loader Code.`);
                isValid = false;
            }
            // txt = document.getElementById("txtDesc");
            txt = document.getElementById("txtTotalCol");
            if (txt.value == "") {
                showError(txt.id, `Please enter Total Column.`);
                isValid = false;
            }
            txt = document.getElementById("txtColHeight");
            if (txt.value == "") {
                showError(txt.id, `Please enter Column Height.`);
                isValid = false;
            }
            txt = document.getElementById("txtIPAddr");
            if (txt.value == "") {
                showError(txt.id, `Please enter IP Address.`);
                isValid = false;
            }
            return isValid;
        }

        function saveItem() {
            removeErrMsg([]);
            if (checkInput() == false) {
                return;
            }

            const chkIsAct = document.querySelector('#chkIsActive');
            var data = {
                Loader_Id: $("#txtId").val(),
                LoaderCode: $("#txtCode").val(),
                Description: $("#txtDesc").val(),
                TotalCol: $("#txtTotalCol").val(),
                ColHeight: $("#txtColHeight").val(),
                IPAddr: $("#txtIPAddr").val(),
                IsActive: chkIsAct.checked ? true : false,
            }

            $.ajax({
                url: '/Loader/SaveLoader',
                type: 'POST',
                data: JSON.stringify(data),
                dataType: 'JSON',
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {
                    Swal.fire({
                        text: 'Please Wait',
                        width: '300px',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        showConfirmButton: false,
                    });
                    Swal.showLoading();
                },
                success: function (result) {
                    if (result.success == true) {
                        $("#myModal").modal("toggle");
                        swal.fire({
                            icon: 'success',
                            title: "Success Update",
                            text: "",
                            didClose: () => {
                              window.location.reload();
                            }
                        });
                    }
                    else {
                        swal.fire({
                            icon: 'error',
                            title: "Wait",
                            text: result.errMessage
                        });
                    }
                },
                error: function (error) {
                    swal.fire({
                        icon: 'error',
                        title: "Wait",
                        text: error.val
                    });
                }
            });
        }

        $('#gridTable').on('click', '.delete-btn', function () {
            const id = $(this).attr('data-id');
            const code = $(this).attr('data-code');
            deleteItem(id, code);
        });

        function deleteItem(id, code) {
            swal.fire({
                title: "Are you sure want to delete?",
                text: "You will not be able to recover this record!",
                inputAttributes: {
                    autocapitalize: 'off'
                },
                showCancelButton: true,
                confirmButtonText: 'ok',
                cancelButtonText: 'cancel',
                allowOutsideClick: false
            }).then(function(r) {
                if (r.isConfirmed == true) {

                    var data = {
                        Loader_Id: id,
                        LoaderCode: code
                    }
                    console.log(data);

                    $.ajax({
                        url: '/Loader/DeleteLoader',
                        type: 'DELETE',
                        data: JSON.stringify(data),
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        beforeSend: function () {
                            Swal.fire({
                                text: 'Please Wait',
                                width: '300px',

                                allowEscapeKey: false,
                                allowOutsideClick: false,
                                showConfirmButton: false,
                            });
                            Swal.showLoading();
                        },
                        success: function (result) {
                            if (result.success == true) {
                                // $("#myModal").modal("toggle");
                                swal.fire({
                                    icon: 'success',
                                    title: "Success Deleted",
                                    text: "",
                                    didClose: () => {
                                      window.location.reload();
                                    }
                                });
                            }
                            else {
                                swal.fire({
                                    icon: 'error',
                                    title: "Wait",
                                    text: result.errMessage
                                });
                            }
                        },
                        error: function (error) {
                            swal.fire({
                                icon: 'error',
                                title: "Wait",
                                text: error.val
                            });
                        }
                    });

                } else {
                    return;
                }
            });
        }

    </script>
}
